{% extends 'layout_main-drawer--dismissible_footer_topbar.html' %}
{% block page_description %}Innova Crear Citas, Agendar Citas, Crear Citas, Citas{% endblock %}
{% block page_title %}Innova Crear Citas{% endblock %}
{% block head_section %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jsCalendar.css') }}">
{% endblock %}
{% block css_script_section %}
<style>
  .content {
  display: none;
}

.content--active {
  display: block;
}
</style>
{% endblock %}
{% block body %}
<main class="s-main-content container-color-background">
    <!--
    <div class="mdc-layout-grid container-size-xs">
        <div class="mdc-layout-grid__inner">
            <header class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet 
                           mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle s-font-align-center">
                <img src="{{ url_for('static', filename='images/manifest/calendar.svg') }}" class="resize-image-2fit-30" alt="Logo Citas" />
                <div class="mdc-typography--headline2 s-font-color-primary">
                    Solicita tu cita.
                </div>
            </header>
        </div>
    </div>-->
    <div class="mdc-layout-grid container-appointment">
        <div class="mdc-layout-grid__inner">

            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--align-top
                        container-justify-center container-appointment-date">
                <h5 class="mdc-typography--headline5 s-font-color-primary">
                    Paso 1: Selecciona la fecha
                </h5>
                <div id="appointment-cal" class="auto-jsCalendar primary" data-language="es" data-month-format="month YYYY"
                     data-day-format="DDD" data-first-day-of-the-week="2">
                </div>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-4-tablet 
                        mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-top s-font-align-center
                        container-appointment-time">
                <h5 class="mdc-typography--headline5 s-font-color-primary">
                    Paso 2: Selecciona el horario
                </h5>

  
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet 
                mdc-layout-grid__cell--align-middle">
                    <div id="profiles" class="mdc-tab-bar" role="tablist" >
                        <div class="mdc-tab-scroller">
                        <div class="mdc-tab-scroller__scroll-area">
                            <div id="tab-Calendar" class="mdc-tab-scroller__scroll-content">
            
            
                            
                            
            
                            </div>
                        </div>
                        </div>
                    </div>
            
            
                    <!-- two -->
                    <section id="content-tab">
            
                    </section>
                    
                </div>
                
            </div>
            
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet
            mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle s-font-align-center
            container-appointmentadm-confirm">
    <h5 class="mdc-typography--headline5 s-font-color-primary">
        Paso 3: Confirma tu cita
    </h5>
    <div class="s-font-align-center" style="display:flex">
        <ul class="mdc-deprecated-list mdc-deprecated-list--non-interactive" style="margin:0 auto">
            <li class="mdc-deprecated-list-item mdc-ripple-upgraded" tabindex="-1">
                <i class="mdc-deprecated-list-item__graphic material-icons s-font-color-secondary">support_agent</i>
                <span class="mdc-deprecated-list-item__text mdc-typography--body1 container-appointment-confirm--user">{{ sdeProfile.extra_info.names }} {{ sdeProfile.extra_info.last_names }}</span>
                <input type="hidden" id="app_emp_id" value="{{ sdeProfile.id}}">
            </li>
            <li class="mdc-deprecated-list-item mdc-ripple-upgraded" tabindex="-1">
                <i class="mdc-deprecated-list-item__graphic material-icons s-font-color-secondary">handyman</i>
                <span class="mdc-deprecated-list-item__text mdc-typography--body1 container-appointment-confirm--service">{{ sdeProfile.extra_info.profession.name }}</span>
                <input type="hidden" id="app_svc_id" value="{{sdeProfile.extra_info.config.calendar}}">
            </li>

            <li class="mdc-deprecated-list-item mdc-ripple-upgraded" tabindex="-1">
                <i class="mdc-deprecated-list-item__graphic material-icons s-font-color-secondary">today</i>
                <span id="container-appointment-confirm--date" class="mdc-deprecated-list-item__text mdc-typography--body1 container-appointment-confirm--date">-</span>
            </li>
            <li class="mdc-deprecated-list-item mdc-ripple-upgraded" tabindex="-1">
                <i class="mdc-deprecated-list-item__graphic material-icons s-font-color-secondary">schedule</i>
                <span id="container-appointment-confirm--time" class="mdc-deprecated-list-item__text mdc-typography--body1 container-appointment-confirm--time">-</span>
                <input type="hidden" id="app_sch_dt" value="">
            </li>
        </ul>
    </div>
    <div class="container-appointment-confirm--submit">
        <button id="submitSaveButton" onclick="saveAppointment()" class="mdc-button mdc-button--raised mdc-ripple-upgraded" aria-label="Submit Appointment" alt="Submit Appointment" >
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Reservar cita</span>
        </button>

    </div>
</div>
        </div>
    </div>
    
</main>
{% endblock %}
{% block body_script_section %}
<script src="{{ url_for('static', filename='js/jsCalendar.lang.es.js') }}"></script>
<script src="{{ url_for('static', filename='js/jsCalendar.js') }}"></script>

<script src="{{ url_for('static', filename='js/dc/appointment.js') }}"></script>
<script src="{{ url_for('static', filename='js/dc/appointment-config.js') }}"></script>
{% endblock %}