{% extends 'layout_main-drawer--dismissible_footer_topbar.html' %}
{% block page_description %}Innova Mujer Home, Casa, Dashboard, Home{% endblock %}
{% block page_title %}Innova Mujer Home{% endblock %}
{% block body %}
<main class="s-main-content">
    <div class="container-color-background">
        <div class="mdc-layout-grid container-size-s">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet 
                ">
                    <div class="container-dashboard--profile">
                        <div class="mdc-card mdc-card--color-on-primary">
                            <div class="mdc-card__primary-action" tabindex="0">
                                <div class="mdc-card__media">
                                    {% if current_user.extra_info.avatar %}
                                    <img class="profile-background" src="{{ url_for('static', filename='upload/') }}{{current_user.extra_info.avatar}}" alt="Border Perfil" />

                                    {% else %}
                                    <img class="profile-background" src="../../static/images/manifest/innova_perfil.svg" alt="Border Perfil" />
                                    <img class="profile-pic" src="../../static/images/manifest/innova_icon.svg" alt="Foto Perfil" />
                                    {% endif %}
                                </div>
                                <div class="mdc-card__ripple"></div>
                                <img id="output"/>
                            </div>                   
                            <form id="formPIC"  action = "/ddd/" method="POST" enctype = "multipart/form-data">
                                <label htmlFor="upload-photo" style="margin: auto">
                                    <input
                                      style="display:none"
                                      id="upload-photo"
                                      name="upload-photo"
                                      type="file"
                                      onchange="loadFile(event)"
                                    />
                                  
                                    <Fab
                                    <button id="submitSaveButtonPIC"  class="mdc-button mdc-button--raised mdc-button--leading">
                                        <span class="mdc-button__ripple"></span>
                                        <i class="material-icons mdc-button__icon" aria-hidden="true"
                                          >add</i
                                        >
                                        <span class="mdc-button__label">Modificar foto de perfil </span>
                                      </button>
                                    </Fab>
                                    <br />
                                    <br />
                                  
                                    <Fab color="primary" size="small" component="span" aria-label="add">
                                      <AddIcon />
                                    </Fab>
                                  </label>
                            </form>                         
  
                            <div class="mdc-card__content">
                                <div class="mdc-typography--headline5 s-font-color-secondary">
                                    
                                    Bienvenida, 
                                    {{ current_user.name }}
                                </div>
                                
                            </div>

                        </div>
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-4-tablet">
                    <div class="container-dashboard--messages">
                        <div class="mdc-card mdc-card--color-on-primary">

                            <div class="mdc-card__content container-dashboard--messages-cnt">
                                <div class="mdc-typography--headline4 s-font-color-secondary">
                                    Bienvenida INNOVA MUJER
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, dignissimos! Consectetur perferendis sapiente facilis ab minus rerum deleniti voluptas odio, quisquam fugiat laborum aliquam non excepturi. Quaerat velit fuga similique.
                                </p>

                                <div class="container-dashboard--messages-list-empty ">
                                    <div class="mdc-layout-grid">
                                        <div class="mdc-layout-grid__inner">
                                          <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-phone">
                                            <div class="mdc-typography--body1">
                                                Datos Personales
                                            </div>
                                          </div>
                                          <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-12-phone">
                                            <div class="mdc-typography--body1">
                                                Nombres 
                                            </div>
                                            <label class="mdc-text-field mdc-text-field--filled" id="txt_name" data-assigned-var>
                                                <span class="mdc-text-field__ripple"></span>
                                                <span class="mdc-floating-label" id="my-label-id">Escribe tu nombre</span>
                                                <input required class="mdc-text-field__input" type="text" aria-labelledby="my-label-id" 
                                                {%if ctx.user.extra_info.names %}
                                                  value="{{ctx.user.extra_info.names}}"
                                                {% endif %}
                                                >
                                                <span lass="mdc-line-ripple"></span>
                                            </label>
                                          </div>
                                          <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-12-phone">
                                            <div class="mdc-typography--body1">
                                                Apellidos:
                                            </div>
                                            <label class="mdc-text-field mdc-text-field--filled" id="txt_last" data-assigned-var>
                                                <span class="mdc-text-field__ripple"></span>
                                                <span class="mdc-floating-label" id="my-label-id">Escribe tu apellidos</span>
                                                <input required class="mdc-text-field__input" type="text" aria-labelledby="my-label-id"
                                                {%if ctx.user.extra_info.last_names %}
                                                  value="{{ctx.user.extra_info.last_names}}"
                                                {% endif %}
                                                >
                                                <span class="mdc-line-ripple"></span>
                                            </label>
                                          </div>
                                          <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-12-phone">
                                            <div class="mdc-typography--body1">
                                                DNI:
                                            </div>
                                            <label class="mdc-text-field mdc-text-field--filled" id="txt_dni" data-assigned-var>
                                                <span class="mdc-text-field__ripple"></span>
                                                <span class="mdc-floating-label" id="my-label-id">DNI</span>
                                                <input required class="mdc-text-field__input" type="text" aria-labelledby="my-label-id"
                                                {%if ctx.user.extra_info.national_id %}
                                                  value="{{ctx.user.extra_info.national_id}}"
                                                {% endif %}
                                                >
                                                <span class="mdc-line-ripple"></span>
                                            </label>
                                          </div>

                                          <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-12-phone">
                                            <div class="mdc-typography--body1">
                                                Departamento:
                                            </div>
                                            <div class="mdc-select mdc-select--filled demo-width-class">
                                                <div class="mdc-select__anchor"
                                                     role="button"
                                                     aria-haspopup="listbox"
                                                     aria-expanded="false"
                                                     aria-labelledby="demo-label demo-selected-text">
                                                  <span class="mdc-select__ripple"></span>
                                                  <span id="demo-label" class="mdc-floating-label">Departamento</span>
                                                  <span class="mdc-select__selected-text-container">
                                                    <span id="demo-selected-text" class="mdc-select__selected-text"></span>
                                                  </span>
                                                  <span class="mdc-select__dropdown-icon">
                                                    <svg
                                                        class="mdc-select__dropdown-icon-graphic"
                                                        viewBox="7 10 10 5" focusable="false">
                                                      <polygon
                                                          class="mdc-select__dropdown-icon-inactive"
                                                          stroke="none"
                                                          fill-rule="evenodd"
                                                          points="7 10 12 15 17 10">
                                                      </polygon>
                                                      <polygon
                                                          class="mdc-select__dropdown-icon-active"
                                                          stroke="none"
                                                          fill-rule="evenodd"
                                                          points="7 15 12 10 17 15">
                                                      </polygon>
                                                    </svg>
                                                  </span>
                                                  <span class="mdc-line-ripple"></span>
                                                </div>
                                              
                                                <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface--fullwidth">
                                                  <ul class="mdc-deprecated-list" role="listbox" aria-label="Food picker listbox">
                                                    <li class="mdc-deprecated-list-item mdc-deprecated-list-item--selected" aria-selected="true" data-value="" role="option">
                                                      <span class="mdc-deprecated-list-item__ripple"></span>
                                                    </li>
                                                    <li class="mdc-deprecated-list-item" aria-selected="false" data-value="grains" role="option">
                                                      <span class="mdc-deprecated-list-item__ripple"></span>
                                                      <span class="mdc-deprecated-list-item__text">
                                                        Departamento 1
                                                      </span>
                                                    </li>

                                                    <li class="mdc-deprecated-list-item" aria-selected="false" data-value="fruit" role="option">
                                                      <span class="mdc-deprecated-list-item__ripple"></span>
                                                      <span class="mdc-deprecated-list-item__text">
                                                        Departamento 2
                                                      </span>
                                                    </li>
                                                  </ul>
                                                </div>
                                              </div>
                                          </div>

                                          <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-12-phone">
                                            <div class="mdc-typography--body1">
                                                Municipios:
                                            </div>
                                            <div class="mdc-select mdc-select--filled demo-width-class" id="u.city" data-assigned-var>
                                                <div class="mdc-select__anchor"
                                                     role="button"
                                                     aria-haspopup="listbox"
                                                     aria-expanded="false"
                                                     aria-labelledby="demo-label demo-selected-text">
                                                  <span class="mdc-select__ripple"></span>
                                                  <span id="demo-label" class="mdc-floating-label">Municipios</span>
                                                  <span class="mdc-select__selected-text-container">
                                                    <span id="demo-selected-text" class="mdc-select__selected-text"></span>
                                                  </span>
                                                  <span class="mdc-select__dropdown-icon">
                                                    <svg
                                                        class="mdc-select__dropdown-icon-graphic"
                                                        viewBox="7 10 10 5" focusable="false">
                                                      <polygon
                                                          class="mdc-select__dropdown-icon-inactive"
                                                          stroke="none"
                                                          fill-rule="evenodd"
                                                          points="7 10 12 15 17 10">
                                                      </polygon>
                                                      <polygon
                                                          class="mdc-select__dropdown-icon-active"
                                                          stroke="none"
                                                          fill-rule="evenodd"
                                                          points="7 15 12 10 17 15">
                                                      </polygon>
                                                    </svg>
                                                  </span>
                                                  <span class="mdc-line-ripple"></span>
                                                </div>
                                              
                                                <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface--fullwidth">
                                                  <ul class="mdc-deprecated-list" role="listbox" aria-label="Food picker listbox">
                                                    <li class="mdc-deprecated-list-item mdc-deprecated-list-item--selected" aria-selected="true" data-value="" role="option">
                                                      <span class="mdc-deprecated-list-item__ripple"></span>
                                                    </li>
                                                    <li class="mdc-deprecated-list-item" aria-selected="false" data-value="grains" role="option">
                                                      <span class="mdc-deprecated-list-item__ripple"></span>
                                                      <span class="mdc-deprecated-list-item__text">
                                                        Municipios 1 
                                                      </span>
                                                    </li>
                                                    <li class="mdc-deprecated-list-item" aria-selected="false" data-value="fruit" role="option">
                                                      <span class="mdc-deprecated-list-item__ripple"></span>
                                                      <span class="mdc-deprecated-list-item__text">
                                                        Municipios 2
                                                      </span>
                                                    </li>
                                                  </ul>
                                                </div>
                                              </div>
                                          </div>

                                        </div>
                                        
                                    </div>

                                    <div class="mdc-layout-grid">
                                      <div class="mdc-layout-grid__inner">
                                        <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-phone">
                                          <div class="mdc-typography--body1">
                                              Biografía
                                          </div>
                                        </div>
                                        <div class="mdc-layout-grid__cell--span-7-desktop mdc-layout-grid__cell--span-12-phone">
                                          <div class="mdc-typography--body1">
                                              Título del profesional
                                          </div>
                                          <label class="mdc-text-field mdc-text-field--filled" id="txt_occupation"  data-assigned-var> 
                                              <span class="mdc-text-field__ripple"></span>
                                              <span class="mdc-floating-label" id="my-label-id">Título del profesional</span>
                                              <input required class="mdc-text-field__input" type="text" aria-labelledby="my-label-id"
                                              {%if ctx.user.extra_info.company.name %}
                                              value="{{ctx.user.extra_info.company.name}}"
                                              {% endif %}
                                              >
                                              <span class="mdc-line-ripple"></span>
                                          </label>
                                        </div>
                                        <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-12-phone">
                                            <div class="mdc-typography--body1">
                                                Especilidad:
                                            </div>
                                            <div class="mdc-select mdc-select--filled demo-width-class mdc-select--required"  id="txt_profession" data-assigned-var>
                                                <div class="mdc-select__anchor " aria-required="true"
                                                     role="button"
                                                     aria-haspopup="listbox"
                                                     aria-expanded="false"
                                                     aria-labelledby="demo-label demo-selected-text">
                                                  <span class="mdc-select__ripple"></span>
                                                  <span id="demo-label" class="mdc-floating-label">Especilidad:</span>
                                                  <span class="mdc-select__selected-text-container">
                                                    <span id="demo-selected-text" class="mdc-select__selected-text"></span>
                                                  </span>
                                                  <span class="mdc-select__dropdown-icon">
                                                    <svg
                                                        class="mdc-select__dropdown-icon-graphic"
                                                        viewBox="7 10 10 5" focusable="false">
                                                      <polygon
                                                          class="mdc-select__dropdown-icon-inactive"
                                                          stroke="none"
                                                          fill-rule="evenodd"
                                                          points="7 10 12 15 17 10">
                                                      </polygon>
                                                      <polygon
                                                          class="mdc-select__dropdown-icon-active"
                                                          stroke="none"
                                                          fill-rule="evenodd"
                                                          points="7 15 12 10 17 15">
                                                      </polygon>
                                                    </svg>
                                                  </span>
                                                  <span class="mdc-line-ripple"></span>
                                                </div>
                                              
                                                <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface--fullwidth" requiere>
                                                  <ul class="mdc-deprecated-list" role="listbox" aria-label="Food picker listbox">
                                                  
                                                    {% for profession in ctx.professions %}

                                                    {% if profession.id == ctx.user.extra_info.profession_id %}
                                                    <li class="mdc-deprecated-list-item mdc-deprecated-list-item--selected" aria-selected="false" data-value="{{profession.id}}" role="option">
                                                        <span class="mdc-deprecated-list-item__ripple"></span>
                                                        <span class="mdc-deprecated-list-item__text">
                                                          {{profession.name}}
                                                        </span>
                                                      </li>
                                                    {% else %}
                                                    <li class="mdc-deprecated-list-item" aria-selected="false" data-value="{{profession.id}}" role="option">
                                                      <span class="mdc-deprecated-list-item__ripple"></span>
                                                      <span class="mdc-deprecated-list-item__text">
                                                        {{profession.name}}
                                                      </span>
                                                    </li>
                                                    {%endif%}
                                                    {% endfor %}
                                                    
                                                  </ul>
                                                </div>
                                              </div>
                                          </div>
                                        <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-12-phone">
                                          <div class="mdc-typography--body1">
                                            Teléfono:
                                          </div>
                                          <label class="mdc-text-field mdc-text-field--filled" id="txt_phone" data-assigned-var>
                                              <span class="mdc-text-field__ripple"></span>
                                              <span class="mdc-floating-label" id="my-label-id">Teléfono</span>
                                              <input required class="mdc-text-field__input" type="text" aria-labelledby="my-label-id"
                                              {%if ctx.user.phonenumber %}
                                              value="{{ctx.user.phonenumber}}"
                                              {% endif %}
                                              >
                                              <span class="mdc-line-ripple"></span>
                                          </label>
                                        </div>
                                        <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-12-phone">
                                            <div class="mdc-typography--body1">
                                                Horario de atención:
                                            </div>

                                            <label class="mdc-text-field mdc-text-field--filled" id="txt_office_hours" data-assigned-var>
                                                <span class="mdc-text-field__ripple"></span>
                                                <span class="mdc-floating-label" id="my-label-id">Horario de atención</span>
                                                <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id"
                                                {%if ctx.user.extra_info.biography.office_hours %}
                                                value="{{ctx.user.extra_info.biography.office_hours}}"
                                                {% endif %}
                                                >
                                                <span class="mdc-line-ripple"></span>
                                            </label>
                                          </div>
                                        <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-12-phone">
                                          <div class="mdc-typography--body1">
                                                LinkedIN:
                                          </div>
                                          <label class="mdc-text-field mdc-text-field--filled" id="txt_LinkedIN" data-assigned-var>
                                              <span class="mdc-text-field__ripple"></span>
                                              <span class="mdc-floating-label" id="my-label-id">LinkedIN</span>
                                              <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id"
                                              {%if ctx.user.extra_info.biography.linkedIN %}
                                              value="{{ctx.user.extra_info.biography.linkedIN}}"
                                              {% endif %}
                                              >
                                              <span class="mdc-line-ripple"></span>
                                          </label>
                                        </div>
                                        <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-phone">
                             
                                            <label class="mdc-text-field  mdc-text-field--outlined  mdc-text-field--filled mdc-text-field--textarea mdc-text-field--with-internal-counter" id="txt_bio_description" data-assigned-var> 
                                              <span class="mdc-notched-outline">
                                                <span class="mdc-notched-outline__leading"></span>
                                                <span class="mdc-notched-outline__notch">
                                                  <span class="mdc-floating-label" id="my-label-id">Descripción del servicio</span>
                                                </span>
                                                <span class="mdc-notched-outline__trailing"></span>
                                              </span>
                                              <span class="mdc-text-field__resizer">
                                                <textarea required class="mdc-text-field__input" aria-labelledby="my-label-id" rows="8" cols="40" maxlength="140">{%if ctx.user.extra_info.biography.description %}{{ctx.user.extra_info.biography.description}}{% endif %}</textarea>
                                                <span class="mdc-text-field-character-counter">0 / 140</span>
                                              </span>
                                            </label>
                                          </div>
                                        <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-phone">
                             
                                          <label class="mdc-text-field  mdc-text-field--outlined  mdc-text-field--filled mdc-text-field--textarea mdc-text-field--with-internal-counter" id="txt_bio_expertise" data-assigned-var> 
                                            <span class="mdc-notched-outline">
                                              <span class="mdc-notched-outline__leading"></span>
                                              <span class="mdc-notched-outline__notch">
                                                <span class="mdc-floating-label" id="my-label-id">Áreas de Experiencia</span>
                                              </span>
                                              <span class="mdc-notched-outline__trailing"></span>
                                            </span>
                                            <span class="mdc-text-field__resizer">
                                              <textarea required class="mdc-text-field__input" aria-labelledby="my-label-id" rows="8" cols="40" maxlength="140">{%if ctx.user.extra_info.biography.expertise %}{{ctx.user.extra_info.biography.expertise}}{% endif %}</textarea>
                                              <span class="mdc-text-field-character-counter">0 / 140</span>
                                            </span>
                                          </label>
                                        </div>
                                        <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-phone">
                                          <div class="mdc-form-field">
                                            <div class="mdc-checkbox">
                                              <input type="checkbox"
                                                     class="mdc-checkbox__native-control"
                                                     name="cxb_accept"
                                                     id="checkbox-public" 
                                                     {%if ctx.user.extra_info.company.public%}
                                                     checked
                                                     {% endif %}
                                                     />
                                              <div class="mdc-checkbox__background">
                                                <svg class="mdc-checkbox__checkmark"
                                                     viewBox="0 0 24 24">
                                                  <path class="mdc-checkbox__checkmark-path"
                                                        fill="none"
                                                        d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                                                </svg>
                                                <div class="mdc-checkbox__mixedmark"></div>
                                              </div>
                                              <div class="mdc-checkbox__ripple"></div>
                                              <div class="mdc-checkbox__focus-ring"></div>
                                            </div>
                                            <label for="checkbox-public">
                                                Selecciona esta casilla para indicar que deseas que los datos de la empresa sea publicada en el Marketplace
                                            </label>
                                        </div>
                                        </div>

                                      </div>
                                      
                                  </div>
                                </div>
                            </div>

                            <div class="mdc-card__actions" style="margin: auto">
                                <div class="mdc-card__action-buttons">
                                <center>

                                  <button id="submitSaveButton" class="mdc-button mdc-button--raised mdc-button--icon-leading" onclick="saveSDEForms()">
                                    <span class="mdc-button__ripple"></span>
                                    <span class="mdc-button__focus-ring"></span>
                                    <i class="material-icons mdc-button__icon" aria-hidden="true"
                                      >bookmark</i
                                    >
                                    <span class="mdc-button__label">Aceptar  </span>
                      
                                  </button>
                                  <!--
                                  <button class="mdc-button mdc-button--outlined">
                                    <span class="mdc-button__ripple"></span>
                                    <span class="mdc-button__focus-ring"></span>
                                    <span class="mdc-button__label">Continuar después  </span>
                                  </button>-->
                                </center>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
{% endblock %}
{% block body_script_section %}
<script src="{{ url_for('static', filename='js/bundle/home-dashboard.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}
