{% extends 'layout_main-drawer--dismissible_footer_topbar.html' %}
{% block page_description %}Innova Mujer Home, Casa, Dashboard, Home{% endblock %}
{% block page_title %}Innova Mujer Home{% endblock %}
{% block body %}
<main class="s-main-content">
    <div class="container-color-background">
        <div class="mdc-layout-grid container-size-s">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet 
                ">
                    <div class="container-dashboard--profile">
                        <div class="mdc-card mdc-card--color-on-primary">
                          <div class="mdc-card__primary-action" tabindex="0">
                            <div class="mdc-card__media">
                                {% if current_user.extra_info.avatar %}
                                <img class="profile-background" src="{{ url_for('static', filename='upload/') }}{{current_user.extra_info.avatar}}" alt="Border Perfil" />

                                {% else %}
                                <img class="profile-background" src="../../static/images/manifest/innova_perfil.svg" alt="Border Perfil" />
                                <img class="profile-pic" src="../../static/images/manifest/innova_icon.svg" alt="Foto Perfil" />
                                {% endif %}
                            </div>
                            <div class="mdc-card__ripple"></div>
                            <img id="output"/>
                        </div>                   
                        <form id="formPIC"  action = "/ddd/" method="POST" enctype = "multipart/form-data">
                            <label htmlFor="upload-photo" style="margin: auto">
                                <input
                                  style="display:none"
                                  id="upload-photo"
                                  name="upload-photo"
                                  type="file"
                                  onchange="loadFile(event)"
                                />
                              
                                <Fab
                                <button id="submitSaveButtonPIC"  class="mdc-button mdc-button--raised mdc-button--leading">
                                    <span class="mdc-button__ripple"></span>
                                    <i class="material-icons mdc-button__icon" aria-hidden="true"
                                      >add</i
                                    >
                                    <span class="mdc-button__label">Modificar foto de perfil </span>
                                  </button>
                                </Fab>
                                <br />
                                <br />
                              
                                <Fab color="primary" size="small" component="span" aria-label="add">
                                  <AddIcon />
                                </Fab>
                              </label>
                        </form>   
                            <div class="mdc-card__content">
                                <div class="mdc-typography--headline5 s-font-color-secondary">
                                    
                                    Bienvenida, 
                                    {{ current_user.name }}
                                </div>
                                
                            </div>

                        </div>
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-4-tablet">
                    <div class="container-dashboard--messages">
                        <div class="mdc-card mdc-card--color-on-primary">

                            <div class="mdc-card__content container-dashboard--messages-cnt">
                                <div class="mdc-typography--headline4 s-font-color-secondary">
                                    Bienvenida INNOVA MUJER
                                </div>
                                <p>
                                  Configura tu perfil                                 
                                </p>

                                <div class="container-dashboard--messages-list-empty ">
                                    <div class="mdc-layout-grid">
                                        <div class="mdc-layout-grid__inner">
                                          <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-phone">
                                            <div class="mdc-typography--body1">
                                                Datos Personales
                                            </div>
                                          </div>
                                          <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-12-phone">
                                            <div class="mdc-typography--body1">
                                                Nombres 
                                            </div>
                                            <label class="mdc-text-field mdc-text-field--filled" id="txt_name" data-assigned-var>
                                                <span class="mdc-text-field__ripple"></span>
                                                <span class="mdc-floating-label" id="my-label-id">Escribe tu nombre</span>
                                                <input required class="mdc-text-field__input" type="text" aria-labelledby="my-label-id" 
                                                {%if ctx.user.extra_info.names %}
                                                  value="{{ctx.user.extra_info.names}}"
                                                {% endif %}
                                                >
                                                <span lass="mdc-line-ripple"></span>
                                            </label>
                                          </div>
                                          <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-12-phone">
                                            <div class="mdc-typography--body1">
                                                Apellidos:
                                            </div>
                                            <label class="mdc-text-field mdc-text-field--filled" id="txt_last" data-assigned-var>
                                                <span class="mdc-text-field__ripple"></span>
                                                <span class="mdc-floating-label" id="my-label-id">Escribe tu apellidos</span>
                                                <input required class="mdc-text-field__input" type="text" aria-labelledby="my-label-id"
                                                {%if ctx.user.extra_info.last_names %}
                                                  value="{{ctx.user.extra_info.last_names}}"
                                                {% endif %}
                                                >
                                                <span class="mdc-line-ripple"></span>
                                            </label>
                                          </div>
                                          <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-12-phone">
                                            <div class="mdc-typography--body1">
                                                DNI:
                                            </div>
                                            <label class="mdc-text-field mdc-text-field--filled" id="txt_dni" data-assigned-var>
                                                <span class="mdc-text-field__ripple"></span>
                                                <span class="mdc-floating-label" id="my-label-id">DNI</span>
                                                <input disabled required class="mdc-text-field__input" type="text" aria-labelledby="my-label-id"
                                                {%if ctx.user.extra_info.national_id %}
                                                  value="{{ctx.user.extra_info.national_id}}"
                                                {% endif %}
                                                >
                                                <span class="mdc-line-ripple"></span>
                                            </label>
                                          </div>

                                          <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-12-phone">
                                            <div class="mdc-typography--body1">
                                                Departamento:
                                            </div>
                                            <div class="mdc-select mdc-select--filled mdc-select--required demo-width-class" id="txt_depto" data-action-fn="getCities" data-assigned-var>
                                              <div class="mdc-select__anchor" aria-required="true"
                                                   role="button"
                                                   aria-haspopup="listbox"
                                                   aria-expanded="false"
                                                   aria-labelledby="demo-label demo-selected-text">
                                                <span class="mdc-select__ripple"></span>
                                                <span id="demo-label" class="mdc-floating-label"  hiddenlabel="1.4 Departamento">Departamento</span>
                                                <span class="mdc-select__selected-text-container">
                                                  <span id="demo-selected-text" class="mdc-select__selected-text"></span>
                                                </span>
                                                <span class="mdc-select__dropdown-icon">
                                                  <svg
                                                      class="mdc-select__dropdown-icon-graphic"
                                                      viewBox="7 10 10 5" focusable="false">
                                                    <polygon
                                                        class="mdc-select__dropdown-icon-inactive"
                                                        stroke="none"
                                                        fill-rule="evenodd"
                                                        points="7 10 12 15 17 10">
                                                    </polygon>
                                                    <polygon
                                                        class="mdc-select__dropdown-icon-active"
                                                        stroke="none"
                                                        fill-rule="evenodd"
                                                        points="7 15 12 10 17 15">
                                                    </polygon>
                                                  </svg>
                                                </span>
                                                <span class="mdc-line-ripple"></span>
                                              </div>
                                            <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface--fullwidth" role="listbox" tabindex="0">
                                                <ul id="f-appointment-department-select" class="mdc-deprecated-list mdc-select__list">
                                                </ul>
                                            </div>
              
                                            </div>
                                          </div>

                                          <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-12-phone">
                                            <div class="mdc-typography--body1">
                                                Municipios:
                                            </div>
                                            <div class="mdc-select mdc-select--filled  mdc-select--required demo-width-class" id="txt_municipio"  data-assigned-var>
                                              <div class="mdc-select__anchor" aria-required="true"
                                                   role="button"
                                                   aria-haspopup="listbox"
                                                   aria-expanded="false"
                                                   aria-labelledby="demo-label demo-selected-text">
                                                <span class="mdc-select__ripple"></span>
                                                <span id="demo-label" class="mdc-floating-label" hiddenlabel="1.5 Municipio">Municipio</span>
                                                <span class="mdc-select__selected-text-container">
                                                  <span id="demo-selected-text" class="mdc-select__selected-text"></span>
                                                </span>
                                                <span class="mdc-select__dropdown-icon">
                                                  <svg
                                                      class="mdc-select__dropdown-icon-graphic"
                                                      viewBox="7 10 10 5" focusable="false">
                                                    <polygon
                                                        class="mdc-select__dropdown-icon-inactive"
                                                        stroke="none"
                                                        fill-rule="evenodd"
                                                        points="7 10 12 15 17 10">
                                                    </polygon>
                                                    <polygon
                                                        class="mdc-select__dropdown-icon-active"
                                                        stroke="none"
                                                        fill-rule="evenodd"
                                                        points="7 15 12 10 17 15">
                                                    </polygon>
                                                  </svg>
                                                </span>
                                                <span class="mdc-line-ripple"></span>
                                              </div>
                                            
                                              <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface--fullwidth" role="listbox" tabindex="0">
                                                <ul id="f-appointment-city-select" class="mdc-deprecated-list mdc-select__list">
                                                </ul>
                                            </div>
                                            </div>
                                          </div>


                                        </div>
                                        
                                    </div>

                                    <div class="mdc-layout-grid">
                                      <div class="mdc-layout-grid__inner">
                                        <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-phone">
                                          <div class="mdc-typography--body1">
                                              Datos de la empresa
                                          </div>
                                        </div>
                                        <div class="mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-12-phone">
                                          <div class="mdc-typography--body1">
                                              Nombre de la empresa
                                          </div>
                                          <label class="mdc-text-field mdc-text-field--filled" id="txt_company_name" data-assigned-var> 
                                              <span class="mdc-text-field__ripple"></span>
                                              <span class="mdc-floating-label" id="my-label-id">Nombre de la empresa</span>
                                              <input required class="mdc-text-field__input" type="text" aria-labelledby="my-label-id"
                                              {%if ctx.user.extra_info.company.name %}
                                              value="{{ctx.user.extra_info.company.name}}"
                                              {% endif %}
                                              >
                                              <span class="mdc-line-ripple"></span>
                                          </label>
                                        </div>
                                        <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-12-phone">
                                          <div class="mdc-typography--body1">
                                              RTN:
                                          </div>
                                          <label class="mdc-text-field mdc-text-field--filled" id="txt_company_rtn" data-assigned-var>
                                              <span class="mdc-text-field__ripple"></span>
                                              <span class="mdc-floating-label" id="my-label-id">RTN</span>
                                              <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id"
                                              {%if ctx.user.extra_info.company.rtn %}
                                              value="{{ctx.user.extra_info.company.rtn}}"
                                              {% endif %}
                                              >
                                              <span class="mdc-line-ripple"></span>
                                          </label>
                                        </div>
                                        <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-12-phone">
                                          <div class="mdc-typography--body1">
                                            Teléfono:
                                          </div>
                                          <label class="mdc-text-field mdc-text-field--filled" id="txt_company_phone" data-assigned-var>
                                              <span class="mdc-text-field__ripple"></span>
                                              <span class="mdc-floating-label" id="my-label-id">Teléfono</span>
                                              <input required class="mdc-text-field__input" type="text" aria-labelledby="my-label-id"
                                              {%if ctx.user.extra_info.company.phones %}
                                              value="{{ctx.user.extra_info.company.phones.phone}}"
                                              {% endif %}
                                              >
                                              <span class="mdc-line-ripple"></span>
                                          </label>
                                        </div>
                                        <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-12-phone">
                                          <div class="mdc-typography--body1">
                                              Facebook:
                                          </div>
                                          <label class="mdc-text-field mdc-text-field--filled" id="txt_company_facebook" data-assigned-var>
                                              <span class="mdc-text-field__ripple"></span>
                                              <span class="mdc-floating-label" id="my-label-id">Facebook</span>
                                              <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id"
                                              {%if ctx.user.extra_info.company.social_networks %}
                                              value="{{ctx.user.extra_info.company.social_networks.facebook}}"
                                              {% endif %}
                                              >
                                              <span class="mdc-line-ripple"></span>
                                          </label>
                                        </div>
                                        <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-12-phone">
                                          <div class="mdc-typography--body1">
                                              Instagram:
                                          </div>
                                          <label class="mdc-text-field mdc-text-field--filled" id="txt_company_instagram" data-assigned-var>
                                              <span class="mdc-text-field__ripple"></span>
                                              <span class="mdc-floating-label" id="my-label-id">Instagram</span>
                                              <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id"
                                              {%if ctx.user.extra_info.company.social_networks %}
                                              value="{{ctx.user.extra_info.company.social_networks.instagram}}"
                                              {% endif %}
                                              >
                                              <span class="mdc-line-ripple"></span>
                                          </label>
                                        </div>
                                        <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-phone">
                                          <div class="mdc-typography--body1">
                                              Dirección:
                                          </div>
                                          <label class="mdc-text-field mdc-text-field--filled" id="txt_company_address" data-assigned-var>
                                              <span class="mdc-text-field__ripple"></span>
                                              <span class="mdc-floating-label" id="my-label-id">Dirección</span>
                                              <input required class="mdc-text-field__input" type="text" aria-labelledby="my-label-id"
                                              {%if ctx.user.extra_info.company.address %}
                                              value="{{ctx.user.extra_info.company.address}}"
                                              {% endif %}
                                              >
                                              <span class="mdc-line-ripple"></span>
                                          </label>
                                        </div>
                                        <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-phone">
                             
                                          <label class="mdc-text-field  mdc-text-field--outlined  mdc-text-field--filled mdc-text-field--textarea mdc-text-field--with-internal-counter" id="txt_company_description" data-assigned-var> 
                                            <span class="mdc-notched-outline">
                                              <span class="mdc-notched-outline__leading"></span>
                                              <span class="mdc-notched-outline__notch">
                                                <span class="mdc-floating-label" id="my-label-id">Descripción</span>
                                              </span>
                                              <span class="mdc-notched-outline__trailing"></span>
                                            </span>
                                            <span class="mdc-text-field__resizer">
                                              <textarea required class="mdc-text-field__input" aria-labelledby="my-label-id" rows="8" cols="40" maxlength="140">{%if ctx.user.extra_info.company.description %}{{ctx.user.extra_info.company.description}}{% endif %}</textarea>
                                              <span class="mdc-text-field-character-counter">0 / 140</span>
                                            </span>
                                          </label>
                                        </div>
                                        <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-phone">
                                          <div class="mdc-form-field">
                                            <div class="mdc-checkbox">
                                              <input type="checkbox"
                                                     class="mdc-checkbox__native-control"
                                                     name="cxb_accept"
                                                     id="checkbox-public" 
                                                     {%if ctx.user.extra_info.company.public%}
                                                     checked
                                                     {% endif %}
                                                     />
                                              <div class="mdc-checkbox__background">
                                                <svg class="mdc-checkbox__checkmark"
                                                     viewBox="0 0 24 24">
                                                  <path class="mdc-checkbox__checkmark-path"
                                                        fill="none"
                                                        d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                                                </svg>
                                                <div class="mdc-checkbox__mixedmark"></div>
                                              </div>
                                              <div class="mdc-checkbox__ripple"></div>
                                              <div class="mdc-checkbox__focus-ring"></div>
                                            </div>
                                            <label for="checkbox-public">
                                                Selecciona esta casilla para indicar que deseas que los datos de la empresa sea publicada en el Marketplace
                                            </label>
                                        </div>
                                        </div>

                                      </div>
                                      
                                  </div>
                                </div>
                            </div>

                            <div class="mdc-card__actions" style="margin: auto">
                                <div class="mdc-card__action-buttons">
                                <center>

                                  <button id="submitSaveButton" class="mdc-button mdc-button--raised mdc-button--icon-leading" onclick="saveCompanyForms()">
                                    <span class="mdc-button__ripple"></span>
                                    <span class="mdc-button__focus-ring"></span>
                                    <i class="material-icons mdc-button__icon" aria-hidden="true"
                                      >bookmark</i
                                    >
                                    <span class="mdc-button__label">Aceptar  </span>
                      
                                  </button>
                                  <!--
                                  <button class="mdc-button mdc-button--outlined">
                                    <span class="mdc-button__ripple"></span>
                                    <span class="mdc-button__focus-ring"></span>
                                    <span class="mdc-button__label">Continuar después  </span>
                                  </button>-->
                                </center>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
{% endblock %}
{% block body_script_section %}

<script  src="{{ url_for('static', filename='js/register.js') }}?a=1"></script>
<script src="{{ url_for('static', filename='js/bundle/home-dashboard.min.js') }}"></script>


{% endblock %}
