{% extends 'layout_main-drawer--dismissible_footer_topbar.html' %}
{% block page_description %}Innova, Innova Mujer, conexión innova, Servicios, Buscar, Profesional, Mercado, Talento{% endblock %}
{% block page_title %}Marketplace - Innova{% endblock %}
{% block body %}
<style>
    .mdc-card__media--square::before {
  margin-top: 0px !important;
}
</style>
<main class="s-main-content">
    <div class="container-color-background container-size-m">


        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-phone">
                <div class="mdc-card  mdc-card--color-on-primary">
                    <div class="mdc-card__primary-action" >
                      <div class="mdc-card__media mdc-card__media--square">
                        <div class="mdc-layout-grid">
                            <div class="mdc-layout-grid">
                                <div class="mdc-layout-grid__inner">

                                  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-4-tablet 
                                  mdc-layout-grid__cell--span-12-phone mdc-layout-grid__cell--align-middle">
                                  <div class="mdc-typography--body1">
                                    Nombre del asesoría:
                                </div>
                              <div class="mdc-layout-grid__cell--span-12-desktop  mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
                      
                                  <label class="mdc-text-field  mdc-text-field--filled" id="txt_fecha_lbl" data-assigned-var>
                                      <span class="mdc-text-field__ripple"></span>
                                  
                                      <input placeholder="nombre del asesoría" id="txt_nombre" name="txt_nombre"  class="mdc-text-field__input" type="text" aria-labelledby="my-label-id" >
                                      <span lass="mdc-line-ripple"></span>
                                  </label>
                              </div>


                                      
                                        <div class="mdc-typography--body1">
                                          Servicio:
                                      </div>
                                      <div class="mdc-select mdc-select--filled mdc-select--required demo-width-class"  id="txt_servicio" data-assigned-var>
                                          <div class="mdc-select__anchor" aria-required="true"
                                               role="button"
                                               aria-haspopup="listbox"
                                               aria-expanded="false"
                                               aria-labelledby="demo-label demo-selected-text">
                                            <span class="mdc-select__ripple"></span>
                                            
                                            <span class="mdc-select__selected-text-container">
                                              <span id="demo-selected-text" class="mdc-select__selected-text"></span>
                                            </span>
                                            <span class="mdc-select__dropdown-icon">
                                              <svg
                                                  class="mdc-select__dropdown-icon-graphic"
                                                  viewBox="7 10 10 5" focusable="false">
                                                <polygon
                                                    class="mdc-select__dropdown-icon-inactive"
                                                    stroke="none"
                                                    fill-rule="evenodd"
                                                    points="7 10 12 15 17 10">
                                                </polygon>
                                                <polygon
                                                    class="mdc-select__dropdown-icon-active"
                                                    stroke="none"
                                                    fill-rule="evenodd"
                                                    points="7 15 12 10 17 15">
                                                </polygon>
                                              </svg>
                                            </span>
                                            <span class="mdc-line-ripple"></span>
                                          </div>
                                        
                                          <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface--fullwidth">
                                            <ul class="mdc-deprecated-list" role="listbox" aria-label="Food picker listbox">
                                              <li class="mdc-deprecated-list-item mdc-deprecated-list-item--selected" aria-selected="true" data-value="" role="option">
                                                <span class="mdc-deprecated-list-item__ripple"></span>
                                              </li>
                                              {% for service in services %}
                                              <li class="mdc-deprecated-list-item" aria-selected="false" data-value="{{ service.id }}" role="option">
                                                <span class="mdc-deprecated-list-item__ripple"></span>
                                                <span class="mdc-deprecated-list-item__text">
                                                  {{ service.catalog_catego.name }} - {{ service.name }}
                                                </span>
                                              </li>
                                              
                                              {% endfor %}
                             
                  
                                            </ul>
                                          </div>
                                      </div>
                                        <div class="mdc-typography--body1">
                                          Fecha de la asesoría:
                                      </div>
                                      <div class="mdc-layout-grid__cell--span-12-desktop  mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
                              
                                          <label class="mdc-text-field  mdc-text-field--filled" id="txt_fecha_lbl" data-assigned-var>
                                              <span class="mdc-text-field__ripple"></span>
                                          
                                              <input id="txt_fecha"  class="mdc-text-field__input" type="date" aria-labelledby="my-label-id" >
                                              <span lass="mdc-line-ripple"></span>
                                          </label>
                                      </div>

                          <br>
                          <div class="mdc-typography--body1">
                            Horas de asesoría:
                        </div>
                        <div class="mdc-layout-grid__cell--span-12-desktop  mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
                
                            <label class="mdc-text-field  mdc-text-field--filled" id="txt_fecha_lbl" data-assigned-var>
                                <span class="mdc-text-field__ripple"></span>
                            
                                <input id="txt_hora"  class="mdc-text-field__input" type="time" aria-labelledby="my-label-id" >
                                <span lass="mdc-line-ripple"></span>
                            </label>
                        </div>
                        <br>
                     
                        <div class="mdc-typography--body1">
                          Descripción de la asesoría:
                        </div>                   
                     
 
  
                            <label class="mdc-text-field mdc-text-field--outlined mdc-text-field--textarea mdc-text-field--with-internal-counter">
                              <span class="mdc-notched-outline">
                                <span class="mdc-notched-outline__leading"></span>
                                <span class="mdc-notched-outline__notch">
                                  <span class="mdc-floating-label" id="my-label-id">Descripción</span>
                                </span>
                                <span class="mdc-notched-outline__trailing"></span>
                              </span>
                              <span class="mdc-text-field__resizer">
                                <textarea id="txt_comentario" class="mdc-text-field__input" aria-labelledby="my-label-id" rows="8" cols="40" maxlength="500"></textarea>
                                <span class="mdc-text-field-character-counter">0 / 500</span>
                              </span>
                            </label>
                            <br><br>
               
                           

                      </div>
                                 
                                </div>
                              </div>
                        </div>
                      </div>
                      <!-- ... additional primary action content ... -->
                      <div class="mdc-card__ripple"></div>
                    </div>
                    <div class="mdc-card__actions">
                      <div class="mdc-card__action-buttons">
                        <a  href="#" onclick="saveResumenAtencion()" class="mdc-button mdc-button--raised mdc-button--leading" style="background-color: #25D366;margin-left: 10px;">
                                   
                            <span class="mdc-fab__icon fa fa-check" aria-hidden="true"></span>
                            <span class="mdc-button__ripple"></span>
                            <span class="mdc-button__label" style="margin-left: 10px;"> Enviar</span>
                        </a>
                        <a  href="/company/view/{{ company.id }}/"  class="mdc-button  mdc-button--raised mdc-button--leading mdc-button--color-secondary" >
                                   
                          <span class="mdc-fab__icon fa fa-check" aria-hidden="true"></span>
                          <span class="mdc-button__ripple"></span>
                          <span class="mdc-button__label" style="margin-left: 10px;"> Regresar al perfil de la empresaria</span>
                      </a>
                      </div>

                    </div>

                    <br>
                    <br>
                  </div>
              </div>
            </div>
            
          </div>
 
    </div>
</main>
{% endblock %}
{% block body_script_section %}
<script src="{{ url_for('static', filename='js/bundle/marketplace.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/miperfil.js') }}"></script>

<script>
const mdcAssignedVars = {};
    function saveResumenAtencion()
    {
      
        const Swal = swcms.returnSwal()
        swcms.mdcSelects.forEach((sel) => {
            if (sel.assignedVar)
                mdcAssignedVars[sel.assignedVar] = sel;
        });
        swcms.mdcTextInputs.forEach((txt) => {
          if (txt.assignedVar)
              mdcAssignedVars[txt.assignedVar] = txt;
        });
        
        console.log(mdcAssignedVars)




        var txt_nombre = document.getElementById("txt_nombre").value.trim() || null
        var txt_fecha = document.getElementById("txt_fecha").value.trim() || null
        var txt_hora = document.getElementById("txt_hora").value.trim() || null
        var txt_comentario = document.getElementById("txt_comentario").value.trim() || null
        var txt_company = '{{ company.id }}'

        let postData = {
            'txt_servicio': mdcAssignedVars['txt_servicio'].value.trim() || null,
            "txt_nombre":txt_nombre,
            "txt_fecha":txt_fecha,
            "txt_hora":txt_hora,
            "txt_comentario":txt_comentario,
            "txt_company":txt_company
      };
      console.log(postData)
    
      let apiUrl = '/api/save/asesoria/puntual';
      //document.getElementById('submitSaveButton').disabled = true;

      swcms.postFetch(apiUrl, postData).then((data) => {
        Swal.fire(
          'Éxito',
          'Plan de Acción creado!',
          'success'
        )
        window.setTimeout(() => { 
          window.location.replace("/company/view/{{ company.id }}/");
         
        
        }, 1500);
    
      }).catch((error) => {
        Swal.fire(
          'Error de conexión',
          'Por favor revisar tu conexión a internet, si el problema persiste contacta al administrador del sistema',
          'error'
        )
        //document.getElementById('submitSaveButton').disabled = false;
      });
    }
</script>
{% endblock %}