{% extends 'layout_main-drawer--dismissible_footer_topbar.html' %}
{% block page_description %}Innova Mujer Home, Casa, Dashboard, Home{% endblock %}
{% block page_title %}Innova Mujer Home{% endblock %}
{% block css_script_section %}
<style>
    .alignleft {
	float: left;
}
.alignright {
	float: right;
}

  .content {
  display: none;
}

.content--active {
  display: block;
}
.chart {
  width: 100%; 
  min-height: 450px;
}
</style>
{% endblock %}
{% block body %}
<div class="container-color-background">
    <div class="mdc-layout-grid container-size-s" style="min-height: auto;">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <div class="container-dashboard--card-info">
                    <div class="mdc-card mdc-card--color-on-primary">
                        <div class="mdc-card__content">
                            <p>
                                <b>Nombre de la empresa:</b>
                                {{ company.name }}
                            </p>
                            <p>
                                <b>DNI Empresaria:</b>
                                {{ company.dni }}
                            </p>
                            <p>
                                <b>RTN :</b>
                                {{ company.rtn }}
                            </p>
                            <p>
                                <b>Direccion:</b>
                                {{ company.address }}
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<main class="s-main-content">
    <div class="container-color-background">
        <div class="mdc-layout-grid ">
            <div class="mdc-layout-grid__inner">
   
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet">
                    <div class="container-dashboard--messages">
                        <div class="mdc-card mdc-card--color-on-primary">
                            <div id="profiles" class="mdc-tab-bar" role="tablist" data-assigned-var>
                                <div class="mdc-tab-scroller">
                                <div class="mdc-tab-scroller__scroll-area">
                                    <div class="mdc-tab-scroller__scroll-content">
                                    <button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
                                        <span class="mdc-tab__content">
                                        <span class="mdc-tab__text-label">Carta de compromiso</span>
                                        </span>
                                        <span class="mdc-tab-indicator mdc-tab-indicator--active">
                                        <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                        </span>
                                        <span class="mdc-tab__ripple"></span>
                                    </button>
                                    
                                    <button class="mdc-tab mdc-tab" role="tab" aria-selected="true" tabindex="0">
                                        <span class="mdc-tab__content">
                                        <span class="mdc-tab__text-label">Ficha de inscripción </span>
                                        </span>
                                        <span class="mdc-tab-indicator mdc-tab-indicator">
                                        <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                        </span>
                                        <span class="mdc-tab__ripple"></span>
                                    </button>
                                    <button class="mdc-tab mdc-tab" role="tab" aria-selected="true" tabindex="0">
                                        <span class="mdc-tab__content">
                                        <span class="mdc-tab__text-label">Formaciones</span>
                                        </span>
                                        <span class="mdc-tab-indicator mdc-tab-indicator">
                                        <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                        </span>
                                        <span class="mdc-tab__ripple"></span>
                                    </button>
                                    <button class="mdc-tab mdc-tab" role="tab" aria-selected="true" tabindex="0">
                                        <span class="mdc-tab__content">
                                        <span class="mdc-tab__text-label">Gestión de usuarios</span>
                                        </span>
                                        <span class="mdc-tab-indicator mdc-tab-indicator">
                                        <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                        </span>
                                        <span class="mdc-tab__ripple"></span>
                                    </button>
                                    <button class="mdc-tab mdc-tab" role="tab" aria-selected="true" tabindex="0">
                                        <span class="mdc-tab__content">
                                        <span class="mdc-tab__text-label">Diagnóstico Inicial</span>
                                        </span>
                                        <span class="mdc-tab-indicator mdc-tab-indicator">
                                        <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                        </span>
                                        <span class="mdc-tab__ripple"></span>
                                    </button>
                                    <button class="mdc-tab mdc-tab" role="tab" aria-selected="true" tabindex="0">
                                        <span class="mdc-tab__content">
                                        <span class="mdc-tab__text-label">Plan de acción </span>
                                        </span>
                                        <span class="mdc-tab-indicator mdc-tab-indicator">
                                        <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                        </span>
                                        <span class="mdc-tab__ripple"></span>
                                    </button>
                   

                                    </div>
                                </div>
                                </div>
                            </div>
                            <!-- Inicio  -->
                            <div class="content content--active">
                            
                                <div class="mdc-layout-grid">
                                    <div class="mdc-layout-grid__inner">
                                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet">
                                            {% if carta %}
                                            <table class="mdc-data-table__table_normal" aria-label="Dessert calories" style="width: 100%;">
                                                <thead>
                                                  <tr class="mdc-data-table__header-row">
                                                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">#</th>
                                                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">OPCIONES</th>
                                                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">DOCUMENTO</th>
                                                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">FIRMADO ASESORA</th>
                                                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">FIRMADO POR LA EMPRESA</th>
                                                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">ESTADO</th>
                                                  </tr>
                                                  
                                                  
                                                  
                                                </thead>
                                                <tbody class="mdc-data-table__content">
                                                                                         
                                                  <tr class="mdc-data-table__row">
                                                    <th class="mdc-data-table__cell" scope="row">
                                                       1
                                                    </th>
                                                    <th class="mdc-data-table__cell" scope="row">
                                                        <a href="{{ url_for('digitalcenter._company_document_form',document_id=carta.id) }}"  class="s-font-align-center mdc-button mdc-button--raised mdc-button--leading" style="--mdc-ripple-fg-size: 75px; --mdc-ripple-fg-scale: 1.8784232240642684; --mdc-ripple-fg-translate-start: 16.41668701171875px, -7.866668701171875px; --mdc-ripple-fg-translate-end: 25.416671752929688px, -19.5px;">
                                                    
                                                            <span class="mdc-button__ripple"></span>
                                                            <i class="material-icons mdc-button__icon" aria-hidden="true">check</i>
                                                            <span class="mdc-button__label">Ver documento</span>
                                                        </a>
                                                        <a href="{{ url_for('digitalcenter._company_document_form_add',company_id=company.id,document_id=5) }}" class="mdc-button mdc-button--raised mdc-button--leading mdc-button--color-secondary" >
                                                                
                                                            <span class="mdc-button__ripple"></span>
                                                            <i class="material-icons mdc-button__icon" aria-hidden="true">check</i>
                                                            <span class="mdc-button__label">Cargar nueva</span>
                                                        </a>
                                                    </th>
                                                    <td class="mdc-data-table__cell " scope="row">
                                                        carta de compromiso
                                                    </td>
                                                    <td class="mdc-data-table__cell " scope="row">
                                                        {% if carta.signed_innova %}
                                                            FIRMADO
                                                        {% else %}
                                                            NO FIRMADO
                                                        {% endif %}
                                                    </td>
                                                    <td class="mdc-data-table__cell " scope="row">
                                                        {% if carta.signed %}
                                                            FIRMADO
                                                        {% else %}
                                                            NO FIRMADO
                                                        {% endif %}
                                                    </td>
                                                    

                                                    <td class="mdc-data-table__cell " scope="row">
                                                        {% if carta.complete %}
                                                            COMPLETADO
                                                        {% else %}
                                                            NO COMPLETADO
                                                        {% endif %}
                                                        
                                                    </td>
                                                  </tr>
            
            
                                                </tbody>
                                              </table>
                                            {% else %}
                                            <h2>Carta de compromiso no encontrada</h2>
                                            <p>
                                                ¿Deseas generar la carta de compromiso?, por favor haz clic en el botón"Generar carta de compromiso".
                                            </p>
                                            <div class="s-font-align-center">
                                                <a id="btn_generar_carta"  href="#" onclick="generarCartaCompromiso()" class="s-font-align-center mdc-button mdc-button--raised mdc-button--leading" style="--mdc-ripple-fg-size: 75px; --mdc-ripple-fg-scale: 1.8784232240642684; --mdc-ripple-fg-translate-start: 16.41668701171875px, -7.866668701171875px; --mdc-ripple-fg-translate-end: 25.416671752929688px, -19.5px;">
                                                    
                                                    <span class="mdc-button__ripple"></span>
                                                    <i class="material-icons mdc-button__icon" aria-hidden="true">check</i>
                                                    <span class="mdc-button__label">Generar carta de compromiso</span>
                                                </a>
                                            </div>
                                                <br>
                                           
                                                <p>
                                                    O puedes cargar la carta de compromiso <b>ya firmada por la empresaria</b>  dando clic en con el botón "Cargar carta de compromiso".
                                                </p>
                                                <div class="s-font-align-center">
                                                    <a href="{{ url_for('digitalcenter._company_document_form_add',company_id=company.id,document_id=5) }}" class="mdc-button mdc-button--raised mdc-button--leading mdc-button--color-secondary" >
                                                                
                                                        <span class="mdc-button__ripple"></span>
                                                        <i class="material-icons mdc-button__icon" aria-hidden="true">check</i>
                                                        <span class="mdc-button__label">Cargar carta de compromiso</span>
                                                    </a>
                                                </div>

                                                
                                              
                                            {% endif %}
                                        </div>

                                    </div>                            
                                </div>
                    
                            </div>
                            <!-- Lista de usuarios  -->
                            <div class="content content">
                            
                                <div class="mdc-layout-grid">
                                    <div class="mdc-layout-grid__inner">
                                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet">
                                            {% if ficha %}
                                            
                                            <table class="mdc-data-table__table_normal" aria-label="Dessert calories" style="width: 100%;">
                                                <thead>
                                                  <tr class="mdc-data-table__header-row">
                                                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">#</th>
                                                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">OPCIONES</th>
                                                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">DOCUMENTO</th>
                                                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">FIRMADO ASESORA</th>
                                                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">FIRMADO POR LA EMPRESA</th>
                                                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">ESTADO</th>
                                                  </tr>
                                                  
                                                  
                                                  
                                                </thead>
                                                <tbody class="mdc-data-table__content">
                                                                                         
                                                  <tr class="mdc-data-table__row">
                                                    <th class="mdc-data-table__cell" scope="row">
                                                       1
                                                    </th>
                                                    <th class="mdc-data-table__cell" scope="row">
                                                        <a href="{{ url_for('digitalcenter._company_document_form',document_id=ficha.id) }}"  class="s-font-align-center mdc-button mdc-button--raised mdc-button--leading" style="--mdc-ripple-fg-size: 75px; --mdc-ripple-fg-scale: 1.8784232240642684; --mdc-ripple-fg-translate-start: 16.41668701171875px, -7.866668701171875px; --mdc-ripple-fg-translate-end: 25.416671752929688px, -19.5px;">
                                                    
                                                            <span class="mdc-button__ripple"></span>
                                                            <i class="material-icons mdc-button__icon" aria-hidden="true">check</i>
                                                            <span class="mdc-button__label">Ver documento</span>
                                                        </a>
                                                        <a href="{{ url_for('digitalcenter._company_document_form_add',company_id=company.id,document_id=4) }}" class="mdc-button mdc-button--raised mdc-button--leading mdc-button--color-secondary" >
                                                                
                                                            <span class="mdc-button__ripple"></span>
                                                            <i class="material-icons mdc-button__icon" aria-hidden="true">check</i>
                                                            <span class="mdc-button__label">Cargar nueva</span>
                                                        </a>
                                                    </th>
                                                    <td class="mdc-data-table__cell " scope="row">
                                                        Ficha de inscripcion
                                                    </td>
                                                    <td class="mdc-data-table__cell " scope="row">
                                                        {% if carta.signed_innova %}
                                                            FIRMADO
                                                        {% else %}
                                                            NO FIRMADO
                                                        {% endif %}
                                                    </td>
                                                    <td class="mdc-data-table__cell " scope="row">
                                                        {% if carta.signed %}
                                                            FIRMADO
                                                        {% else %}
                                                            NO FIRMADO
                                                        {% endif %}
                                                    </td>
                                                    

                                                    <td class="mdc-data-table__cell " scope="row">
                                                        {% if carta.complete %}
                                                            COMPLETADO
                                                        {% else %}
                                                            NO COMPLETADO
                                                        {% endif %}
                                                        
                                                    </td>
                                                  </tr>
            
            
                                                </tbody>
                                            </table>
                                            {% else %}
                                            <h2>Ficha de inscripción no encontrada</h2>
                                            <p>
                                                ¿Deseas generar la Ficha de inscripción?, por favor haz clic en el botón "Ficha de inscripción".
                                            </p>
                                            <div class="s-font-align-center">
                                                <a  id="btn_generar_ficha"  href="#" onclick="generarFicha()" class="s-font-align-center mdc-button mdc-button--raised mdc-button--leading" style="--mdc-ripple-fg-size: 75px; --mdc-ripple-fg-scale: 1.8784232240642684; --mdc-ripple-fg-translate-start: 16.41668701171875px, -7.866668701171875px; --mdc-ripple-fg-translate-end: 25.416671752929688px, -19.5px;">
                                                    
                                                    <span class="mdc-button__ripple"></span>
                                                    <i class="material-icons mdc-button__icon" aria-hidden="true">check</i>
                                                    <span class="mdc-button__label">Generar Ficha de inscripción</span>
                                                </a>
                                            </div>
                                                <br>
                                           
                                                <p>
                                                    O puedes cargar la ficha de inscripción<b> ya firmada por la empresaria</b> da clic en con el botón "Cargar ficha de inscripción".
                                                </p>
                                                <div class="s-font-align-center">
                                                    <a href="{{ url_for('digitalcenter._company_document_form_add',company_id=company.id,document_id=4) }}" class="mdc-button mdc-button--raised mdc-button--leading mdc-button--color-secondary" >
                                                                
                                                        <span class="mdc-button__ripple"></span>
                                                        <i class="material-icons mdc-button__icon" aria-hidden="true">check</i>
                                                        <span class="mdc-button__label">Cargar ficha de inscripción</span>
                                                    </a>
                                                </div>
                                            
                                                

                                                
                                              
                                            {% endif %}
                                        </div>
                                       
                                    </div>
                                    
                                </div>
                    
                            </div>
                            <!-- Lista de usuarios  -->
                            <div class="content content">
                            
                                <div class="mdc-layout-grid">
                                    <div class="mdc-layout-grid__inner">
                                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet">
                                            <h2>Formación</h2>
                                            <p>
                                                Para matricular a la empresaria en cursos o talleres da clic en "Matricular"
                                            </p>
                                            <center>
                                          
                                        
                         
                                                    <a href="{{ url_for('aulavirtual._curso_enroll',company_id=company.id) }}" class="mdc-button mdc-button--raised mdc-button--leading mdc-button--color-secondary" >
                                                                
                                                        <span class="mdc-button__ripple"></span>
                                                        <i class="material-icons mdc-button__icon" aria-hidden="true">check</i>
                                                        <span class="mdc-button__label">Matricular</span>
                                                    </a>
                                                </center>
                                            <h2>Lista de cursos</h2>
                                            <table class="mdc-data-table__table" aria-label="Dessert calories">
                                                <thead>
                                                <tr class="mdc-data-table__header-row">
                                                    <th class="mdc-data-table__header-cell mdc-data-table__header-cell--checkbox" role="columnheader" scope="col">
                                                        #
                                                    </th>
                                                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Nombre de la formación</th>
                                                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Tipo de formación</th>
                                                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col"> Tipo de modalidad</th>
                                                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Responsable</th>
                                                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Fecha Inicial </th>
                                                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Fecha Final</th>
                                                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Opciones</th>
                                             
                                                </tr>
                                                
                                                
                                                
                                                </thead>
                                                <tbody class="mdc-data-table__content">
                                                    {% for curso in enrolls %}
                                                <tr data-row-id="u0" class="mdc-data-table__row">
                                                    <td class="mdc-data-table__cell mdc-data-table__cell--checkbox">
                                                        {{loop.index}}
                                                    </td>   
                                                    <th class="mdc-data-table__cell" scope="row" id="u0">
                                                        {{ curso.course.name }}
                                                    </th>
                                                    <td class="mdc-data-table__cell"> {{ curso.course.training_type.name }}</td>
                                                    <td class="mdc-data-table__cell"> {{ curso.course.modality_type.name }}</td>
                                                    <td class="mdc-data-table__cell"> {{ curso.course.course_managers.name }}</td>
                                                    <td class="mdc-data-table__cell"> {{ curso.course.date_scheduled_start.strftime('%Y-%m-%d') }}</td>
                                                    <td class="mdc-data-table__cell"> {{ curso.course.date_scheduled_end.strftime('%Y-%m-%d') }}</td>
                                                    <td class="mdc-data-table__cell">
                                            
                                                        <button id="submitSaveButton"  class="mdc-button mdc-button--raised mdc-button--leading" style="margin-left: 10px;">
                                                            <span class="mdc-button__ripple"></span>
                                                            <i class="material-icons mdc-button__icon" aria-hidden="true"
                                                              >touch_app</i
                                                            >
                                                            <span class="mdc-button__label">Agregar fin de curso</span>
                                                        </button>

                                                    </td>
                                                </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    
                                </div>
                    
                            </div>
                            <!-- Lista de usuarios  -->
                            <div class="content content">
                            
                                <div class="mdc-layout-grid">
                                    <div class="mdc-layout-grid__inner">
                                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet">
                                            <h2>Administrar Accesos</h2>
                                            <p>Para administrar los accesos a la plataforma para esta empresa da clic en el botón </p>
                                            <div class="s-font-align-center">
                                                <a href="{{ url_for('digitalcenter._company_user_list',company_id=company.id) }}" class="mdc-button mdc-button--raised mdc-button--leading" style="--mdc-ripple-fg-size: 75px; --mdc-ripple-fg-scale: 1.8784232240642684; --mdc-ripple-fg-translate-start: 16.41668701171875px, -7.866668701171875px; --mdc-ripple-fg-translate-end: 25.416671752929688px, -19.5px;">
                                                    
                                                    <span class="mdc-button__ripple"></span>
                                                    <i class="material-icons mdc-button__icon" aria-hidden="true">check</i>
                                                    <span class="mdc-button__label">Administrar Usuarios</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                    
                            </div>
                            <!-- Diagnóstico Inicial  -->
                            <div class="content content">
                            
                                <div class="mdc-layout-grid">
                                    <div class="mdc-layout-grid__inner">
                                        
                                        {% if diagnostico %}
                                        
                                            {% if diagnostico %} 
                                         

                                                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
                                                                <div class="container-dashboard--card-info">
                                                                    <div class="mdc-card mdc-card--color-on-primary">
                                                                        <div class="mdc-card__content">
                                                                            <div class="mdc-typography--headline5 s-font-color-secondary">Resultados</div>
                                                                            <br>
                                                                            <table class="mdc-data-table__table_normal" aria-label="Dessert calories">
                                                                                <thead>
                                                                                  <tr class="mdc-data-table__header-row">
                                                                                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">#</th>
                                                                                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Área </th>
                                                                                    <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">Puntaje total del área</th>
                                                                                    
                                            
                                                                                    <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">Ideales</th>
                                                                                    <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">Resultados</th>
                                                                                  </tr>
                                                                                  
                                                                                  
                                                                                  
                                            
                                            
                                            
                                            
                                                                                </thead>
                                                                                <tbody class="mdc-data-table__content">
                                                                                {% for resultado in diagnostico %}                              
                                                                                  <tr class="mdc-data-table__row">
                                                                                    <th class="mdc-data-table__cell" scope="row">
                                                                                        {{loop.index}}
                                                                                    </th>
                                                                                    <th class="mdc-data-table__cell" scope="row">
                                                                                        {{ resultado.area }}
                                                                                    </th>
                                                                                    <td class="mdc-data-table__cell mdc-data-table__header-cell--numeric" scope="row">
                                                                                        {{ resultado.putaje_area }}
                                                                                    </td>
                                                                                    <td class="mdc-data-table__cell mdc-data-table__header-cell--numeric" scope="row">
                                                                                        {{ resultado.ideales }}
                                                                                    </td>
                                                                                    <td class="mdc-data-table__cell mdc-data-table__header-cell--numeric" scope="row">
                                                                                        {{ resultado.resultados }}  
                                                                                    </td>     
                                                                                  </tr>
                                                                                {% endfor %}
                                                                                </tbody>
                                                                              </table>
                                                                        </div>
                                                                
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
                                                                <div class="container-dashboard--card-info">
                                                                    <div class="mdc-card mdc-card--color-on-primary">
                                                                        <div class="mdc-card__content">
                                                                            <div class="mdc-typography--headline5 s-font-color-secondary">RESULTADOS POR CATEGORIA</div>
                                                                            <br>
                                                                
                                                                            <div id="donutchart" style="width: 400px; "></div>
                                                                  
                                            
                                                                        </div>
                                                                  
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                                                                <div id="curve_chart" style="width: 100%;"></div>

                                                                <div style="width: 100%; background-color: blue;">
                                                                    rede
                                                                </div>
                                                            </div>
                                                          
                                            
                                                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
                                                                <div class="container-dashboard--card-info">
                                                                    <div class="mdc-card mdc-card--color-on-primary">
                                                                        <div class="mdc-card__content">
                                                                            <div class="mdc-typography--headline5 s-font-color-secondary">RESULTADO DEL DIAGNOSTICO</div>
                                                                            <br>
                                                                
                                                                            <table class="mdc-data-table__table_normal" aria-label="Dessert calories">
                                                                                <thead>
                                                                                  <tr class="mdc-data-table__header-row">
                                                                                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">#</th>
                                                                                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">TIPO EMPRESA </th>
                                                                                    <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">RESULTADO</th>
                                                                                  </tr>
                                                                                  
                                                                                  
                                                                                  
                                                                                </thead>
                                                                                <tbody class="mdc-data-table__content">
                                                                                                                         
                                                                                  <tr class="mdc-data-table__row">
                                                                                    <th class="mdc-data-table__cell" scope="row">
                                                                                       1
                                                                                    </th>
                                                                                    <th class="mdc-data-table__cell" scope="row">
                                                                                        {{tipo_empresa}}
                                                                                    </th>
                                                                                    <td class="mdc-data-table__cell mdc-data-table__header-cell--numeric" scope="row">
                                                                                        {{ totaldiagnostico }}
                                                                                    </td>
                                                            
                                                                                  </tr>
                                            
                                            
                                                                                </tbody>
                                                                              </table>
                                            
                                                                        </div>
                                                                        <div class="mdc-card__actions">
                                                                            <div class="mdc-card__actions-buttons"></div>
                                                                            <div class="mdc-card__action-icons">
                                                                                <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon">
                                                                                    <div class="mdc-icon-button__ripple"></div>
                                                                                    more_vert
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                           
                                            
                                            {% endif %}
                                        
                                        {% else %}
                                        <div class="s-font-align-center">
                                            <h2>Diagnóstico empresarial no ha sido encontrado</h2>

                                            <a href="{{ url_for('digitalcenter._diagnosis_monitoring_list') }}" class="mdc-button mdc-button--raised mdc-button--leading" style="--mdc-ripple-fg-size: 75px; --mdc-ripple-fg-scale: 1.8784232240642684; --mdc-ripple-fg-translate-start: 16.41668701171875px, -7.866668701171875px; --mdc-ripple-fg-translate-end: 25.416671752929688px, -19.5px;">
                                                
                                                <span class="mdc-button__ripple"></span>
                                                <i class="material-icons mdc-button__icon" aria-hidden="true">check</i>
                                                <span class="mdc-button__label">Enviar primer diagnóstico empresarial</span>
                                            </a>
                                        </div>
                                        {% endif %}
                                        
                                    </div>
                                    
                                </div>
                    
                            </div>
                            <!-- Plan de mejora   -->
                            <div class="content content">
                            
                                <div class="mdc-layout-grid">
                                    <div class="mdc-layout-grid__inner">
                                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet">
                                            <h2>Plan de acción</h2>
                                            <p>
                                                Crea y administra el plan de acción de la empresaria.
                                            </p>
                                            <div class="s-font-align-center">
                                                

                                                <a href="{{ url_for('digitalcenter._plan_action_dashboard',user_uid=company.id ) }}" class="mdc-button mdc-button--raised mdc-button--leading" style="--mdc-ripple-fg-size: 75px; --mdc-ripple-fg-scale: 1.8784232240642684; --mdc-ripple-fg-translate-start: 16.41668701171875px, -7.866668701171875px; --mdc-ripple-fg-translate-end: 25.416671752929688px, -19.5px;">
                                                    
                                                    <span class="mdc-button__ripple"></span>
                                                    <i class="material-icons mdc-button__icon" aria-hidden="true">check</i>
                                                    <span class="mdc-button__label">Ir al plan de acción</span>
                                                </a>
                                            </div>
                                    </div>
                                    </div>
                                    
                                </div>
                    
                            </div>

  
                        </div>
                    </div>
                </div>

            
            </div>
        </div>
    </div>
  
</main>
{% endblock %}
{% block body_script_section %}

<script src="{{ url_for('static', filename='js/dc.js') }}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% if diagnostico %} 

    <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
        ['AREA', 'IDEALES', 'RESULTADOS'],
        
        {% for resultado in diagnostico %}    
            {% if resultado.id_area != 0  %}
            ['{{resultado.area}}',  {{resultado.ideales}}, {{resultado.resultados}}],
            {% endif %}
        {% endfor %}
        ]);
    
        var options = {
        title: 'RESULTADOS POR CATEGORIA',
        curveType: 'function',
        width: '1200',
        width_units: '%',
      height: '500',
      responsive: true,
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
    }
    </script>

    <script type="text/javascript">
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['AREA', 'RESULTADOS'],
                {% for resultado in diagnostico %}    
                    {% if resultado.id_area != 0  %}
                ['{{resultado.area}}',     {{resultado.resultados}}],
                {% endif %}
        {% endfor %}
            ]);

            var options = {
            title: 'RESULTADOS POR CATEGORIA',
            pieHole: 0.4,
            };

            var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
            chart.draw(data, options);
        }
    </script>

{% endif %}

<script>
    function generarCartaCompromiso(){

const Swal = swcms.returnSwal()


let postData = {
    "txt_company_id":"{{ company.id }}",
    "txt_documente_id":"DOC2"
};

console.log(postData)

let apiUrl = '/api/create/carta/compromio';
document.getElementById('btn_generar_carta').disabled = true;

swcms.postFetch(apiUrl, postData).then((data) => {
    Swal.fire(
    'Éxito',
    'Carta de compromiso creada!',
    'success'
    )
    window.setTimeout(() => { window.location.reload(); }, 1500);

}).catch((error) => {
    Swal.fire(
    'Error de conexión',
    'Por favor revisar tu conexión a internet, si el problema persiste contacta al administrador del sistema',
    'error'
    )
    document.getElementById('btn_generar_carta').disabled = false;
});

}
</script>

<script>
    function generarFicha(){

const Swal = swcms.returnSwal()


let postData = {
    "txt_company_id":"{{ company.id }}",
    "txt_documente_id":"DOC1"
};

console.log(postData)

let apiUrl = '/api/create/ficha/inscripcion';
document.getElementById('btn_generar_ficha').disabled = true;

swcms.postFetch(apiUrl, postData).then((data) => {
    Swal.fire(
    'Éxito',
    'Carta de compromiso creada!',
    'success'
    )
    window.setTimeout(() => { window.location.reload(); }, 1500);

}).catch((error) => {
    Swal.fire(
    'Error de conexión',
    'Por favor revisar tu conexión a internet, si el problema persiste contacta al administrador del sistema',
    'error'
    )
    document.getElementById('btn_generar_ficha').disabled = false;
});

}
</script>

{% endblock %}