{% extends 'layout_main-drawer--dismissible_footer_topbar.html' %}
{% block page_description %}Innova, Innova Mujer, conexión innova, Servicios, Buscar, Profesional, Mercado, Talento{% endblock %}
{% block page_title %}Marketplace - Innova{% endblock %}
{% block body %}
<style>
    .mdc-card__media--square::before {
  margin-top: 0px !important;
}

.video {
  width: 100%;
  height: 400px;
  border: 1px solid red;
  overflow: hidden;
  position: relative;
}
#output1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>
<main class="s-main-content">
    <div class="container-color-background">
        <div class="mdc-layout-grid container-size-s" style="min-height: auto;">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                    <div class="container-dashboard--card-info">
                        <div class="mdc-card mdc-card--color-on-primary">
                            <div class="mdc-card__content">
                                <div class="mdc-layout-grid__inner">
                                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet">
                                        <div class="mdc-card__primary-action" tabindex="0">
                                            <div class="mdc-card__media">
                                                {% if company.avatar %}
                                                <img style="max-height:110px" class="profile-background" src="{{ url_for('static', filename='upload/') }}{{company.avatar}}" alt="Border Perfil" />
            
                                                {% else %}
                                                <img class="profile-background" src="../../static/images/manifest/innova_perfil.svg" alt="Border Perfil" />
                                                <img class="profile-pic" src="../../static/images/manifest/innova_icon.svg" alt="Foto Perfil" />
                                                {% endif %}
                                            </div>
                                            <div class="mdc-card__ripple"></div>
                                            <img id="output"/>
                                        </div>                   
                                        <form id="formPIC"  action = "/save/logo" method="POST" enctype = "multipart/form-data">
                                            <input
                                               
                                                id="txt_company_id"
                                                name="txt_company_id"
                                                type="hidden"
                                                value="{{company.id}}"
                                              />
                                            <label htmlFor="upload-photo" style="margin: auto">
                                                <input
                                                  style="display:none"
                                                  id="upload-photo"
                                                  name="upload-photo"
                                                  type="file"
                                                  onchange="loadFile(event)"
                                                />
                                                <Fab
                                                <button id="submitSaveButtonPIC"  class="mdc-button mdc-button--raised mdc-button--leading">
                                                    <span class="mdc-button__ripple"></span>
                                                    <i class="material-icons mdc-button__icon" aria-hidden="true"
                                                      >add</i
                                                    >
                                                    <span class="mdc-button__label">Modificar logo de la empresa </span>
                                                  </button>
                                                </Fab>
                                                <br />
                                                <br />
                                              
                                                <Fab color="primary" size="small" component="span" aria-label="add">
                                                  <AddIcon />
                                                </Fab>
                                              </label>
                                        </form>   
                                        
                                    </div>
                                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet">
                                        <p><b>Nombre de empresa:</b> {{company.name}} </p>
                                        <p><b>Nombre de empresaria:</b> {{company.inscripcion.name}} </p>
                                        <p><b>Teléfono:</b> {{company.inscripcion.phone}} </p>
                                        <p><b>Correo:</b> {{company.inscripcion.correo}} </p>
                                    </div>
                                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet">
                                        <p><b>Departamento:</b> {{company.inscripcion.departamento}} </p>
                                        <p><b>Municipio:</b> {{company.inscripcion.municipio}} </p>
                                        <p><b>Aldea:</b> {{company.inscripcion.aldea}} </p>
                                        <p><b>Direccion:</b> {{company.address}} </p>
                                    </div>
                          
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-color-background container-size-m">


        <div class="mdc-layout-grid">


       
            <div class="mdc-layout-grid__inner">
     

                <div class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-6-phone">
                    <div class="mdc-card  mdc-card--color-on-primary">
                        <div class="mdc-card__primary-action" >
                            <div class="mdc-card__media mdc-card__media--square">
                                <div class="mdc-layout-grid">
                                    <div class="mdc-layout-grid">
                                        <div class="mdc-layout-grid__inner">

                                            <div class="vmdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-phone">

                                            
                                            <h2>
                                                Datos Generales
                                            </h2>
                                
                                            <div class="mdc-layout-grid__inner">
                                                <div class="mdc-layout-grid__cell--span-12-desktop  mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
                                                <div class="mdc-typography--body1">
                                                    Nombre de la empresa:
                                                </div>
                                                <label class="mdc-text-field mdc-text-field--filled" id="txt_name" data-assigned-var>
                                                    <span class="mdc-text-field__ripple"></span>
                                                    
                                                    <input id="txt_company_name" value="{{ company.name }}" class="mdc-text-field__input" type="text" aria-labelledby="my-label-id" >
                                                    <span lass="mdc-line-ripple"></span>
                                                </label>
                                                </div>
                                                <div class="mdc-layout-grid__cell--span-12-desktop  mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
                                                    <div class="mdc-typography--body1">
                                                        Nombre de la empresaria:
                                                    </div>
                                                    <label class="mdc-text-field mdc-text-field--filled" id="txt_name_emp" data-assigned-var>
                                                        <span class="mdc-text-field__ripple"></span>
                                                        
                                                        <input id="txt_company_emp" value="{% if company.inscripcion %}{{ company.inscripcion.name }}{% endif %}" class="mdc-text-field__input" type="text" aria-labelledby="my-label-id" >
                                                        <span lass="mdc-line-ripple"></span>
                                                    </label>
                                                    </div>
                                                <div class="mdc-layout-grid__cell--span-12-desktop  mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
                                                <div class="mdc-typography--body1">
                                                    DNI (SIN GUIONES):
                                                </div>
                                                <label class="mdc-text-field mdc-text-field--filled" id="txt_name" data-assigned-var>
                                                    <span class="mdc-text-field__ripple"></span>
                    
                                                    <input id="txt_dni" value="{{ company.dni }}" class="mdc-text-field__input" type="text" aria-labelledby="my-label-id"  >
                                                    <span lass="mdc-line-ripple"></span>
                                                </label>
                                                </div>
                                                <div class="mdc-layout-grid__cell--span-12-desktop  mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
                                                <div class="mdc-typography--body1">
                                                    EMAIL:
                                                </div>
                                                <label class="mdc-text-field mdc-text-field--filled" id="txt_name" data-assigned-var>
                                                    <span class="mdc-text-field__ripple"></span>
                    
                                                    <input id="txt_email"  value="{{ company.social_networks.email }}" class="mdc-text-field__input" type="text" aria-labelledby="my-label-id" >
                                                    <span lass="mdc-line-ripple"></span>
                                                </label>
                                                </div>
                                                <div class="mdc-layout-grid__cell--span-12-desktop  mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
                                                    <div class="mdc-typography--body1">
                                                        Facebook:
                                                    </div>
                                                    <label class="mdc-text-field mdc-text-field--filled" id="txt_name" data-assigned-var>
                                                        <span class="mdc-text-field__ripple"></span>
                        
                                                        <input id="txt_facebook"  value="{{ company.social_networks.facebook }}" class="mdc-text-field__input" type="text" aria-labelledby="my-label-id" >
                                                        <span lass="mdc-line-ripple"></span>
                                                    </label>
                                                </div>
                                                <div class="mdc-layout-grid__cell--span-12-desktop  mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
                                                    <div class="mdc-typography--body1">
                                                        Instagram:
                                                    </div>
                                                    <label class="mdc-text-field mdc-text-field--filled" id="txt_name" data-assigned-var>
                                                        <span class="mdc-text-field__ripple"></span>
                        
                                                        <input id="txt_instagram"  value="{{ company.social_networks.instagram  }}" class="mdc-text-field__input" type="text" aria-labelledby="my-label-id" >
                                                        <span lass="mdc-line-ripple"></span>
                                                    </label>
                                                </div>
                                                <div class="mdc-layout-grid__cell--span-12-desktop  mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
                                                    <div class="mdc-typography--body1">
                                                        Pagina web:
                                                    </div>
                                                    <label class="mdc-text-field mdc-text-field--filled" id="txt_name" data-assigned-var>
                                                        <span class="mdc-text-field__ripple"></span>
                        
                                                        <input id="txt_web"  value="{{ company.social_networks.web }}" class="mdc-text-field__input" type="text" aria-labelledby="my-label-id" >
                                                        <span lass="mdc-line-ripple"></span>
                                                    </label>
                                                </div>
                                                <div class="mdc-layout-grid__cell--span-12-desktop  mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
                                                <div class="mdc-typography--body1">
                                                    TELEFONO:
                                                </div>
                                                <label class="mdc-text-field mdc-text-field--filled" id="txt_name" data-assigned-var>
                                                    <span class="mdc-text-field__ripple"></span>
                    
                                                    <input id="txt_phone" value="{{ company.phones.phone }}" class="mdc-text-field__input" type="text" aria-labelledby="my-label-id" >
                                                    <span lass="mdc-line-ripple"></span>
                                                </label>
                                                </div>
                    
  
                                                
                                            </div>
                                            </div>
                                            <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-phone">
                                                <div class="mdc-typography--body1">
                                                    Descripción de los productos o servicio:
                                                </div>
                                                <label class="mdc-text-field  mdc-text-field--outlined  mdc-text-field--filled mdc-text-field--textarea mdc-text-field--with-internal-counter" id="txt_comp_description" data-assigned-var> 
                                                  <span class="mdc-notched-outline">
                                                    <span class="mdc-notched-outline__leading"></span>
                                                    <span class="mdc-notched-outline__notch">
                                                      <span class="mdc-floating-label" id="my-label-id">Descripción de los productos o servicio</span>
                                                    </span>
                                                    <span class="mdc-notched-outline__trailing"></span>
                                                  </span>
                                                  <span class="mdc-text-field__resizer">
                                                    <textarea id="txt_company_description" required class="mdc-text-field__input" aria-labelledby="my-label-id" rows="4" cols="40" maxlength="500">{%if company.description != 'None'%}{{ company.description }}{% endif %}</textarea>
                                                    <span class="mdc-text-field-character-counter">0 / 500</span>
                                                  </span>
                                                </label>
                                                <br> <br>
                                            </div>
                                            <br><br><br>
                                            
                                            <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-phone">
                                                <div class="mdc-form-field">
                                                    <div class="mdc-checkbox">
                                                      <input type="checkbox"
                                                             class="mdc-checkbox__native-control"
                                                            name="cxb_accept"
                                                             id="checkbox-1"  {% if company.public %}checked{% endif %}/>
                                                      <div class="mdc-checkbox__background">
                                                        <svg class="mdc-checkbox__checkmark"
                                                             viewBox="0 0 24 24">
                                                          <path class="mdc-checkbox__checkmark-path"
                                                                fill="none"
                                                                d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                                                        </svg>
                                                        <div class="mdc-checkbox__mixedmark"></div>
                                                      </div>
                                                      <div class="mdc-checkbox__ripple"></div>
                                                      <div class="mdc-checkbox__focus-ring"></div>
                                                    </div>
                                                    <label for="checkbox-1">
                                                        La empresa puede ser publicada en conexion INNOVA
                                                    </label>
                                                </div>
                                            </div>
                    
                                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-4-tablet 
                                            mdc-layout-grid__cell--span-12-phone mdc-layout-grid__cell--align-middle">
                                                <div class="s-font-align-center">
                                                    <button onclick="actualizarInfo()" type="button" class="mdc-button mdc-button--raised mdc-button--leading mdc-button--color-secondary" >
                                                        
                                                        <span class="mdc-button__ripple"></span>
                                                        <i class="material-icons mdc-button__icon" aria-hidden="true">check</i>
                                                        <span class="mdc-button__label">Actualizar Información</span>
                                                    </button>
                                                </div>
                                            </div>
                                            

                                



                    
                                

                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                      <!-- ... additional primary action content ... -->
                      <div class="mdc-card__ripple"></div>
                    </div>


                    <br>
                    <br>
                </div>

                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-6-tablet">
                    <div class="container-dashboard--messages">
                        <div class="mdc-card mdc-card--color-on-primary">
                            <h2>
                                Ubicación
                            </h2>
                

                            <div class="col-md-12">
                                <label >Departamento <span class="required">*</span>
                                </label>
                                <select onchange="nacDepto()" class="form-control" id="txt_departamentousuaria">
                                  <option value="0">Seleccione</option>
                                  <option>Departamento 1</option>
                                </select>
                                <br> <br>
                            </div>
                            
                            <div class="col-md-12">
                              <label >Municipio <span class="required">*</span>
                              </label>
                              <select onchange="nacMum()" class="form-control" id="txt_municipiousuaria">
                                <option value="0">Seleccione</option>
                                <option>Municipio 1</option>
                              </select>
                              <br> <br>
                          </div>

                          <div class="col-md-12">
                            <label >Aldea <span class="required"></span>
                            </label>
                            <select class="form-control"  id="txt_aldeusuaria">
                              <option value="0">Seleccione</option>
                              <option>Aldea 1</option>
                            </select><br> <br>
                          </div>
                          <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-phone">
                             
                            <label class="mdc-text-field  mdc-text-field--outlined  mdc-text-field--filled mdc-text-field--textarea mdc-text-field--with-internal-counter" id="txt_company_addres" data-assigned-var> 
                              <span class="mdc-notched-outline">
                                <span class="mdc-notched-outline__leading"></span>
                                <span class="mdc-notched-outline__notch">
                                  <span class="mdc-floating-label" id="my-label-id">Dirección</span>
                                </span>
                                <span class="mdc-notched-outline__trailing"></span>
                              </span>
                              <span class="mdc-text-field__resizer">
                                <textarea id="txt_direccion" required class="mdc-text-field__input" aria-labelledby="my-label-id" rows="4" cols="40" maxlength="140"></textarea>
                                <span class="mdc-text-field-character-counter">0 / 140</span>
                              </span>
                            </label>
                            <br> <br>
                          </div>
                         
                          <button onclick="actualizarEtapa()" type="button" class="mdc-button mdc-button--raised mdc-button--leading mdc-button--color-secondary" >
                                            
                            <span class="mdc-button__ripple"></span>
                            <i class="material-icons mdc-button__icon" aria-hidden="true">check</i>
                            <span class="mdc-button__label">Actualizar Ubicación</span>
                        </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
            
    </div>
     
        <div class="container-marketplace--drawer-app-content mdc-drawer-app-content mdc-top-app-bar--fixed-adjust">

            
        </div>
    
</main>
{% endblock %}
{% block body_script_section %}


<script src="{{ url_for('static', filename='js/admin.js') }}"></script>

<script>

    function actualizarInfo(){
        const Swal = swcms.returnSwal()
   


        var companyName = document.getElementById('txt_company_name').value.trim();
        var dni = document.getElementById('txt_dni').value.trim();
        var email = document.getElementById('txt_email').value.trim();
        var phone = document.getElementById('txt_phone').value.trim();
        var txt_instagram = document.getElementById('txt_instagram').value.trim();
        var txt_facebook = document.getElementById('txt_facebook').value.trim();
        var txt_web = document.getElementById('txt_web').value.trim();
        var txt_company_description = document.getElementById('txt_company_description').value.trim();
        var txt_company_emp = document.getElementById('txt_company_emp').value.trim();
        var checkboxes = document.getElementsByName('cxb_accept');
        // loop over them all
        let accept = 1;
        for (var i=0; i<checkboxes.length; i++) {
        // And stick the checked ones onto an array...
        if (!checkboxes[i].checked) {
            accept = 0
        }
        }

 
        // Validar que no estén vacíos
        if (companyName === '' || dni === '' || email === '' || phone === '') {
            alert('Todos los campos son obligatorios');
            return false;
        }

        // Hacer algo con los datos (por ejemplo, mostrarlos en la consola)
        console.log('Nombre de la empresa:', companyName);
        console.log('DNI:', dni);
        console.log('Correo electrónico:', email);
        console.log('Número de teléfono:', phone);

        let postData = {
            "txt_company":'{{company.id}}',
            "companyName":companyName,
            "dni":dni,
            "email":email,
            "phone":phone,
            "txt_company_description":txt_company_description,
            "txt_company_emp":txt_company_emp,
            "txt_instagram":txt_instagram,
            "txt_facebook":txt_facebook,
            "txt_web":txt_web,
            "accept":accept
        };

        console.log(postData)
        let apiUrl = '/api/save/info/';


        swcms.postFetch(apiUrl, postData).then((data) => {
        Swal.fire(
        'Éxito',
        'Información actulizada',
        'success'
        )
        window.setTimeout(() => { window.location.reload(); }, 1500);

        }).catch((error) => {
        Swal.fire(
        'Error de conexión',
        'Por favor revisar tu conexión a internet, si el problema persiste contacta al administrador del sistema',
        'error'
        )
        document.getElementById('btn_generar_carta').disabled = false;
        });

    }

</script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>

window.addEventListener('load', function() {
    // Aquí colocas la llamada a tu función consumirDatos()

    consumirDatos();
});
     function consumirDatos(){

    fetch("{{ url_for('static', filename='js/datahn.json') }}")
    .then(response => response.json())
    .then(data => {
        console.log(data); // Aquí puedes manipular los datos del JSON
        setDepartamentos(data) ;
        console.log(data)
        console.log('Fin de llamada de datos')
    })
    .catch(error => console.error("Error al cargar el archivo JSON:", error));


  }

    //iniciar el selec departamentos
    function setDepartamentos(respuesta){

            if(respuesta.estado==1){
                departamentos=respuesta.departamentos
                municipios=respuesta.municipios
                aldeas=respuesta.aldeas
                //datos de nacimiento
                $('#txt_departamentousuaria').empty()
                $('#txt_departamentousuaria').append(new Option('Seleccione...', 0))
                $('#txt_municipiousuaria').empty()
                $('#txt_municipiousuaria').append(new Option('Seleccione...', 0))
                $('#txt_aldeusuaria').empty()
                $('#txt_aldeusuaria').append(new Option('Seleccione...', 0))
                //datos de lugar de vivienda
                $('#txt_departamento_d').empty()
                $('#txt_departamento_d').append(new Option('Seleccione...', 0))
                $('#txt_municipio_d').empty()
                $('#txt_municipio_d').append(new Option('Seleccione...', 0))
                $('#txt_aldea_d').empty()
                $('#txt_aldea_d').append(new Option('Seleccione...', 0))
                
                for (let i in departamentos) {
                    $('#txt_departamentousuaria').append(new Option(departamentos[i].nombre, departamentos[i].id))
                    $('#txt_departamento_d').append(new Option(departamentos[i].nombre, departamentos[i].id))
                    
                }

            }else{
                console.log(respuesta)
            }
    }
//funciones lugar de nacimiento
function nacDepto(){
    let txt_departamentousuaria  = $('#txt_departamentousuaria').val();

    $('#txt_municipiousuaria').empty()
    $('#txt_municipiousuaria').append(new Option('Seleccione...', 0))
    $('#txt_aldeusuaria').empty()
    $('#txt_aldeusuaria').append(new Option('Seleccione...', 0))

    for (let i in municipios) {
        if(txt_departamentousuaria==municipios[i].iddepartamento__id){
            $('#txt_municipiousuaria').append(new Option(municipios[i].nombre, municipios[i].id))
        }
    }
}
function nacMum(){

    let txt_municipiousuaria = $('#txt_municipiousuaria').val();
    $('#txt_aldeusuaria').empty()
    $('#txt_aldeusuaria').append(new Option('Seleccione...', 0))
    for (let i in aldeas) {
        if(txt_municipiousuaria==aldeas[i].idmunicipio__id){
            $('#txt_aldeusuaria').append(new Option(aldeas[i].nombre, aldeas[i].id))
        }
    }
}
//fin de funciones lugar de nacimiento
//funciones lugar de vivienda actual
function lugarDepto(){
}
function lugarMum(){
}


function actualizarEtapa(){

    const Swal = swcms.returnSwal()
    
    let txt_departamentousuaria = $('#txt_departamentousuaria').find(":selected").text();
    let txt_municipiousuaria = $('#txt_municipiousuaria').find(":selected").text();
    let txt_aldeusuaria = $('#txt_aldeusuaria').find(":selected").text();
    let txt_direccion = document.getElementById("txt_direccion").value.trim() || null

    if(txt_departamentousuaria=='Seleccione...' || txt_municipiousuaria=='Seleccione...' || txt_departamentousuaria === '' || txt_municipiousuaria === '' ){
        alert('Seleccione Departameno y Municipio')
        return false
    }
   
 
let postData = {
    "txt_company":'{{company.id}}',
    "txt_departamentousuaria":txt_departamentousuaria,
    "txt_municipiousuaria":txt_municipiousuaria,
    "txt_aldeusuaria":txt_aldeusuaria,
    "txt_direccion":txt_direccion
};

console.log(postData)

let apiUrl = '/api/save/depto/';


swcms.postFetch(apiUrl, postData).then((data) => {
    Swal.fire(
    'Éxito',
    'Carta de compromiso creada!',
    'success'
    )
    window.setTimeout(() => { window.location.reload(); }, 1500);

}).catch((error) => {
    Swal.fire(
    'Error de conexión',
    'Por favor revisar tu conexión a internet, si el problema persiste contacta al administrador del sistema',
    'error'
    )
   
});
return false
}

</script>
{% endblock %}