{% extends 'layout_main-drawer--dismissible_footer_topbar.html' %}
{% block page_description %}Innova, Innova Mujer, conexión innova, Servicios, Buscar, Profesional, Mercado, Talento{% endblock %}
{% block page_title %}Marketplace - Innova{% endblock %}
{% block body %}
<style>
    .mdc-card__media--square::before {
  margin-top: 0px !important;
}
</style>
<main class="s-main-content">
    <div class="container-color-background container-size-m">
        <header class="container-marketplace--topappbar mdc-top-app-bar">
            <div class="mdc-top-app-bar__row">
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                    <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button material-icons" aria-label="Filter">
                        <div class="mdc-icon-button__ripple"></div>
                        filter_list
                    </button>
                </section>
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-middle" role="Search">
                    <label class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon
                                mdc-text-field--color-on-primary">
                        <span class="mdc-notched-outline">
                            <span class="mdc-notched-outline__leading"></span>
                            <span class="mdc-notched-outline__notch">
                            <span class="mdc-floating-label" id="m-search-bar-label">
                                Buscar por servicio, habilidad, nombre o ubicación
                            </span>
                            </span>
                            <span class="mdc-notched-outline__trailing"></span>
                        </span>
                        <input id="m-search-bar" class="mdc-text-field__input" type="text" aria-labelledby="m-search-bar-label"
                                tabindex="0" maxlength="100">
                        <i class="material-icons mdc-text-field__icon mdc-text-field__icon--trailing">search</i>
                    </label>
                </section>
            </div>
        </header>
        <aside class="container-marketplace--drawer mdc-drawer mdc-drawer--dismissible mdc-top-app-bar--fixed-adjust">
            <div class="mdc-drawer__header">
                <h3 class="mdc-drawer__title">Filtros</h3>
                <h6 class="mdc-drawer__subtitle">Ordenar resultados</h6>
            </div>
            <div class="mdc-drawer__content">
                <div class="mdc-deprecated-list">
                <a class="mdc-deprecated-list-item mdc-deprecated-list-item--activated" href="#" aria-current="page">
                    <span class="mdc-deprecated-list-item__ripple"></span>
                    <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">person</i>
                    <span class="mdc-deprecated-list-item__text">Nombre A-Z</span>
                </a>
                <a class="mdc-deprecated-list-item" href="#">
                    <span class="mdc-deprecated-list-item__ripple"></span>
                    <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">person</i>
                    <span class="mdc-deprecated-list-item__text">Nombre Z-A</span>
                </a>
                <a class="mdc-deprecated-list-item" href="#">
                    <span class="mdc-deprecated-list-item__ripple"></span>
                    <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">star</i>
                    <span class="mdc-deprecated-list-item__text">Rating</span>
                </a>
                <a class="mdc-deprecated-list-item" href="#">
                    <span class="mdc-deprecated-list-item__ripple"></span>
                    <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">verified</i>
                    <span class="mdc-deprecated-list-item__text">Habilidades</span>
                </a>
                <a class="mdc-deprecated-list-item" href="#">
                    <span class="mdc-deprecated-list-item__ripple"></span>
                    <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">location_on</i>
                    <span class="mdc-deprecated-list-item__text">Ubicación</span>
                </a>
                </div>
            </div>
        </aside>
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-phone">
                <div class="mdc-card  mdc-card--color-on-primary">
                    <div class="mdc-card__primary-action" >
                      <div class="mdc-card__media mdc-card__media--square">
                        <div class="mdc-layout-grid">
                            <div class="mdc-layout-grid">
                                <div class="mdc-layout-grid__inner">
                                  <div class="mdc-layout-grid__cell--order-1 mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-phone">
                                    <div class="mdc-card__primary-action" tabindex="0">
                                        <div class="mdc-card__media">
                                            <img class="profile-background" src="{{ url_for('static', filename='images/calzadovarela.png') }}" alt="Border Perfil" />
                                            
                                        </div>
                                        <div class="mdc-card__ripple"></div>
                                    </div>

                                    <div >
                                        <i class="material-icons s-font-color-secondary">schedule</i>
                                        Lun-Vie, 8am-5pm.
                                    </div>
                                    <div>
                                        <i class="material-icons s-font-color-secondary">place</i>
                                        Tegucigalpa, Honduras.
                                    </div>
                                  </div>
                                  <div class="mdc-layout-grid__cell--order-2 mdc-layout-grid__cell--span-9-desktop mdc-layout-grid__cell--span-1-phone">

                                    <div class="search-result--name mdc-typography--headline5 s-font-color-secondary">
                                        Calzado Varela
                                    </div>
                                    <div class="search-result--service mdc-typography--headline6">
                                        Fabricar y comercializar calzado de cuero
                                    </div>
                                    <div class="search-result--description mdc-typography--body1">
                                        Somos productores y comercializadores de calzado para damas, caballeros y niños cuya materia principal es el cuero. Nos avalan más de 50 años de experiencia en la industria del calzado
                                        <br>

                                    </div>
                                  </div>
                                 
                                </div>
                              </div>
                        </div>
                      </div>
                      <!-- ... additional primary action content ... -->
                      <div class="mdc-card__ripple"></div>
                    </div>
                    <div class="mdc-card__actions">
                      <div class="mdc-card__action-buttons">
                        <a target="_blank" href="https://wa.me/" class="mdc-button mdc-button--raised mdc-button--leading" style="background-color: #25D366;margin-left: 10px;">
                                   
                            <span class="mdc-fab__icon fa fa-whatsapp" aria-hidden="true"></span>
                            <span class="mdc-button__ripple"></span>
                            <span class="mdc-button__label" style="margin-left: 10px;"> Whatsapp Business</span>
                        </a>
                      </div>
                      <div class="mdc-card__action-icons">
                        <a class="mdc-button mdc-card__action mdc-card__action--button" href="#">
                            <div class="mdc-button__ripple"></div>
                            <span class="mdc-button__label">compatir Perfil</span>
                            <i class="material-icons mdc-button__icon" aria-hidden="true">share</i>
                          </a>

     
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            
          </div>
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-phone">
                <div class="mdc-card  mdc-card--color-on-primary">
                    <div class="mdc-card__primary-action" >
                      <div class="mdc-card__media mdc-card__media--square">
                        <div class="mdc-layout-grid">
                            <div class="mdc-layout-grid">
                                <div class="mdc-layout-grid__inner">
                                  <div class="mdc-layout-grid__cell--order-1 mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-phone">
                                    <div class="mdc-card__primary-action" tabindex="0">
                                        <div class="mdc-card__media">
                                            <img class="profile-background" src="{{ url_for('static', filename='images/mabel.png') }}" alt="Border Perfil" />
                                            
                                        </div>
                                        <div class="mdc-card__ripple"></div>
                                    </div>

                                    <div >
                                        <i class="material-icons s-font-color-secondary">schedule</i>
                                        Lun-Vie, 8am-5pm.
                                    </div>
                                    <div>
                                        <i class="material-icons s-font-color-secondary">place</i>
                                        Tegucigalpa, Honduras.
                                    </div>
                                  </div>
                                  <div class="mdc-layout-grid__cell--order-2 mdc-layout-grid__cell--span-9-desktop mdc-layout-grid__cell--span-1-phone">

                                    <div class="search-result--name mdc-typography--headline5 s-font-color-secondary">
                                        Mabel's Studio
                                    </div>
                                    <div class="search-result--service mdc-typography--headline6">
                                        Como se refleja tu rostro en un espejo, se refleja tu corazón en tu rostro. 
                                    </div>
                                    <div class="search-result--description mdc-typography--body1">
                                        Mabel's Studio Maquillaje para toda ocasión, con servicio a domicilio dentro del casco de la ciudad.
                                    </div>
                                  </div>
                                 
                                </div>
                              </div>
                        </div>
                      </div>
                      <!-- ... additional primary action content ... -->
                      <div class="mdc-card__ripple"></div>
                    </div>
                    <div class="mdc-card__actions">
                      <div class="mdc-card__action-buttons">
                        <a target="_blank" href="https://wa.me/" class="mdc-button mdc-button--raised mdc-button--leading" style="background-color: #25D366;margin-left: 10px;">
                                   
                            <span class="mdc-fab__icon fa fa-whatsapp" aria-hidden="true"></span>
                            <span class="mdc-button__ripple"></span>
                            <span class="mdc-button__label" style="margin-left: 10px;"> Whatsapp Business</span>
                        </a>
                      </div>
                      <div class="mdc-card__action-icons">
                        <a class="mdc-button mdc-card__action mdc-card__action--button" href="#">
                            <div class="mdc-button__ripple"></div>
                            <span class="mdc-button__label">compatir Perfil</span>
                            <i class="material-icons mdc-button__icon" aria-hidden="true">share</i>
                          </a>

     
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            
          </div>
        <div class="container-marketplace--drawer-app-content mdc-drawer-app-content mdc-top-app-bar--fixed-adjust">

            
        </div>
    </div>
</main>
{% endblock %}
{% block body_script_section %}
<script src="{{ url_for('static', filename='js/bundle/marketplace.min.js') }}"></script>
{% endblock %}