{% extends 'layout_main-drawer--dismissible_footer_topbar.html' %}
{% block page_description %}Innova Mujer Home, Casa, Dashboard, Home{% endblock %}
{% block page_title %}Innova Mujer Home{% endblock %}
{% block css_script_section %}
<style>
    .alignleft {
	float: left;
}
.alignright {
	float: right;
}
</style>
{% endblock %}
{% block body %}
<main class="s-main-content">
    <div class="container-color-background">
        <div class="mdc-layout-grid container-size-s">
            <div class="mdc-layout-grid__inner">

                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-6-tablet">
                    <div class="container-dashboard--messages">
                        <div class="mdc-card mdc-card--color-on-primary">
                            <div class="mdc-tab-bar" role="tablist" data-action-fn="showMessagesContracts">
                                <div class="mdc-tab-scroller">
                                    <div class="mdc-tab-scroller__scroll-area">
                                        <div class="mdc-tab-scroller__scroll-content">
                                            <button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
                                                <span class="mdc-tab__content">
                                                    <span class="mdc-tab__text-label">Servicios Recomendados</span>
                                                </span>
                                                <span class="mdc-tab-indicator mdc-tab-indicator--active">
                                                    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                                </span>
                                                <span class="mdc-tab__ripple"></span>
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mdc-card__content container-dashboard--messages-msg">
                                
                                  <div class="mdc-data-table" style="background-color: white;width: 100%;" >
                                    <div class="mdc-data-table__table-container">
                                      <table class="mdc-data-table__table" aria-label="Dessert calories">
                                        <thead>
                                          <tr class="mdc-data-table__header-row">
                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">#</th>
                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">ACTIVIDAD</th>
                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">FECHA</th>
                                            

                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">ACCIONES</th>
                                          </tr>
                                          
                                          
                                          
                                        </thead>
                                        <tbody class="mdc-data-table__content">
                                            {% for apix in servicios%}
                                            
                                          
                                          <tr class="mdc-data-table__row">
                                            <th class="mdc-data-table__cell" scope="row">
                                                {{loop.index}}
                                            </th>
                                            <th class="mdc-data-table__cell" scope="row">
                                                {{ apix.titulo }}
                                            </th>
                                            <td class="mdc-data-table__cell">
                                                <input type="date" id="date_{{ apix.id }}">
                                            </td>
         
                                        
                                            <td class="mdc-data-table__cell">
                                                <button onclick="agregar('{{ apix.id }}','{{ apix.titulo }}','date_{{ apix.id }}')" class="mdc-button mdc-button--raised mdc-button--leading" style="--mdc-ripple-fg-size: 75px; --mdc-ripple-fg-scale: 1.8784232240642684; --mdc-ripple-fg-translate-start: 16.41668701171875px, -7.866668701171875px; --mdc-ripple-fg-translate-end: 25.416671752929688px, -19.5px;">
                                                
                                                    <span class="mdc-button__ripple"></span>
                                                    <i class="material-icons mdc-button__icon" aria-hidden="true">add</i>
                                                    <span class="mdc-button__label">Agregar a plan</span>
                                                </button>
                                            </td>
                                          </tr>
                                          {% endfor %}
                                        </tbody>
                                      </table>
                                    </div>
                                  
                                    <div class="mdc-data-table__progress-indicator">
                                      <div class="mdc-data-table__scrim"></div>
                                      <div class="mdc-linear-progress mdc-linear-progress--indeterminate mdc-data-table__linear-progress" role="progressbar" aria-label="Data is being loaded...">
                                        <div class="mdc-linear-progress__buffer">
                                          <div class="mdc-linear-progress__buffer-bar"></div>
                                          <div class="mdc-linear-progress__buffer-dots"></div>
                                        </div>
                                        <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
                                          <span class="mdc-linear-progress__bar-inner"></span>
                                        </div>
                                        <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                                          <span class="mdc-linear-progress__bar-inner"></span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <br><br>
                                  <div class="mdc-data-table" style="background-color: white;width: 100%;" >
                                    <div class="mdc-data-table__table-container">
                                      <table class="mdc-data-table__table" aria-label="Dessert calories">
                                        <thead>
                                          <tr class="mdc-data-table__header-row">
                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">#</th>
                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">ACTIVIDAD</th>
                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">FECHA</th>
                                            

                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">ACCIONES</th>
                                          </tr>
                                          
                                          
                                          
                                        </thead>
                                        <tbody class="mdc-data-table__content">
                                            {% for apix in servicios%}
                                            
                                          
                                          <tr class="mdc-data-table__row">
                                            <th class="mdc-data-table__cell" scope="row">
                                                {{loop.index}}
                                            </th>
                                            <th class="mdc-data-table__cell" scope="row">
                                                {{ apix.titulo }}
                                            </th>
                                            <td class="mdc-data-table__cell">
                                                <input type="date" id="date_{{ apix.id }}">
                                            </td>
         
                                        
                                            <td class="mdc-data-table__cell">
                                                <button onclick="agregar('{{ apix.id }}','{{ apix.titulo }}','date_{{ apix.id }}')" class="mdc-button mdc-button--raised mdc-button--leading" style="--mdc-ripple-fg-size: 75px; --mdc-ripple-fg-scale: 1.8784232240642684; --mdc-ripple-fg-translate-start: 16.41668701171875px, -7.866668701171875px; --mdc-ripple-fg-translate-end: 25.416671752929688px, -19.5px;">
                                                
                                                    <span class="mdc-button__ripple"></span>
                                                    <i class="material-icons mdc-button__icon" aria-hidden="true">add</i>
                                                    <span class="mdc-button__label">Agregar a plan</span>
                                                </button>
                                            </td>
                                          </tr>
                                          {% endfor %}
                                        </tbody>
                                      </table>
                                    </div>
                                  
                                    <div class="mdc-data-table__progress-indicator">
                                      <div class="mdc-data-table__scrim"></div>
                                      <div class="mdc-linear-progress mdc-linear-progress--indeterminate mdc-data-table__linear-progress" role="progressbar" aria-label="Data is being loaded...">
                                        <div class="mdc-linear-progress__buffer">
                                          <div class="mdc-linear-progress__buffer-bar"></div>
                                          <div class="mdc-linear-progress__buffer-dots"></div>
                                        </div>
                                        <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
                                          <span class="mdc-linear-progress__bar-inner"></span>
                                        </div>
                                        <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                                          <span class="mdc-linear-progress__bar-inner"></span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div>
              
                                
                             


                            <div class="mdc-card__actions">
                                <div class="mdc-card__actions-buttons">
                                </div>
                                <div class="mdc-card__action-icons">
                                    <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon">
                                        <div class="mdc-icon-button__ripple"></div>
                                        more_vert
                                    </button>
                                </div>
                            </div>
                        
                        
                    </div>
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-6-tablet">
                    <div class="container-dashboard--messages">
                        <div class="mdc-card mdc-card--color-on-primary">
                            <div class="mdc-tab-bar" role="tablist" data-action-fn="showMessagesContracts">
                                <div class="mdc-tab-scroller">
                                    <div class="mdc-tab-scroller__scroll-area">
                                        <div class="mdc-tab-scroller__scroll-content">
                                            <button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
                                                <span class="mdc-tab__content">
                                                    <span class="mdc-tab__text-label">Plan de mejora</span>
                                                </span>
                                                <span class="mdc-tab-indicator mdc-tab-indicator--active">
                                                    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                                </span>
                                                <span class="mdc-tab__ripple"></span>
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mdc-card__content container-dashboard--messages-msg">
                                
                                  <div  class="mdc-data-table" style="background-color: white;width: 100%;" >
                                    <div class="mdc-data-table__table-container">
                                      <table class="mdc-data-table__table" aria-label="Dessert calories">
                                        <thead>
                                          <tr class="mdc-data-table__header-row">
                                            
                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">ACTIVIDAD</th>
                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">FECHA</th>
                                            

                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">ACCIONES</th>
                                          </tr>
                                          
                                          
                                          
                                        </thead>
                                        <tbody id="tablaPlan" class="mdc-data-table__content">

                                        </tbody>
                                      </table>
                                    </div>
                                  
                                    <div class="mdc-data-table__progress-indicator">
                                      <div class="mdc-data-table__scrim"></div>
                                      <div class="mdc-linear-progress mdc-linear-progress--indeterminate mdc-data-table__linear-progress" role="progressbar" aria-label="Data is being loaded...">
                                        <div class="mdc-linear-progress__buffer">
                                          <div class="mdc-linear-progress__buffer-bar"></div>
                                          <div class="mdc-linear-progress__buffer-dots"></div>
                                        </div>
                                        <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
                                          <span class="mdc-linear-progress__bar-inner"></span>
                                        </div>
                                        <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                                          <span class="mdc-linear-progress__bar-inner"></span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div>
              
                                
                             


                            <div class="mdc-card__actions">
                                <div class="mdc-card__actions-buttons">
                                </div>
                                <div class="mdc-card__action-icons">
                                    <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon">
                                        <div class="mdc-icon-button__ripple"></div>
                                        more_vert
                                    </button>
                                </div>
                            </div>
                        
                        
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
{% endblock %}
{% block body_script_section %}
<script src="{{ url_for('static', filename='js/superadmin.js') }}"></script>
<script>
    function agregar(id,servicio,fecha){
        console.log(id)
        console.log(servicio)
     
        fecha = document.getElementById(fecha).value
        if (fecha){
            var Tbl = document.getElementById("tablaPlan");
            var hilera = document.createElement("tr");
            var celda = document.createElement("td");
            var celda2 = document.createElement("td");
            var celda3 = document.createElement("td");
            var textoCelda = document.createTextNode(servicio);
            var textoCelda2 = document.createTextNode(fecha);
            var textoCelda3 = document.createTextNode("Eliminar");

            celda.appendChild(textoCelda);
            celda2.appendChild(textoCelda2);
            celda3.appendChild(textoCelda3);

            hilera.appendChild(celda);
            hilera.appendChild(celda2);
            hilera.appendChild(celda3);

Tbl.appendChild(hilera);
        }else{
            console.log('ss')
        }
        
    }

    function agregarFila() {



    }
</script>
{% endblock %}

