{% extends 'layout_main-drawer--dismissible_footer_topbar.html' %}
{% block page_description %}Innova Estadísticas, Estadísticas, Ver Estadísticas, Mis Estadísticas{% endblock %}
{% block page_title %}Innova Estadísticas{% endblock %}
{% block head_section %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jsCalendar.css') }}">
{% endblock %}
{% block body %}
<main class="s-main-content container-color-background">
    <div class="mdc-layout-grid container-size-xs">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-5-desktop mdc-layout-grid__cell--span-8-tablet 
                        mdc-layout-grid__cell--align-middle container-justify-center s-font-align-center">
                        <div style="position:relative;padding-top:0;width:900px;height:1000px;">
    
                            <iframe style="position:absolute;border:none;width:100%;height:100%;left:0;top:0;" src="https://online.fliphtml5.com/zxdsd/bklg/"  seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" ></iframe>
                        
                        </div>
            </div>
        </div>
    </div>

</main>
{% endblock %}
{% block bottombar %}
{% endblock %}
{% block body_script_section %}
<script src="{{ url_for('static', filename='js/bundle/stats.min.js') }}"></script>
{% endblock %}

