{% extends 'layout_main-drawer--dismissible_footer_topbar.html' %}
{% block page_description %}Innova Mujer Home, Casa, Dashboard, Home{% endblock %}
{% block page_title %}Innova Mujer Home{% endblock %}
{% block head_section %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jsCalendar.css') }}">
{% endblock %}
{% block body %}
<main class="s-main-content">
    <div class="container-color-background">
        <div class="mdc-layout-grid container-size-s">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet 
                            mdc-layout-grid__cell--align-middle">
                    <div class="container-dashboard--profile">
                        <div class="mdc-card mdc-card--color-on-primary">
                            <div class="mdc-card__primary-action" tabindex="0">
                                <div class="mdc-card__media">
                                    <img class="profile-background" src="../static/images/manifest/innova_perfil.svg" alt="Border Perfil" />
                                    <img class="profile-pic" src="../static/images/manifest/innova_icon.svg" alt="Foto Perfil" />
                                </div>
                                <div class="mdc-card__ripple"></div>
                            </div>
                            <div class="mdc-card__content">
                                <div class="mdc-typography--headline5 s-font-color-secondary">{{ current_user.name }}</div>
                                <div class="mdc-typography--subtitle1">Lic. en sistemas </div>
                                <div class="mdc-typography--subtitle1">
                                    <i class="material-icons s-font-color-primary">verified_user</i>
                                    Empresaria
                                </div>
                                <div class="mdc-typography--subtitle1">
                                    <i class="material-icons s-font-color-primary">d</i>
                                    HonduTech LLC
                                </div>
                                <div class="mdc-typography--subtitle1">
                                    <i class="material-icons s-font-color-secondary">place</i>
                                    Tegucigalpa, Honduras.
                                </div>
                                <span class="mdc-evolution-chip-set" role="grid">
                                    <span class="mdc-evolution-chip-set__chips" role="presentation">
                                        <span class="mdc-evolution-chip" role="row" id="c0">
                                        <span class="mdc-evolution-chip__cell mdc-evolution-chip__cell--primary" role="gridcell">
                                            <button class="mdc-evolution-chip__action mdc-evolution-chip__action--primary" type="button" tabindex="0">
                                            <span class="mdc-evolution-chip__ripple mdc-evolution-chip__ripple--primary"></span>
                                            <span class="mdc-evolution-chip__text-label">Habilidad 1</span>
                                            </button>
                                        </span>
                                        </span>
                                        <span class="mdc-evolution-chip" role="row" id="c1">
                                        <span class="mdc-evolution-chip__cell mdc-evolution-chip__cell--primary" role="gridcell">
                                            <button class="mdc-evolution-chip__action mdc-evolution-chip__action--primary" type="button" tabindex="-1">
                                            <span class="mdc-evolution-chip__ripple mdc-evolution-chip__ripple--primary"></span>
                                            <span class="mdc-evolution-chip__text-label">Habilidad 2</span>
                                            </button>
                                        </span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                            <div class="mdc-card__actions">
                                <div class="mdc-card__actions-buttons"></div>
                                <div class="mdc-card__action-icons">
                                    <a href="/form/sde/profile" class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon">
                                        <div class="mdc-icon-button__ripple"></div>
                                        edit
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-4-tablet">
                    <div class="container-dashboard--messages">
                        <div class="mdc-card mdc-card--color-on-primary">
                            <div class="mdc-tab-bar" role="tablist" data-action-fn="showMessagesContracts">
                                <div class="mdc-tab-scroller">
                                    <div class="mdc-tab-scroller__scroll-area">
                                        <div class="mdc-tab-scroller__scroll-content">
                                            <button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
                                                <span class="mdc-tab__content">
                                                    <span class="mdc-tab__text-label">Herramientas</span>
                                                </span>
                                                <span class="mdc-tab-indicator mdc-tab-indicator--active">
                                                    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                                </span>
                                                <span class="mdc-tab__ripple"></span>
                                            </button>
                                            <button class="mdc-tab" role="tab" aria-selected="true" tabindex="1">
                                                <span class="mdc-tab__content">
                                                    <span class="mdc-tab__text-label">Tus citas</span>
                                                </span>
                                                <span class="mdc-tab-indicator">
                                                    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                                </span>
                                                <span class="mdc-tab__ripple"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mdc-card__content container-dashboard--messages-msg">
                                <ul class="mdc-deprecated-list mdc-deprecated-list--two-line mdc-list--avatar-list">
                                    <li class="mdc-deprecated-list-item" tabindex="0">
                                        <a target="_blank" href="https://ee.kobotoolbox.org/x/gG31mMNd">
                                        <span class="mdc-deprecated-list-item__ripple"></span>
                                        <span class="mdc-deprecated-list-item__graphic" aria-hidden="true">
                                            <img src="../static/images/manifest/user_f.svg" alt="Foto Usuario" />
                                        </span>
                                        <span class="mdc-deprecated-list-item__text">
                                            <span class="mdc-deprecated-list-item__primary-text">Responder diagnostico empresarial</span>
                                        </span>
                                        <span class="mdc-deprecated-list-item__meta material-icons s-font-color-secondary" aria-hidden="true">new_releases</span>
                                        </a>
                                    </li>
                                    <li role="separator" class="mdc-deprecated-list-divider"></li>
                                    <li class="mdc-deprecated-list-item">
                                        <a target="_blank" href="https://app.powerbi.com/groups/me/reports/c349ed84-4d69-4f98-b099-b74252b7dc6d?ctid=91ed43f6-c29f-4fbc-a3b0-0d0e6865d0e8&pbi_source=linkShare&bookmarkGuid=5b28c4dd-aece-4c28-873f-786a46033b7b">
                                        
                                            <span class="mdc-deprecated-list-item__ripple"></span>
                                            <span class="mdc-deprecated-list-item__graphic material-icons" aria-hidden="true">notifications</span>
                                            <span class="mdc-deprecated-list-item__text">
                                                <span class="mdc-deprecated-list-item__primary-text">Resultados del diagnostico empresarial</span>
                                                <span class="mdc-deprecated-list-item__secondary-text">Notificación Innova</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li role="separator" class="mdc-deprecated-list-divider"></li>
                                    <li class="mdc-deprecated-list-item">
                                        <span class="mdc-deprecated-list-item__ripple"></span>
                                        <span class="mdc-deprecated-list-item__graphic" aria-hidden="true">
                                            <img src="../static/images/manifest/innova_icon.svg" alt="Foto Usuario" />
                                        </span>
                                        <span class="mdc-deprecated-list-item__text">
                                            <span class="mdc-deprecated-list-item__primary-text">Laboratoria</span>
                                        </span>
                                    </li>
                                    <li role="separator" class="mdc-deprecated-list-divider"></li>
                                    <li role="separator" class="mdc-deprecated-list-divider"></li>
                                    <li class="mdc-deprecated-list-item">
                                        <span class="mdc-deprecated-list-item__ripple"></span>
                                        <span class="mdc-deprecated-list-item__graphic" aria-hidden="true">
                                            <img src="../static/images/manifest/innova_icon.svg" alt="Foto Usuario" />
                                        </span>
                                        <span class="mdc-deprecated-list-item__text">
                                            <span class="mdc-deprecated-list-item__primary-text">construir planes de mejora</span>
                                        </span>
                                    </li>
                                    <li role="separator" class="mdc-deprecated-list-divider"></li>

                                    
                                </ul>
                            </div>
                            <div class="mdc-card__content container-dashboard--messages-cnt container--hidden">
                                <div class="container-dashboard--messages-list-empty s-font-align-center">
                                    <p>
                                        <i class="material-icons s-font-size-xl s-font-color-secondary">remove_shopping_cart</i>
                                    </p>
                                    <p class="mdc-typography--body1">
                                        No posees contratos activos.
                                    </p>
                                    <p class="mdc-typography--caption">
                                        Selecciona un servicio del Digital Center o el Marketplace.
                                    </p>
                                </div>
                            </div>
                            <div class="mdc-card__actions">
                                <div class="mdc-card__actions-buttons">
                                </div>
                                <div class="mdc-card__action-icons">
                                    <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon">
                                        <div class="mdc-icon-button__ripple"></div>
                                        more_vert
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-color-background">
        <div class="mdc-layout-grid container-size-s">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                    <div class="mdc-card s-mdc-card__stats-size-s">
                        <div class="mdc-card__primary-action" tabindex="0">
                            <div class="s-mdc-card__stats-title">
                                <i class="material-icons s-font-color-very-satisfied">signal_wifi_4_bar</i>
                                <div class="mdc-typography--subtitle2">
                                    Atenciones exitosas
                                </div>
                            </div>
                            <div class="mdc-typography--headline2 s-font-color-primary s-mdc-card__stats-result">
                                350
                            </div>

                        </div>
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
                    <div class="mdc-layout-grid container-stats">
                        <div class="mdc-layout-grid__inner">
                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet
                                        mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-top container-justify-center">
                                <p class="mdc-typography--subtitle1 s-font-color-primary">
                                    Filtra por fecha:
                                </p>
                                <div>
                                    <label class="mdc-text-field mdc-text-field--filled mdc-text-field--label-floating" id="filter-date" data-assigned-var>
                                        <span class="mdc-text-field__ripple"></span>
                                        <input id="f-filter-date-input" class="mdc-text-field__input" type="text"
                                                aria-labelledby="f-filter-date-label" tabindex="0" value="mm/dd/yyyy">
                                        <span class="mdc-floating-label mdc-floating-label--float-above" id="f-filter-date-label">Filtra por fecha</span>
                                        <span class="mdc-line-ripple"></span>
                                    </label>
                                </div>
                                <p class="mdc-typography--subtitle1 s-font-color-primary">
                                    Exportar datos:
                                </p>
                                <div class="container-stats-export">
                                    <button id="exportExcelButton" class="mdc-button mdc-button--raised button-stats-export--excel"
                                            aria-label="Export to Excel" alt="Export to Excel">
                                        <div class="mdc-button__ripple"></div>
                                        <i class="mdc-button__icon far fa-file-excel" aria-hidden="true"></i>
                                        <span class="mdc-button__label">Excel</span>
                                    </button>
                                    <button id="exportPDFButton" class="mdc-button mdc-button--raised button-stats-export--pdf"
                                            aria-label="Export to PDF" alt="Export to PDF">
                                        <div class="mdc-button__ripple"></div>
                                        <i class="mdc-button__icon far fa-file-pdf" aria-hidden="true"></i>
                                        <span class="mdc-button__label">PDF</span>
                                    </button>
                                </div>
                            </div>
                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-4-tablet
                                        mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-top container-stats-list">


                                <div class="mdc-card s-mdc-card__stats-size-l">
                                    <div class="mdc-card__primary-action" tabindex="0">
                                        <div class="s-mdc-card__stats-title">
                                            <i class="material-icons s-font-color-secondary">query_stats</i>
                                            <div class="mdc-typography--subtitle2">
                                                Atenciones
                                            </div>
                                        </div>
                                        <canvas id="graph-stats--visits" class="s-mdc-card__stats-result">
                                        </canvas>
                                        <div class="mdc-typography--caption s-font-color-secondary s-mdc-card__stats-comment">
                                            Atenciones en la semana
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block body_script_section %}
<script src="{{ url_for('static', filename='js/bundle/home-dashboard.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bundle/stats.min.js') }}"></script>
{% endblock %}