{% extends 'layout_main-drawer--dismissible_footer_topbar.html' %}
{% block page_description %}Innova Mujer Home, Casa, Dashboard, Home{% endblock %}
{% block page_title %}Innova Mujer Home{% endblock %}
{% block css_script_section %}
<style>
    .alignleft {
	float: left;
}
.alignright {
	float: right;
}
</style>
{% endblock %}
{% block body %}
<main class="s-main-content">
    <div class="container-color-background">
        <div class="mdc-layout-grid container-size-s">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet 
                            mdc-layout-grid__cell--align-middle">
                    <div class="container-dashboard--profile">
                        <div class="mdc-card mdc-card--color-on-primary">
                            <div class="mdc-card__primary-action" tabindex="0">
                                <div class="mdc-card__media">
                                    <img class="profile-background" src="../static/images/manifest/innova_perfil.svg" alt="Border Perfil" />
                                    <img class="profile-pic" src="../static/images/manifest/innova_icon.svg" alt="Foto Perfil" />
                                </div>
                                <div class="mdc-card__ripple"></div>
                            </div>
                            <div class="mdc-card__content">
                                <div class="mdc-typography--headline5 s-font-color-secondary">
                                    {% if current_user.extra_info.company.name %}
                                        {{ current_user.extra_info.company.name }}
                                    {% endif %}
                                    

                                </div>
                              
                                <div class="mdc-typography--subtitle1">
                                    <i class="material-icons s-font-color-primary">verified_user</i>
                                    Empresaria 
                                </div>
                                {% if  current_user.extra_info.names %}
                                <div class="mdc-typography--subtitle1">
                                    <i class="material-icons s-font-color-primary">business</i>
                                    
                                    {{ current_user.extra_info.names }}
                                </div>
                                {% endif %}

                            </div>
                            <div class="mdc-card__actions">
                                <div class="mdc-card__actions-buttons"></div>
                                <div class="mdc-card__action-icons">
                                    <a href="/form/perfil" class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon">
                                        <div class="mdc-icon-button__ripple"></div>
                                        edit
                                    </a>
                                    


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-4-tablet">
                    <div class="container-dashboard--messages">
                        <div class="mdc-card mdc-card--color-on-primary">
                            <div class="mdc-tab-bar" role="tablist" data-action-fn="showMessagesContracts">
                                <div class="mdc-tab-scroller">
                                    <div class="mdc-tab-scroller__scroll-area">
                                        <div class="mdc-tab-scroller__scroll-content">
                                            <button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
                                                <span class="mdc-tab__content">
                                                    <span class="mdc-tab__text-label">Mensajes</span>
                                                </span>
                                                <span class="mdc-tab-indicator mdc-tab-indicator--active">
                                                    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                                </span>
                                                <span class="mdc-tab__ripple"></span>
                                            </button>
                                            <button class="mdc-tab" role="tab" aria-selected="true" tabindex="1">
                                                <span class="mdc-tab__content">
                                                    <span class="mdc-tab__text-label">Preguntas frecuentes</span>
                                                </span>
                                                <span class="mdc-tab-indicator">
                                                    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                                </span>
                                                <span class="mdc-tab__ripple"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mdc-card__content container-dashboard--messages-msg">
                                <ul class="mdc-deprecated-list mdc-deprecated-list--two-line mdc-list--avatar-list">
                                {% if  carta.signed_innova %}
                                    {% if not carta.signed %}
                                    <a href="{{ url_for('digitalcenter._company_document_user',document_id=carta.id) }}" >
                                        <li class="mdc-deprecated-list-item" tabindex="0">
                                            <span class="mdc-deprecated-list-item__ripple"></span>
                                            <span class="mdc-deprecated-list-item__graphic" aria-hidden="true">
                                                <img src="../static/images/manifest/user_f.svg" alt="Foto Usuario" />
                                            </span>
                                            <span class="mdc-deprecated-list-item__text">
                                                <span class="mdc-deprecated-list-item__primary-text">Carta de compromiso pendiente de firma</span>
                                            {% if carta.created_by %}
                                                <span class="mdc-deprecated-list-item__secondary-text">{{ carta.created_by }}</span>
                                            {% else %}
                                                <span class="mdc-deprecated-list-item__secondary-text">Admin</span>
                                            {% endif %}
                                            </span>
                                            <span class="mdc-deprecated-list-item__meta material-icons s-font-color-secondary" aria-hidden="true">new_releases</span>
                                        </li>

                                    </a>

                                    {% endif %}
                                {% endif %}
                                </ul>
                                <!--
                                <ul class="mdc-deprecated-list mdc-deprecated-list--two-line mdc-list--avatar-list">
                                    <li class="mdc-deprecated-list-item" tabindex="0">
                                        <span class="mdc-deprecated-list-item__ripple"></span>
                                        <span class="mdc-deprecated-list-item__graphic" aria-hidden="true">
                                            <img src="../static/images/manifest/user_f.svg" alt="Foto Usuario" />
                                        </span>
                                        <span class="mdc-deprecated-list-item__text">
                                            <span class="mdc-deprecated-list-item__primary-text">Hola! Tal como acordamos, acá le comparto el logo para CompraNow</span>
                                            <span class="mdc-deprecated-list-item__secondary-text">Admin Innova</span>
                                        </span>
                                        <span class="mdc-deprecated-list-item__meta material-icons s-font-color-secondary" aria-hidden="true">new_releases</span>
                                    </li>
                                    <li role="separator" class="mdc-deprecated-list-divider"></li>
                                    <li class="mdc-deprecated-list-item">
                                        <span class="mdc-deprecated-list-item__ripple"></span>
                                        <span class="mdc-deprecated-list-item__graphic material-icons" aria-hidden="true">notifications</span>
                                        <span class="mdc-deprecated-list-item__text">
                                            <span class="mdc-deprecated-list-item__primary-text">Recuerda usar los créditos de tu Wallet para gozar de mayores beneficios en Innova Mujer.</span>
                                            <span class="mdc-deprecated-list-item__secondary-text">Notificación Innova</span>
                                        </span>
                                    </li>

                                    <li role="separator" class="mdc-deprecated-list-divider"></li>
                                </ul>-->
                            </div>
                            <div class="mdc-card__content container-dashboard--messages-cnt container--hidden">
                                <div class="container-dashboard--messages-list-empty">
                                    <ul class="mdc-deprecated-list mdc-deprecated-list--two-line mdc-list--avatar-list">

                                        <li class="mdc-deprecated-list-item">
                                            <span class="mdc-deprecated-list-item__ripple"></span>
                                            <span class="mdc-deprecated-list-item__graphic material-icons" aria-hidden="true">library_books</span>
                                            <span class="mdc-deprecated-list-item__text">
                                                <span class="mdc-deprecated-list-item__primary-text">Como llenar el formulario de inscripción.</span>
                                                <span class="mdc-deprecated-list-item__secondary-text">Admin Innova</span>
                                            </span>
                                        </li>
                                        <li role="separator" class="mdc-deprecated-list-divider"></li>
                                        <li class="mdc-deprecated-list-item">
                                            <span class="mdc-deprecated-list-item__ripple"></span>
                                            <span class="mdc-deprecated-list-item__graphic material-icons" aria-hidden="true">play_arrow</span>
                                            <span class="mdc-deprecated-list-item__text">
                                                <span class="mdc-deprecated-list-item__primary-text">Como llenar el formulario de inscripción.</span>
                                                <span class="mdc-deprecated-list-item__secondary-text">Admin Innova</span>
                                            </span>
                                        </li>
                                        <li role="separator" class="mdc-deprecated-list-divider"></li>
                                        <li class="mdc-deprecated-list-item">
                                            <span class="mdc-deprecated-list-item__ripple"></span>
                                            <span class="mdc-deprecated-list-item__graphic material-icons" aria-hidden="true">play_arrow</span>
                                            <span class="mdc-deprecated-list-item__text">
                                                <span class="mdc-deprecated-list-item__primary-text">Como contactar a un especialista.</span>
                                                <span class="mdc-deprecated-list-item__secondary-text">Admin Innova</span>
                                            </span>
                                        </li>
      
                                    </ul>
                                </div>
                            </div>
                            <div class="mdc-card__actions">
                                <div class="mdc-card__actions-buttons">
                                </div>
                                <div class="mdc-card__action-icons">
                                    <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon">
                                        <div class="mdc-icon-button__ripple"></div>
                                        more_vert
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-color-background">
        <div class="mdc-layout-grid container-size-s">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
                    <div class="container-dashboard--card-info">
                        <div class="mdc-card mdc-card--color-on-primary">
                            <div class="mdc-card__content">
                                <img src="{{ url_for('static', filename='images/secuencia 01_1.gif') }}" style="width: 600px;">

                            </div>
                            <div class="mdc-card__actions">
                                <div class="mdc-card__actions-buttons"></div>
                                <div class="mdc-card__action-icons">
                                    <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon">
                                        <div class="mdc-icon-button__ripple"></div>
                                        more_vert
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                    <div class="container-dashboard--card-info">
                        <div class="mdc-card mdc-card--color-on-primary">
                            <div class="mdc-card__content">
                                <div class="mdc-typography--headline5 s-font-color-secondary">Plan de mejora</div>
                                <br>
                                <p class="mdc-deprecated-list-divider"></p>
                                <div class="demo-linear-progress-indicator">
                                    
                                    <div id="textbox">
                                        <p style="font-weight: bold" class="alignleft">Área de mejora 1</p>
                                        <p class="alignright">10 / 100</p>
                                    </div>
                                    <div role="progressbar" class="mdc-linear-progress "><div class="mdc-linear-progress__buffering-dots"></div>
                                    <div class="mdc-linear-progress__buffer" style="transform: scaleX(0.10);"></div>
                                    <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar" style="transform: scaleX(0.10);">
                                        <span class="mdc-linear-progress__bar-inner"></span>
                                    </div><div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                                        <span class="mdc-linear-progress__bar-inner"></span></div></div>
                                </div>
                                <br>

                                <p class="mdc-deprecated-list-divider"></p>
                                <div class="demo-linear-progress-indicator">
                                    
                                    <div id="textbox">
                                        <p style="font-weight: bold" class="alignleft">Área de mejora 2</p>
                                        <p class="alignright">80 / 100</p>
                                    </div>
                                    <div role="progressbar" class="mdc-linear-progress "><div class="mdc-linear-progress__buffering-dots"></div>
                                    <div class="mdc-linear-progress__buffer" style="transform: scaleX(0.80);"></div>
                                    <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar" style="transform: scaleX(0.80);">
                                        <span class="mdc-linear-progress__bar-inner"></span>
                                    </div><div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                                        <span class="mdc-linear-progress__bar-inner"></span></div></div>
                                </div>
                                <br>
                                <p class="mdc-deprecated-list-divider"></p>
                                <div class="demo-linear-progress-indicator">
                                    
                                    <div id="textbox">
                                        <p style="font-weight: bold" class="alignleft">Área de mejora 3</p>
                                        <p class="alignright">100 / 100</p>
                                    </div>
                                    <div role="progressbar" class="mdc-linear-progress "><div class="mdc-linear-progress__buffering-dots"></div>
                                    <div class="mdc-linear-progress__buffer" style="transform: scaleX(100);"></div>
                                    <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar" style="transform: scaleX(100);">
                                        <span class="mdc-linear-progress__bar-inner"></span>
                                    </div><div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                                        <span class="mdc-linear-progress__bar-inner"></span></div></div>
                                </div>
                            </div>
                            <div class="mdc-card__actions">
                                <div class="mdc-card__actions-buttons"></div>
                                <div class="mdc-card__action-icons">
                                    <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon">
                                        <div class="mdc-icon-button__ripple"></div>
                                        more_vert
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                    <div class="container-dashboard--card-info">
                        <div class="mdc-card mdc-card--color-on-primary">
                            <div class="mdc-card__content">
                                <div class="mdc-typography--headline5 s-font-color-secondary">Billera</div>
                                <ul class="mdc-deprecated-list mdc-deprecated-list--two-line mdc-list--avatar-list">
                                    <li role="separator" class="mdc-deprecated-list-divider"></li>
                                    <li class="mdc-deprecated-list-item" tabindex="0">
                                        <span class="mdc-deprecated-list-item__ripple"></span>
                                        <span class="mdc-deprecated-list-item__graphic material-icons s-font-color-secondary" aria-hidden="true">account_balance_wallet</span>
                                        <span class="mdc-deprecated-list-item__text">
                                            <span class="mdc-deprecated-list-item__primary-text">2,500</span>
                                            <span class="mdc-deprecated-list-item__secondary-text">Créditos disponibles</span>
                                        </span>
                                        <span class="mdc-deprecated-list-item__meta s-font-color-secondary" aria-hidden="true">2,500</span>
                                    </li>
                                    <li role="separator" class="mdc-deprecated-list-divider"></li>
                                    <li class="mdc-deprecated-list-item" tabindex="0">
                                        <span class="mdc-deprecated-list-item__ripple"></span>
                                        <span class="mdc-deprecated-list-item__graphic material-icons s-font-color-secondary" aria-hidden="true">account_balance_wallet</span>
                                        <span class="mdc-deprecated-list-item__text">
                                            <span class="mdc-deprecated-list-item__primary-text">3,300 (-800)</span>
                                            <span class="mdc-deprecated-list-item__secondary-text">17/11/2021 - Digital Center</span>
                                        </span>
                                        <span class="mdc-deprecated-list-item__meta s-font-color-secondary" aria-hidden="true">2,500</span>
                                    </li>
                                    <li role="separator" class="mdc-deprecated-list-divider"></li>
                                    <li class="mdc-deprecated-list-item" tabindex="0">
                                        <span class="mdc-deprecated-list-item__ripple"></span>
                                        <span class="mdc-deprecated-list-item__graphic material-icons s-font-color-secondary" aria-hidden="true">account_balance_wallet</span>
                                        <span class="mdc-deprecated-list-item__text">
                                            <span class="mdc-deprecated-list-item__primary-text">3,800 (-500)</span>
                                            <span class="mdc-deprecated-list-item__secondary-text">08/11/2021 - Marketplace</span>
                                        </span>
                                        <span class="mdc-deprecated-list-item__meta s-font-color-secondary" aria-hidden="true">3,300</span>
                                    </li>
                                    <li role="separator" class="mdc-deprecated-list-divider"></li>
                                </ul>
                            </div>
                            <div class="mdc-card__actions">
                                <div class="mdc-card__actions-buttons">
                                    <button class="mdc-button mdc-button--raised mdc-button--color-secondary mdc-card__action
                                                mdc-card__action--button">
                                        <div class="mdc-button__ripple"></div>
                                        <span class="mdc-button__label">Redimir</span>
                                    </button>
                                </div>
                                <div class="mdc-card__action-icons">
                                    <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon">
                                        <div class="mdc-icon-button__ripple"></div>
                                        receipt
                                    </button>
                                    <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon">
                                        <div class="mdc-icon-button__ripple"></div>
                                        add_circle
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                    <div class="container-dashboard--card-info">
                        <div class="mdc-card mdc-card--color-on-primary">
                            <div class="mdc-card__content">
                                <div class="mdc-typography--headline5 s-font-color-secondary">Gestiones</div>
                                <ul class="mdc-deprecated-list mdc-list--avatar-list">
                                    <li role="separator" class="mdc-deprecated-list-divider"></li>
                                    <li class="mdc-deprecated-list-item" tabindex="0">
                                        <span class="mdc-deprecated-list-item__ripple"></span>
                                        <span class="mdc-deprecated-list-item__graphic material-icons s-font-color-secondary" aria-hidden="true">local_activity</span>
                                        <span class="mdc-deprecated-list-item__text">Solicitar más créditos</span>
                                    </li>
                                    <li role="separator" class="mdc-deprecated-list-divider"></li>
                                    <li class="mdc-deprecated-list-item" tabindex="0">
                                        <span class="mdc-deprecated-list-item__ripple"></span>
                                        <span class="mdc-deprecated-list-item__graphic material-icons s-font-color-secondary" aria-hidden="true">group</span>
                                        <span class="mdc-deprecated-list-item__text">Solicitar permisos de acceso</span>
                                    </li>
                                    <li role="separator" class="mdc-deprecated-list-divider"></li>
                                    <li class="mdc-deprecated-list-item" tabindex="0">
                                        <span class="mdc-deprecated-list-item__ripple"></span>
                                        <span class="mdc-deprecated-list-item__graphic material-icons s-font-color-secondary" aria-hidden="true">verified_user</span>
                                        <span class="mdc-deprecated-list-item__text">Solicitar rol de oferente</span>
                                    </li>
                                    <li role="separator" class="mdc-deprecated-list-divider"></li>
                                </ul>
                            </div>
                            <div class="mdc-card__actions">
                                <div class="mdc-card__actions-buttons"></div>
                                <div class="mdc-card__action-icons">
                                    <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon">
                                        <div class="mdc-icon-button__ripple"></div>
                                        more_vert
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block body_script_section %}
<script src="{{ url_for('static', filename='js/bundle/home-dashboard.min.js') }}"></script>
{% endblock %}