{% extends 'layout_main-drawer--dismissible_footer_topbar.html' %}
{% block page_description %}Innova Mujer Home, Casa, Dashboard, Home{% endblock %}
{% block page_title %}Innova Mujer Home{% endblock %}
{% block css_script_section %}
<style>
    .alignleft {
	float: left;
}
.alignright {
	float: right;
}
</style>
{% endblock %}
{% block body %}
<main class="s-main-content">
    <div class="container-color-background">
        <div class="mdc-layout-grid container-size-s">
            <div class="mdc-layout-grid__inner">

                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-4-tablet">
                    <div class="container-dashboard--messages">
                        <div class="mdc-card mdc-card--color-on-primary">
                            <div class="mdc-tab-bar" role="tablist" data-action-fn="showMessagesContracts">
                                <div class="mdc-tab-scroller">
                                    <div class="mdc-tab-scroller__scroll-area">
                                        <div class="mdc-tab-scroller__scroll-content">
                                            <button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
                                                <span class="mdc-tab__content">
                                                    <span class="mdc-tab__text-label">Mensajes</span>
                                                </span>
                                                <span class="mdc-tab-indicator mdc-tab-indicator--active">
                                                    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                                </span>
                                                <span class="mdc-tab__ripple"></span>
                                            </button>
                                            <button class="mdc-tab" role="tab" aria-selected="true" tabindex="1">
                                                <span class="mdc-tab__content">
                                                    <span class="mdc-tab__text-label">Preguntas frecuentes</span>
                                                </span>
                                                <span class="mdc-tab-indicator">
                                                    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                                </span>
                                                <span class="mdc-tab__ripple"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mdc-card__content container-dashboard--messages-msg">
                                <ul class="mdc-deprecated-list mdc-deprecated-list--two-line mdc-list--avatar-list">
                                    <li class="mdc-deprecated-list-item" tabindex="0">
                                        <span class="mdc-deprecated-list-item__ripple"></span>
                                        <span class="mdc-deprecated-list-item__graphic" aria-hidden="true">
                                            <img src="../static/images/manifest/user_f.svg" alt="Foto Usuario" />
                                        </span>
                                        <span class="mdc-deprecated-list-item__text">
                                            <span class="mdc-deprecated-list-item__primary-text">Hola! Tal como acordamos, acá le comparto el logo para CompraNow</span>
                                            <span class="mdc-deprecated-list-item__secondary-text">Admin Innova</span>
                                        </span>
                                        <span class="mdc-deprecated-list-item__meta material-icons s-font-color-secondary" aria-hidden="true">new_releases</span>
                                    </li>
                                    <li role="separator" class="mdc-deprecated-list-divider"></li>
                                    <li class="mdc-deprecated-list-item">
                                        <span class="mdc-deprecated-list-item__ripple"></span>
                                        <span class="mdc-deprecated-list-item__graphic material-icons" aria-hidden="true">notifications</span>
                                        <span class="mdc-deprecated-list-item__text">
                                            <span class="mdc-deprecated-list-item__primary-text">Recuerda usar los créditos de tu Wallet para gozar de mayores beneficios en Innova Mujer.</span>
                                            <span class="mdc-deprecated-list-item__secondary-text">Notificación Innova</span>
                                        </span>
                                    </li>

                                    <li role="separator" class="mdc-deprecated-list-divider"></li>
                                </ul>
                            </div>
                            <div class="mdc-card__content container-dashboard--messages-cnt container--hidden">
                                <div class="container-dashboard--messages-list-empty">
                                    <ul class="mdc-deprecated-list mdc-deprecated-list--two-line mdc-list--avatar-list">

                                        <li class="mdc-deprecated-list-item">
                                            <span class="mdc-deprecated-list-item__ripple"></span>
                                            <span class="mdc-deprecated-list-item__graphic material-icons" aria-hidden="true">library_books</span>
                                            <span class="mdc-deprecated-list-item__text">
                                                <span class="mdc-deprecated-list-item__primary-text">Como llenar el formulario de inscripción.</span>
                                                <span class="mdc-deprecated-list-item__secondary-text">Admin Innova</span>
                                            </span>
                                        </li>
                                        <li role="separator" class="mdc-deprecated-list-divider"></li>
                                        <li class="mdc-deprecated-list-item">
                                            <span class="mdc-deprecated-list-item__ripple"></span>
                                            <span class="mdc-deprecated-list-item__graphic material-icons" aria-hidden="true">play_arrow</span>
                                            <span class="mdc-deprecated-list-item__text">
                                                <span class="mdc-deprecated-list-item__primary-text">Como llenar el formulario de inscripción.</span>
                                                <span class="mdc-deprecated-list-item__secondary-text">Admin Innova</span>
                                            </span>
                                        </li>
                                        <li role="separator" class="mdc-deprecated-list-divider"></li>
                                        <li class="mdc-deprecated-list-item">
                                            <span class="mdc-deprecated-list-item__ripple"></span>
                                            <span class="mdc-deprecated-list-item__graphic material-icons" aria-hidden="true">play_arrow</span>
                                            <span class="mdc-deprecated-list-item__text">
                                                <span class="mdc-deprecated-list-item__primary-text">Como contactar a un especialista.</span>
                                                <span class="mdc-deprecated-list-item__secondary-text">Admin Innova</span>
                                            </span>
                                        </li>
      
                                    </ul>
                                </div>
                            </div>
                            <div class="mdc-card__actions">
                                <div class="mdc-card__actions-buttons">
                                </div>
                                <div class="mdc-card__action-icons">
                                    <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon">
                                        <div class="mdc-icon-button__ripple"></div>
                                        more_vert
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-color-background">
        <div class="mdc-layout-grid container-size-s">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                    <div class="container-dashboard--card-info">
                        <div class="mdc-card mdc-card--color-on-primary">
                            <div class="mdc-card__content">
                                <div class="mdc-data-table">
                                    <div class="mdc-data-table__table-container">
                                      <table class="mdc-data-table__table" aria-label="Dessert calories">
                                        <thead>
                                          <tr class="mdc-data-table__header-row">
                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Dessert</th>
                                            <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">Carbs (g)</th>
                                            <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">Protein (g)</th>
                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Comments</th>
                                          </tr>
                                        </thead>
                                        <tbody class="mdc-data-table__content">
                                          <tr class="mdc-data-table__row">
                                            <th class="mdc-data-table__cell" scope="row">Frozen yogurt</th>
                                            <td class="mdc-data-table__cell mdc-data-table__cell--numeric">24</td>
                                            <td class="mdc-data-table__cell mdc-data-table__cell--numeric">4.0</td>
                                            <td class="mdc-data-table__cell">Super tasty</td>
                                          </tr>
                                          <tr class="mdc-data-table__row">
                                            <th class="mdc-data-table__cell" scope="row">Ice cream sandwich</th>
                                            <td class="mdc-data-table__cell mdc-data-table__cell--numeric">37</td>
                                            <td class="mdc-data-table__cell mdc-data-table__cell--numeric">4.33333333333</td>
                                            <td class="mdc-data-table__cell">I like ice cream more</td>
                                          </tr>
                                          <tr class="mdc-data-table__row">
                                            <th class="mdc-data-table__cell" scope="row">Eclair</th>
                                            <td class="mdc-data-table__cell mdc-data-table__cell--numeric">24</td>
                                            <td class="mdc-data-table__cell mdc-data-table__cell--numeric">6.0</td>
                                            <td class="mdc-data-table__cell">New filing flavor</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  
                                    <div class="mdc-data-table__pagination">
                                      <div class="mdc-data-table__pagination-trailing">
                                        <div class="mdc-data-table__pagination-rows-per-page">
                                          <div class="mdc-data-table__pagination-rows-per-page-label">
                                            Rows per page
                                          </div>
                                  
                                          <div class="mdc-select mdc-select--outlined mdc-select--no-label mdc-data-table__pagination-rows-per-page-select">
                                            <div class="mdc-select__anchor" role="button" aria-haspopup="listbox"
                                                  aria-labelledby="demo-pagination-select" tabindex="0">
                                              <span class="mdc-select__selected-text-container">
                                                <span id="demo-pagination-select" class="mdc-select__selected-text">10</span>
                                              </span>
                                              <span class="mdc-select__dropdown-icon">
                                                <svg
                                                    class="mdc-select__dropdown-icon-graphic"
                                                    viewBox="7 10 10 5">
                                                  <polygon
                                                      class="mdc-select__dropdown-icon-inactive"
                                                      stroke="none"
                                                      fill-rule="evenodd"
                                                      points="7 10 12 15 17 10">
                                                  </polygon>
                                                  <polygon
                                                      class="mdc-select__dropdown-icon-active"
                                                      stroke="none"
                                                      fill-rule="evenodd"
                                                      points="7 15 12 10 17 15">
                                                  </polygon>
                                                </svg>
                                              </span>
                                              <span class="mdc-notched-outline mdc-notched-outline--notched">
                                                <span class="mdc-notched-outline__leading"></span>
                                                <span class="mdc-notched-outline__trailing"></span>
                                              </span>
                                            </div>
                                  
                                            <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface--fullwidth" role="listbox">
                                              <ul class="mdc-list">
                                                <li class="mdc-list-item mdc-list-item--selected" aria-selected="true" role="option" data-value="10">
                                                  <span class="mdc-list-item__text">10</span>
                                                </li>
                                                <li class="mdc-list-item" role="option" data-value="25">
                                                  <span class="mdc-list-item__text">25</span>
                                                </li>
                                                <li class="mdc-list-item" role="option" data-value="100">
                                                  <span class="mdc-list-item__text">100</span>
                                                </li>
                                              </ul>
                                            </div>
                                          </div>
                                        </div>
                                  
                                        <div class="mdc-data-table__pagination-navigation">
                                          <div class="mdc-data-table__pagination-total">
                                            1‑10 of 100
                                          </div>
                                          <button class="mdc-icon-button material-icons mdc-data-table__pagination-button" data-first-page="true" disabled>
                                            <div class="mdc-button__icon">first_page</div>
                                          </button>
                                          <button class="mdc-icon-button material-icons mdc-data-table__pagination-button" data-prev-page="true" disabled>
                                            <div class="mdc-button__icon">chevron_left</div>
                                          </button>
                                          <button class="mdc-icon-button material-icons mdc-data-table__pagination-button" data-next-page="true">
                                            <div class="mdc-button__icon">chevron_right</div>
                                          </button>
                                          <button class="mdc-icon-button material-icons mdc-data-table__pagination-button" data-last-page="true">
                                            <div class="mdc-button__icon">last_page</div>
                                          </button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                            <div class="mdc-card__actions">
                                <div class="mdc-card__actions-buttons"></div>
                                <div class="mdc-card__action-icons">
                                    <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon">
                                        <div class="mdc-icon-button__ripple"></div>
                                        more_vert
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                    <div class="container-dashboard--card-info">
                        <div class="mdc-card mdc-card--color-on-primary">
                            <div class="mdc-card__content">
                                <div class="mdc-typography--headline5 s-font-color-secondary">Plan de mejora</div>
                                <br>
                                <p class="mdc-deprecated-list-divider"></p>
                                <div class="demo-linear-progress-indicator">
                                    
                                    <div id="textbox">
                                        <p style="font-weight: bold" class="alignleft">Área de mejora 1</p>
                                        <p class="alignright">10 / 100</p>
                                    </div>
                                    <div role="progressbar" class="mdc-linear-progress "><div class="mdc-linear-progress__buffering-dots"></div>
                                    <div class="mdc-linear-progress__buffer" style="transform: scaleX(0.10);"></div>
                                    <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar" style="transform: scaleX(0.10);">
                                        <span class="mdc-linear-progress__bar-inner"></span>
                                    </div><div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                                        <span class="mdc-linear-progress__bar-inner"></span></div></div>
                                </div>
                                <br>

                                <p class="mdc-deprecated-list-divider"></p>
                                <div class="demo-linear-progress-indicator">
                                    
                                    <div id="textbox">
                                        <p style="font-weight: bold" class="alignleft">Área de mejora 2</p>
                                        <p class="alignright">80 / 100</p>
                                    </div>
                                    <div role="progressbar" class="mdc-linear-progress "><div class="mdc-linear-progress__buffering-dots"></div>
                                    <div class="mdc-linear-progress__buffer" style="transform: scaleX(0.80);"></div>
                                    <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar" style="transform: scaleX(0.80);">
                                        <span class="mdc-linear-progress__bar-inner"></span>
                                    </div><div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                                        <span class="mdc-linear-progress__bar-inner"></span></div></div>
                                </div>
                                <br>
                                <p class="mdc-deprecated-list-divider"></p>
                                <div class="demo-linear-progress-indicator">
                                    
                                    <div id="textbox">
                                        <p style="font-weight: bold" class="alignleft">Área de mejora 3</p>
                                        <p class="alignright">100 / 100</p>
                                    </div>
                                    <div role="progressbar" class="mdc-linear-progress "><div class="mdc-linear-progress__buffering-dots"></div>
                                    <div class="mdc-linear-progress__buffer" style="transform: scaleX(100);"></div>
                                    <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar" style="transform: scaleX(100);">
                                        <span class="mdc-linear-progress__bar-inner"></span>
                                    </div><div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                                        <span class="mdc-linear-progress__bar-inner"></span></div></div>
                                </div>
                            </div>
                            <div class="mdc-card__actions">
                                <div class="mdc-card__actions-buttons"></div>
                                <div class="mdc-card__action-icons">
                                    <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon">
                                        <div class="mdc-icon-button__ripple"></div>
                                        more_vert
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                    <div class="container-dashboard--card-info">
                        <div class="mdc-card mdc-card--color-on-primary">
                            <div class="mdc-card__content">
                                <div class="mdc-typography--headline5 s-font-color-secondary">Billera</div>
                                <ul class="mdc-deprecated-list mdc-deprecated-list--two-line mdc-list--avatar-list">
                                    <li role="separator" class="mdc-deprecated-list-divider"></li>
                                    <li class="mdc-deprecated-list-item" tabindex="0">
                                        <span class="mdc-deprecated-list-item__ripple"></span>
                                        <span class="mdc-deprecated-list-item__graphic material-icons s-font-color-secondary" aria-hidden="true">account_balance_wallet</span>
                                        <span class="mdc-deprecated-list-item__text">
                                            <span class="mdc-deprecated-list-item__primary-text">2,500</span>
                                            <span class="mdc-deprecated-list-item__secondary-text">Créditos disponibles</span>
                                        </span>
                                        <span class="mdc-deprecated-list-item__meta s-font-color-secondary" aria-hidden="true">2,500</span>
                                    </li>
                                    <li role="separator" class="mdc-deprecated-list-divider"></li>
                                    <li class="mdc-deprecated-list-item" tabindex="0">
                                        <span class="mdc-deprecated-list-item__ripple"></span>
                                        <span class="mdc-deprecated-list-item__graphic material-icons s-font-color-secondary" aria-hidden="true">account_balance_wallet</span>
                                        <span class="mdc-deprecated-list-item__text">
                                            <span class="mdc-deprecated-list-item__primary-text">3,300 (-800)</span>
                                            <span class="mdc-deprecated-list-item__secondary-text">17/11/2021 - Digital Center</span>
                                        </span>
                                        <span class="mdc-deprecated-list-item__meta s-font-color-secondary" aria-hidden="true">2,500</span>
                                    </li>
                                    <li role="separator" class="mdc-deprecated-list-divider"></li>
                                    <li class="mdc-deprecated-list-item" tabindex="0">
                                        <span class="mdc-deprecated-list-item__ripple"></span>
                                        <span class="mdc-deprecated-list-item__graphic material-icons s-font-color-secondary" aria-hidden="true">account_balance_wallet</span>
                                        <span class="mdc-deprecated-list-item__text">
                                            <span class="mdc-deprecated-list-item__primary-text">3,800 (-500)</span>
                                            <span class="mdc-deprecated-list-item__secondary-text">08/11/2021 - Marketplace</span>
                                        </span>
                                        <span class="mdc-deprecated-list-item__meta s-font-color-secondary" aria-hidden="true">3,300</span>
                                    </li>
                                    <li role="separator" class="mdc-deprecated-list-divider"></li>
                                </ul>
                            </div>
                            <div class="mdc-card__actions">
                                <div class="mdc-card__actions-buttons">
                                    <button class="mdc-button mdc-button--raised mdc-button--color-secondary mdc-card__action
                                                mdc-card__action--button">
                                        <div class="mdc-button__ripple"></div>
                                        <span class="mdc-button__label">Redimir</span>
                                    </button>
                                </div>
                                <div class="mdc-card__action-icons">
                                    <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon">
                                        <div class="mdc-icon-button__ripple"></div>
                                        receipt
                                    </button>
                                    <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon">
                                        <div class="mdc-icon-button__ripple"></div>
                                        add_circle
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                    <div class="container-dashboard--card-info">
                        <div class="mdc-card mdc-card--color-on-primary">
                            <div class="mdc-card__content">
                                <div class="mdc-typography--headline5 s-font-color-secondary">Gestiones</div>
                                <ul class="mdc-deprecated-list mdc-list--avatar-list">
                                    <li role="separator" class="mdc-deprecated-list-divider"></li>
                                    <li class="mdc-deprecated-list-item" tabindex="0">
                                        <span class="mdc-deprecated-list-item__ripple"></span>
                                        <span class="mdc-deprecated-list-item__graphic material-icons s-font-color-secondary" aria-hidden="true">local_activity</span>
                                        <span class="mdc-deprecated-list-item__text">Solicitar más créditos</span>
                                    </li>
                                    <li role="separator" class="mdc-deprecated-list-divider"></li>
                                    <li class="mdc-deprecated-list-item" tabindex="0">
                                        <span class="mdc-deprecated-list-item__ripple"></span>
                                        <span class="mdc-deprecated-list-item__graphic material-icons s-font-color-secondary" aria-hidden="true">group</span>
                                        <span class="mdc-deprecated-list-item__text">Solicitar permisos de acceso</span>
                                    </li>
                                    <li role="separator" class="mdc-deprecated-list-divider"></li>
                                    <li class="mdc-deprecated-list-item" tabindex="0">
                                        <span class="mdc-deprecated-list-item__ripple"></span>
                                        <span class="mdc-deprecated-list-item__graphic material-icons s-font-color-secondary" aria-hidden="true">verified_user</span>
                                        <span class="mdc-deprecated-list-item__text">Solicitar rol de oferente</span>
                                    </li>
                                    <li role="separator" class="mdc-deprecated-list-divider"></li>
                                </ul>
                            </div>
                            <div class="mdc-card__actions">
                                <div class="mdc-card__actions-buttons"></div>
                                <div class="mdc-card__action-icons">
                                    <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon">
                                        <div class="mdc-icon-button__ripple"></div>
                                        more_vert
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                </div>
            </div>
        </div>
    </div>
</main>
<main class="s-main-content">
    <div class="container-color-background">
        <div class="mdc-layout-grid container-size-s">
            <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
                <div class="container-dashboard--messages">
                    <div class="mdc-card mdc-card--color-on-primary">
                        <div class="mdc-tab-bar" role="tablist" data-action-fn="showMessagesContracts">
                            <div class="mdc-tab-scroller">
                                <div class="mdc-tab-scroller__scroll-area">
                                    <div class="mdc-tab-scroller__scroll-content">
                                        <button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
                                            <span class="mdc-tab__content">
                                                <span class="mdc-tab__text-label">Plan de mejora</span>
                                            </span>
                                            <span class="mdc-tab-indicator mdc-tab-indicator--active">
                                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                            </span>
                                            <span class="mdc-tab__ripple"></span>
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mdc-card__content container-dashboard--messages-msg">
                            <div class="mdc-layout-grid__inner">
                                <div class="mdc-layout-grid__cell--span-12-desktop  mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
             
                                    <br>
                        
                                    <table class="mdc-data-table__table_normal" aria-label="Dessert calories">
                                        <thead>
                                          <tr class="mdc-data-table__header-row">
                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">#</th>
                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Acciones </th>
                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Acciones </th>
                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">TIPO EMPRESA </th>
                                            <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">Progreso</th>
                                          </tr>
                                          
                                          
                                          
                                        </thead>
                                        <tbody class="mdc-data-table__content">
                                        {% for action in actions %}                                   
                                          <tr class="mdc-data-table__row">
                                            <th class="mdc-data-table__cell" scope="row">
                                                {{loop.index}}
                                            </th>
                                            <th class="mdc-data-table__cell" scope="row">
                                                <a href="{{ url_for('digitalcenter._resumen_atencion',user_uid=action.id) }}" class="mdc-button mdc-button--raised mdc-button--leading" style="--mdc-ripple-fg-size: 75px; --mdc-ripple-fg-scale: 1.8784232240642684; --mdc-ripple-fg-translate-start: 16.41668701171875px, -7.866668701171875px; --mdc-ripple-fg-translate-end: 25.416671752929688px, -19.5px;">
                                              
                                                    <span class="mdc-button__ripple"></span>
                                                    <i class="material-icons mdc-button__icon" aria-hidden="true">check</i>
                                                    <span class="mdc-button__label">Añadir historial</span>
                                                </a>
                                            </th>
                                            <th class="mdc-data-table__cell" scope="row">
                                                {{action.services.name}}
                                            </th>
                                            <th class="mdc-data-table__cell" scope="row">
                                                {{action.services.catalog_catego.name}}
                                            </th>
                                            <th class="mdc-data-table__cell mdc-data-table__header-cell--numeric" scope="row">
                                                {{action.progress}}

                                            </th>
                    
                                          </tr>
                                          {% endfor %}
    
                                        </tbody>
                                      </table>
                                </div>
  
                                
                              </div>
 
                        </div>
          
                            
                         


                        <div class="mdc-card__actions">
                            <div class="mdc-card__actions-buttons">
                            </div>
                            <div class="mdc-card__action-icons">
                                <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon">
                                    <div class="mdc-icon-button__ripple"></div>
                                    more_vert
                                </button>
                            </div>
                        </div>
                    
                    
                </div>
                </div>
            </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
                    <div class="container-dashboard--card-info">
                        <div class="mdc-card mdc-card--color-on-primary">
                            <div class="mdc-card__content">
                                <div class="mdc-typography--headline5 s-font-color-secondary">Resultados</div>
                                <br>
                                <table class="mdc-data-table__table_normal" aria-label="Dessert calories">
                                    <thead>
                                      <tr class="mdc-data-table__header-row">
                                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">#</th>
                                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">AREA </th>
                                        <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">PUNTAJE TOTAL DEL AREA</th>
                                        

                                        <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">IDEALES</th>
                                        <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">Resultados</th>
                                      </tr>
                                      
                                      
                                      
                                    </thead>
                                    <tbody class="mdc-data-table__content">
                                                                             
                                      <tr class="mdc-data-table__row">
                                        <th class="mdc-data-table__cell" scope="row">
                                           1
                                        </th>
                                        <th class="mdc-data-table__cell" scope="row">
                                            Dirección Estratégica
                                        </th>
                                        <td class="mdc-data-table__cell mdc-data-table__header-cell--numeric" scope="row">
                                            {{ total_direccion_estrategica }}
                                        </td>
                                        <td class="mdc-data-table__cell mdc-data-table__header-cell--numeric" scope="row">
                                            10.00%
                                        </td>
                                        <td class="mdc-data-table__cell mdc-data-table__header-cell--numeric" scope="row">
                                            {{ resultado_direccion_estrategica }}
                                        </td>     
                                      </tr>
                                      <tr class="mdc-data-table__row">
                                        <th class="mdc-data-table__cell" scope="row">
                                           2
                                        </th>
                                        <th class="mdc-data-table__cell" scope="row">
                                            Mercadeo y ventas
                                        </th>
                                        <td class="mdc-data-table__cell mdc-data-table__header-cell--numeric" scope="row">
                                            {{ total_mercadeo_ventas }}
                                        </td>
                                        <td class="mdc-data-table__cell mdc-data-table__header-cell--numeric" scope="row">
                                            25.00%
                                        </td>
                                        <td class="mdc-data-table__cell mdc-data-table__header-cell--numeric" scope="row">
                                            {{ resultado_mercadeo_ventas }}
                                        </td>     
                                      </tr>
                                      <tr class="mdc-data-table__row">
                                        <th class="mdc-data-table__cell" scope="row">
                                           3
                                        </th>
                                        <th class="mdc-data-table__cell" scope="row">
                                            Madurez Digital
                                        </th>
                                        <td class="mdc-data-table__cell mdc-data-table__header-cell--numeric" scope="row">
                                            {{ total_madurez_digital }}
                                        </td>
                                        <td class="mdc-data-table__cell mdc-data-table__header-cell--numeric" scope="row">
                                            10.00%
                                        </td>
                                        <td class="mdc-data-table__cell mdc-data-table__header-cell--numeric" scope="row">
                                            {{ resultado_madurez_digital }}
                                        </td>     
                                      </tr>
                                      <tr class="mdc-data-table__row">
                                        <th class="mdc-data-table__cell" scope="row">
                                           4
                                        </th>
                                        <th class="mdc-data-table__cell" scope="row">
                                            Gestión Financiera
                                        </th>
                                        <td class="mdc-data-table__cell mdc-data-table__header-cell--numeric" scope="row">
                                            {{ total_madurez_digital }}
                                        </td>
                                        <td class="mdc-data-table__cell mdc-data-table__header-cell--numeric" scope="row">
                                            25.00%
                                        </td>
                                        <td class="mdc-data-table__cell mdc-data-table__header-cell--numeric" scope="row">
                                            {{ resultado_madurez_digital }}
                                        </td>     
                                      </tr>
                                      <tr class="mdc-data-table__row">
                                        <th class="mdc-data-table__cell" scope="row">
                                           5
                                        </th>
                                        <th class="mdc-data-table__cell" scope="row">
                                            Gestión de la producción
                                        </th>
                                        <td class="mdc-data-table__cell mdc-data-table__header-cell--numeric" scope="row">
                                            {{ total_gestion_produccion }}
                                        </td>
                                        <td class="mdc-data-table__cell mdc-data-table__header-cell--numeric" scope="row">
                                            25.00%
                                        </td>
                                        <td class="mdc-data-table__cell mdc-data-table__header-cell--numeric" scope="row">
                                            {{ resultado_gestion_produccion }}
                                        </td>     
                                      </tr>
                                      <tr class="mdc-data-table__row">
                                        <th class="mdc-data-table__cell" scope="row">
                                           6
                                        </th>
                                        <th class="mdc-data-table__cell" scope="row">
                                            Organización y Gestión del talento humano
                                        </th>
                                        <td class="mdc-data-table__cell mdc-data-table__header-cell--numeric" scope="row">
                                            {{ total_organizacion_gestion }}
                                        </td>
                                        <td class="mdc-data-table__cell mdc-data-table__header-cell--numeric" scope="row">
                                            10.00%
                                        </td>
                                        <td class="mdc-data-table__cell mdc-data-table__header-cell--numeric" scope="row">
                                            {{ resultado_organizacion_gestion }}
                                        </td>     
                                      </tr>
                                      <tr class="mdc-data-table__row">
                                        <th class="mdc-data-table__cell" scope="row">
                                           7
                                        </th>
                                        <th class="mdc-data-table__cell" scope="row">
                                            Total
                                        </th>
                                        <td class="mdc-data-table__cell mdc-data-table__header-cell--numeric" scope="row">
                                            {{ totalarea }}
                                        </td>
                                        <td class="mdc-data-table__cell mdc-data-table__header-cell--numeric" scope="row">
                                            100.00%
                                        </td>
                                        <td class="mdc-data-table__cell mdc-data-table__header-cell--numeric" scope="row">
                                            {{ totaldiagnostico }}
                                        </td>     
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                            <div class="mdc-card__actions">
                                <div class="mdc-card__actions-buttons"></div>
                                <div class="mdc-card__action-icons">
                                    <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon">
                                        <div class="mdc-icon-button__ripple"></div>
                                        more_vert
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
                    <div class="container-dashboard--card-info">
                        <div class="mdc-card mdc-card--color-on-primary">
                            <div class="mdc-card__content">
                                <div class="mdc-typography--headline5 s-font-color-secondary">RESULTADOS POR CATEGORIA</div>
                                <br>
                                <div id="curve_chart" style="width: 100%; height: 500px"></div>

                            </div>
                            <div class="mdc-card__actions">
                                <div class="mdc-card__actions-buttons"></div>
                                <div class="mdc-card__action-icons">
                                    <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon">
                                        <div class="mdc-icon-button__ripple"></div>
                                        more_vert
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
                    <div class="container-dashboard--card-info">
                        <div class="mdc-card mdc-card--color-on-primary">
                            <div class="mdc-card__content">
                                <div class="mdc-typography--headline5 s-font-color-secondary">RESULTADOS POR CATEGORIA</div>
                                <br>
                    
                                <div id="donutchart" style="width: 100%; height: 500px;"></div>

                            </div>
                            <div class="mdc-card__actions">
                                <div class="mdc-card__actions-buttons"></div>
                                <div class="mdc-card__action-icons">
                                    <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon">
                                        <div class="mdc-icon-button__ripple"></div>
                                        more_vert
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
                    <div class="container-dashboard--card-info">
                        <div class="mdc-card mdc-card--color-on-primary">
                            <div class="mdc-card__content">
                                <div class="mdc-typography--headline5 s-font-color-secondary">RESULTADO DEL DIAGNOSTICO</div>
                                <br>
                    
                                <table class="mdc-data-table__table_normal" aria-label="Dessert calories">
                                    <thead>
                                      <tr class="mdc-data-table__header-row">
                                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">#</th>
                                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">TIPO EMPRESA </th>
                                        <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">RESULTADO</th>
                                      </tr>
                                      
                                      
                                      
                                    </thead>
                                    <tbody class="mdc-data-table__content">
                                                                             
                                      <tr class="mdc-data-table__row">
                                        <th class="mdc-data-table__cell" scope="row">
                                           1
                                        </th>
                                        <th class="mdc-data-table__cell" scope="row">
                                            {{tipo_empresa}}
                                        </th>
                                        <td class="mdc-data-table__cell mdc-data-table__header-cell--numeric" scope="row">
                                            {{ totaldiagnostico }}
                                        </td>
                
                                      </tr>


                                    </tbody>
                                  </table>

                            </div>
                            <div class="mdc-card__actions">
                                <div class="mdc-card__actions-buttons"></div>
                                <div class="mdc-card__action-icons">
                                    <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon">
                                        <div class="mdc-icon-button__ripple"></div>
                                        more_vert
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
</main>
{% endblock %}
{% block body_script_section %}
<script src="{{ url_for('static', filename='js/bundle/home-dashboard.min.js') }}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['AREA', 'IDEALES', 'RESULTADOS'],
      ['Dirección Estratégica',  10,      {{resultado_direccion_estrategica}}],
      ['Mercadeo y ventas',  25,      {{resultado_mercadeo_ventas}}],
      ['Madurez Digital',  10,       {{resultado_madurez_digital}}],
      ['Gestión Financiera',  25,      {{resultado_gestion_financiera}}],
      ['Gestión de la producción',  20,       {{resultado_gestion_produccion}}],
      ['Organización y Gestión del talento humano',  10,      {{resultado_organizacion_gestion}}],
    ]);
  
    var options = {
      title: 'RESULTADOS POR CATEGORIA',
      curveType: 'function',
      legend: { position: 'bottom' }
    };

    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

    chart.draw(data, options);
  }
</script>

<script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['AREA', 'RESULTADOS'],
            ['Dirección Estratégica',     {{resultado_direccion_estrategica}}],
            ['Mercadeo y ventas',        {{resultado_mercadeo_ventas}}],
            ['Madurez Digital',        {{resultado_madurez_digital}}],
            ['Gestión Financiera',       {{resultado_gestion_financiera}}],
            ['Gestión de la producción',      {{resultado_gestion_produccion}}],
            ['Organización y Gestión del talento humano',  {{resultado_organizacion_gestion}}],
        ]);

        var options = {
          title: 'RESULTADOS POR CATEGORIA',
          pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }

  </script>


{% endblock %}