{% extends 'layout_main-drawer--dismissible_footer_topbar.html' %}
{% block page_description %}Innova Mujer Home, Casa, Dashboard, Home{% endblock %}
{% block page_title %}Innova Mujer Home{% endblock %}
{% block css_script_section %}
<style>
    .alignleft {
	float: left;
}
.alignright {
	float: right;
}
</style>
{% endblock %}
{% block body %}

<main class="s-main-content">
    <div class="container-color-background">
        <div class="mdc-layout-grid container-size-s">
            <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
                <div class="container-dashboard--messages">
                    <div class="mdc-card mdc-card--color-on-primary">
                        <div class="mdc-tab-bar" role="tablist" data-action-fn="showMessagesContracts">
                            <div class="mdc-tab-scroller">
                                <div class="mdc-tab-scroller__scroll-area">
                                    <div class="mdc-tab-scroller__scroll-content">
                                        <button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
                                            <span class="mdc-tab__content">
                                                <span class="mdc-tab__text-label">Inscritas</span>
                                            </span>
                                            <span class="mdc-tab-indicator mdc-tab-indicator--active">
                                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                            </span>
                                            <span class="mdc-tab__ripple"></span>
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mdc-card__content container-dashboard--messages-msg">
                            <div class="mdc-layout-grid__inner">
                                <div class="mdc-layout-grid__cell--span-12-desktop  mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
                                    <table id="example" class="mdl-data-table" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>dni</th>
                                                <th>name</th>
                                                <th>company_name</th>
                                                <th>departamento</th>
                                                <th>municipio</th>
                                                <th>correo</th>
                                                <th>phone</th>
                                                <th>cohorte</th>
                                                <th>Elegible</th>
                                                <th>Fecha</th>

                                            </tr>
                                        </thead>
                                        
                                        <tfoot>
                                            <tr>
                                                <th>#</th>
                                                <th>dni</th>
                                                <th>name</th>
                                                <th>company_name</th>
                                                <th>departamento</th>
                                                <th>municipio</th>
                                                <th>correo</th>
                                                <th>phone</th>
                                                <th>cohorte</th>
                                                <th>Elegible</th>
                                                <th>Fecha</th>
                                        
                                            </tr>
                                        </tfoot>
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                          
                                        
                                        
                                        <tbody>
                                            {% for inscripcion in inscripciones %}
                                            <tr>
                                                <td>{{loop.index}}</td>
                                                <td>{{ inscripcion.dni }}</td>
                                                <td>{{ inscripcion.name }}</td>
                                                <td>{{ inscripcion.company_name }}</td>
                                                <td>{{ inscripcion.departamento }}</td>
                                                <td>{{ inscripcion.municipio }}</td>
                                                <td>{{ inscripcion.correo }}</td>
                                                <td>{{ inscripcion.phone }}</td>
                                                <td>{{ inscripcion.cohorte }}</td>
                                                
                                                <td>{{ inscripcion.elegible }}</td>
                                                <td>{{ inscripcion.date_created.strftime('%Y-%m-%d') }}</td>
                                                
                                          
                                            </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                    <br>
                        
                                </div>
  
                                
                              </div>
 
                        </div>
          
                            
                         


                        <div class="mdc-card__actions">
                            <div class="mdc-card__actions-buttons">
                            </div>
                            <div class="mdc-card__action-icons">
                                <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon">
                                    <div class="mdc-icon-button__ripple"></div>
                                    more_vert
                                </button>
                            </div>
                        </div>
                    
                    
                </div>
                </div>
            </div>
 
            </div>
        </div>
    </div>
 
</main>
{% endblock %}
{% block body_script_section %}


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.material.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>



<script type="text/javascript">
$(document).ready(function () {
    $('#example').DataTable({
        autoWidth: false,
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    ,
        columnDefs: [
            {
                targets: ['_all'],
                className: 'mdc-data-table__cell',
            },
        ],
    });
});
  </script>


{% endblock %}