{% extends 'layout_main-drawer_footer_topbar.html' %}
{% block drawer %}
    {{ super() }}
{% endblock %}
{% block drawer_type %}mdc-drawer--dismissible{% endblock %}
{% block topbar %}
    {{ super() }}
{% endblock %}
{% block toptab %}
    {{ super() }}
{% endblock %}
{% block footer %}
    {{ super() }}
{% endblock %}

{% block table_script_section %}
<link 
 rel="stylesheet"
 href="https://cdn.datatables.net/searchpanes/2.1.2/css/searchPanes.dataTables.min.css"
><link 
rel="stylesheet"
href="https://cdn.datatables.net/select/1.6.2/css/select.dataTables.min.css"
>



<script src="{{ url_for('static', filename='js/vendor/datatable/jquery-3.5.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/datatable/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/datatable/dataTables.material.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/datatable/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/datatable/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/datatable/buttons.html5.min.js') }}"></script>

<script src="https://cdn.datatables.net/searchpanes/2.1.2/js/dataTables.searchPanes.min.js"></script>
<script src="https://cdn.datatables.net/select/1.6.2/js/dataTables.select.min.js"></script>


<style>
    .dataTables_filter{
        text-align: center;
    }
    .dataTables_length{
        text-align: center;
    }
</style>

<script type="text/javascript">
$(document).ready(function () {
    console.log('s1')
    $('.data_table_buttons tfoot th').each(function() {
        console.log('so')
        var title = $(this).text();
        $(this).html('<input type="text" placeholder="Filtrar ' + title + '" />');
    });

    $('.data_table').DataTable(
        {
        columnDefs: [
            {
                targets: ['_all'],
                className: 'mdc-data-table__cell',
            },
        ],
        language: {
        url: "{{ url_for('static', filename='js/vendor/datatable/es-ES.json') }}",
    }
    });
    var table = $('.data_table_buttons').DataTable(
        
            {
                
            autoWidth: false,
            dom: 'PBflrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        ,
            columnDefs: [
                {
                    targets: ['_all'],
                    className: 'mdc-data-table__cell',
                },
            ],
            language: {
            url: "{{ url_for('static', filename='js/vendor/datatable/es-ES.json') }}",
        },

        initComplete: function () {
            this.api()
                .columns()
                .every(function () {
                    var column = this;
                    var select = $('<select><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex($(this).val());
 
                            column.search(val ? '^' + val + '$' : '', true, false).draw();
                        });
 
                    column
                        .data()
                        .unique()
                        .sort()
                        .each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>');
                        });
                });
        }
        });



        $('.data_table_buttons_spam').DataTable(
        
        {
        
        autoWidth: false,
        dom: 'Bflrtip',
        'rowsGroup': [0,1],
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    ,
        columnDefs: [
            {
                targets: ['_all'],
                className: 'mdc-data-table__cell',
            },
        ],
        language: {
        url: "{{ url_for('static', filename='js/vendor/datatable/es-ES.json') }}",
    }
    });
});



  </script>



{% endblock %}