{% extends 'layout_main-drawer--dismissible_footer_topbar.html' %}
{% block page_description %}Innova Mujer Home, Casa, Dashboard, Home{% endblock %}
{% block page_title %}Innova Mujer Home{% endblock %}
{% block css_script_section %}
<style>
    .alignleft {
	float: left;
}
.alignright {
	float: right;
}
</style>
{% endblock %}
{% block body %}
<main class="s-main-content">
    <div class="container-color-background">
        <div class="mdc-layout-grid container-size-s">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet 
                            mdc-layout-grid__cell--align-middle">
                    <div class="container-dashboard--profile">
                        <div class="mdc-card mdc-card--color-on-primary">
                            <div class="mdc-card__primary-action" tabindex="0">
                                <div class="mdc-card__media">
                                    <img class="profile-background" src="{{ url_for('static', filename='images/calzadovarela.png') }}" alt="Border Perfil" />
                                    
                                </div>
                                <div class="mdc-card__ripple"></div>
                            </div>
                            <div class="mdc-card__content">
                                <div class="mdc-typography--headline5 s-font-color-secondary">Calzado Varela </div>
                                <div class="mdc-typography--subtitle1">Fabricar y comercializar calzado de cuero </div>
                                <div class="mdc-typography--subtitle1">
                                    <i class="material-icons s-font-color-primary">verified_user</i>
                                    Empresaria 
                                </div>
                                <div class="mdc-typography--subtitle1">
                                    <i class="material-icons s-font-color-primary">business</i>
                                    Lun-Vie, 8am-5pm.
                                </div>
                                <div class="mdc-typography--subtitle1">
                                    <i class="material-icons s-font-color-secondary">place</i>
                                    Tegucigalpa, Honduras.
                                </div>

                                <a href="/form/category/" class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon">
                                    <div class="mdc-icon-button__ripple"></div>
                                    add 
                                </a>
                            </div>
                            <div class="mdc-card__actions">
                                <div class="mdc-card__actions-buttons"></div>
                                <div class="mdc-card__action-icons">
                                    <a href="/form/perfil" class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon">
                                        <div class="mdc-icon-button__ripple"></div>
                                        edit
                                    </a>
                                    


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
                    <div class="container-dashboard--card-info">
                        <div class="mdc-card mdc-card--color-on-primary">
                            <div class="mdc-card__content">
                                <div class="mdc-typography--headline5 s-font-color-secondary">Plan de mejora</div>
                                <br>
                                <p>
                                    LEGALIZACIÓN
                                </p>
                                <p class="mdc-deprecated-list-divider"></p>
                                <div class="demo-linear-progress-indicator">
                                    
                                    <div id="textbox">
                                        <p style="font-weight: bold" class="alignleft">
                                            Asesoria para la formalizacion legal de la empresa 
                                        </p>
                                        <p class="alignright">10 / 100</p>
                                    </div>
                                    <div role="progressbar" class="mdc-linear-progress "><div class="mdc-linear-progress__buffering-dots"></div>
                                        <div class="mdc-linear-progress__buffer" style="transform: scaleX(0.10);"></div>
                                        <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar" style="transform: scaleX(0.10);">
                                            <span class="mdc-linear-progress__bar-inner"></span>
                                        </div><div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                                            <span class="mdc-linear-progress__bar-inner"></span></div>
                                    </div>
                                </div>
                                <center>
                                    <a href="/historial/">
                                        Ver historial
                                    </a>
                                </center>
                                <br>

                                <p class="mdc-deprecated-list-divider"></p>
                                <div class="demo-linear-progress-indicator">
                                    <a href="#">
                                    <div id="textbox">
                                        <p style="font-weight: bold" class="alignleft">
                                            Asesoria para gestión de registros legales: RTN,  registro en cámara de comercio, municipalidad.
                                        </p>
                                        <p class="alignright">80 / 100</p>
                                    </div>
                                    <div role="progressbar" class="mdc-linear-progress "><div class="mdc-linear-progress__buffering-dots"></div>
                                    <div class="mdc-linear-progress__buffer" style="transform: scaleX(0.80);"></div>
                                    <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar" style="transform: scaleX(0.80);">
                                        <span class="mdc-linear-progress__bar-inner"></span>
                                    </div><div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                                        <span class="mdc-linear-progress__bar-inner"></span></div></div>
                                    </a>
                                </div>
                                <br>
                                <p class="mdc-deprecated-list-divider"></p>
                                <p>
                                    ADMINISTRACIÓN
                                </p>
                                <p class="mdc-deprecated-list-divider"></p>
                                <div class="demo-linear-progress-indicator">
                                    
                                    <div id="textbox">
                                        <p style="font-weight: bold" class="alignleft">
                                        Asesoria en la gestión del talento humano.
                                    </p>
                                        <p class="alignright">100 / 100</p>
                                    </div>
                                    <div role="progressbar" class="mdc-linear-progress "><div class="mdc-linear-progress__buffering-dots"></div>
                                    <div class="mdc-linear-progress__buffer" style="transform: scaleX(100);"></div>
                                    <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar" style="transform: scaleX(100);">
                                        <span class="mdc-linear-progress__bar-inner"></span>
                                    </div><div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                                        <span class="mdc-linear-progress__bar-inner"></span></div></div>
                                </div>
                            </div>
                            <div class="mdc-card__actions">
                                <div class="mdc-card__actions-buttons"></div>
                                <div class="mdc-card__action-icons">
                                    <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon">
                                        <div class="mdc-icon-button__ripple"></div>
                                        more_vert
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-color-background">
        <div class="mdc-layout-grid container-size-s">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
                    <div class="container-dashboard--card-info">
                        <div class="mdc-card mdc-card--color-on-primary">
                            <div class="mdc-card__content">
                                <img src="{{ url_for('static', filename='images/secuencia 01_1.gif') }}" style="width: 600px;">

                            </div>
                            <div class="mdc-card__actions">
                                <div class="mdc-card__actions-buttons"></div>
                                <div class="mdc-card__action-icons">
                                    <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon">
                                        <div class="mdc-icon-button__ripple"></div>
                                        more_vert
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                    <div class="container-dashboard--card-info">
                        <div class="mdc-card mdc-card--color-on-primary">
                            <div class="mdc-card__content">
                                <div class="mdc-typography--headline5 s-font-color-secondary">Billera</div>
                                <ul class="mdc-deprecated-list mdc-deprecated-list--two-line mdc-list--avatar-list">
                                    <li role="separator" class="mdc-deprecated-list-divider"></li>
                                    <li class="mdc-deprecated-list-item" tabindex="0">
                                        <span class="mdc-deprecated-list-item__ripple"></span>
                                        <span class="mdc-deprecated-list-item__graphic material-icons s-font-color-secondary" aria-hidden="true">account_balance_wallet</span>
                                        <span class="mdc-deprecated-list-item__text">
                                            <span class="mdc-deprecated-list-item__primary-text">2,500</span>
                                            <span class="mdc-deprecated-list-item__secondary-text">Créditos disponibles</span>
                                        </span>
                                        <span class="mdc-deprecated-list-item__meta s-font-color-secondary" aria-hidden="true">2,500</span>
                                    </li>
                                    <li role="separator" class="mdc-deprecated-list-divider"></li>
                                    <li class="mdc-deprecated-list-item" tabindex="0">
                                        <span class="mdc-deprecated-list-item__ripple"></span>
                                        <span class="mdc-deprecated-list-item__graphic material-icons s-font-color-secondary" aria-hidden="true">account_balance_wallet</span>
                                        <span class="mdc-deprecated-list-item__text">
                                            <span class="mdc-deprecated-list-item__primary-text">3,300 (-800)</span>
                                            <span class="mdc-deprecated-list-item__secondary-text">17/11/2021 - Digital Center</span>
                                        </span>
                                        <span class="mdc-deprecated-list-item__meta s-font-color-secondary" aria-hidden="true">2,500</span>
                                    </li>
                                    <li role="separator" class="mdc-deprecated-list-divider"></li>
                                    <li class="mdc-deprecated-list-item" tabindex="0">
                                        <span class="mdc-deprecated-list-item__ripple"></span>
                                        <span class="mdc-deprecated-list-item__graphic material-icons s-font-color-secondary" aria-hidden="true">account_balance_wallet</span>
                                        <span class="mdc-deprecated-list-item__text">
                                            <span class="mdc-deprecated-list-item__primary-text">3,800 (-500)</span>
                                            <span class="mdc-deprecated-list-item__secondary-text">08/11/2021 - Marketplace</span>
                                        </span>
                                        <span class="mdc-deprecated-list-item__meta s-font-color-secondary" aria-hidden="true">3,300</span>
                                    </li>
                                    <li role="separator" class="mdc-deprecated-list-divider"></li>
                                </ul>
                            </div>
                            <div class="mdc-card__actions">
                                <div class="mdc-card__actions-buttons">
                                    <button class="mdc-button mdc-button--raised mdc-button--color-secondary mdc-card__action
                                                mdc-card__action--button">
                                        <div class="mdc-button__ripple"></div>
                                        <span class="mdc-button__label">Redimir</span>
                                    </button>
                                </div>
                                <div class="mdc-card__action-icons">
                                    <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon">
                                        <div class="mdc-icon-button__ripple"></div>
                                        receipt
                                    </button>
                                    <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon">
                                        <div class="mdc-icon-button__ripple"></div>
                                        add_circle
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block body_script_section %}
<script src="{{ url_for('static', filename='js/bundle/home-dashboard.min.js') }}"></script>
{% endblock %}