{% extends 'layout_main-drawer--dismissible_footer_topbar.html' %}
{% block page_description %}Innova, Innova Mujer, Welcome, Home, Inicio, Bienvenida{% endblock %}
{% block page_title %}Welcome - Innova{% endblock %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }} ">
<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }} ">
<style>
    .owl-next {
        padding: 15 !important;
    }

    .owl-stage-outer{
        height: 75vh !important;
    }
    .owl-carousel .owl-item img {
        height: 75vh !important;
    }
    .owl-carousel .owl-nav button.owl-next{
        padding: 1 !important;
    }
 
    .container-color-landingpage{
        background: rgb(134,44,134);
background: linear-gradient(92deg, rgba(134,44,134,1) 33%, rgba(252,252,252,1) 94%);
    }
    .container-color-indicador{
        background: rgb(134,44,134);
background: linear-gradient(40deg, rgb(134, 44, 134) 58%, rgb(252, 252, 252) 100%);
display: block;
width: 100%;
    }

    
    .indicadores-innova{
        color: white;
font-size: 4em;
margin: 0 0 47px 0;
    }
    .indicador-panel{
        margin-bottom: 50px;
        text-align: center;
    
    }

    .mdc-typography-bold{
        font-weight: bold !important;
    }

   .info-innova ul li::marker {
  content: '✓';
  color: #ff6319;
 
  font-size: 2em;
}


.banner-img{
    display: inline-block;
}

@media screen and (max-width: 700px) {
    .banner-img{
        display:none;
    }
    .mdc-typography--headline4{
        font-size: 1.3em;
        margin: 0px;
        padding: 0px;
        line-height:1em
    }
    .mdc-typography--headline5{
        font-size: 1em;
        margin: 0px;
        padding: 0px;
    }
    .owl-stage-outer{
        height: 50vh !important;
    }
    .owl-carousel .owl-item img {
        height: 50vh !important;
    }
}

@media screen and (max-width: 550px) {
    .banner-img{
        display:none;
    }
    .mdc-typography--headline4{
        font-size: 1.3em;
        margin: 0px;
        padding: 0px;
        line-height:1em
    }
    .mdc-typography--headline5{
        font-size: 1em;
        margin: 0px;
        padding: 0px;
    }
    .owl-stage-outer{
        height: 30vh !important;
    }
    .owl-carousel .owl-item img {
        height: 30vh !important;
    }
}
</style>
<style>
    .container1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .box {
        padding: 20px;
        text-align: center;
      
    }

    .box1 {
        background-color: #fd671a;
        color: white;
    }

    .box2 {
        background-color: #ffffff;
        color: #666666;
    }

    .box3 {
        background-color: #41bbd0;
        color: white;
    }
    .lbl_font{
        font-size: 4em;
    }
    .lbl_font-2{
        font-size: 2em;
    }
   .item{
    height: 300px;
   }

    </style>
</style>
<style>
    .s-drawer-app-content {
        background-color: #ffffff;
    }
    .mdc-drawer-app-content{
        background-color: #ffffff;

    }

    .owl-carousel {
        position: relative;
    }

    .owl-nav {
        position: absolute;
        top: 35%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 6em;
    }

    .owl-nav .owl-prev,
    .owl-nav .owl-next {
        font-size: 36px;
        color: white;
        background-color: black;
        border: none;
        padding: 15px!important;;
        cursor: pointer;
       
    }

    .owl-nav .owl-prev:hover,
    .owl-nav .owl-next:hover {
        background-color: gray;
    }
    .bg-1{
       
        background-image:   url("../static/images/bac1.png"); 
        background-size: cover;
    }
</style>
</head>

<div class="owl-carousel">
    <div class="item">
        <img src="{{ url_for('static', filename='images/banners/1.png') }}" alt="Image 1">
    </div>
    <div class="item">
        <img src="{{ url_for('static', filename='images/banners/2.png') }}" alt="Image 2">
    </div>
    <div class="item">
        <img src="{{ url_for('static', filename='images/banners/3.png') }}" alt="Image 3">
    </div>
</div>


<section class="bg-1">
    <br> <br> 

<div >
    <div class="mdc-layout-grid container-size-s">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet 
                        mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle">
                        <div  style="font-size: 2em;">
                            <br>
                            
                            <h4 class="mdc-typography--headline4 " style="color: #666666;font-weight: bold;">
                                ETAPAS DEL PROYECTO
                            </h4>
                            <br>
                            <br>
                   
               
                        </div>
 
          
              
            </div>
            
        
        </div>
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell box box1 ">
                <h1 class="lbl_font">1</h1>
                <p class="lbl_font-2">CAPACITACIÓN INICIAL</p>
                <p class="lbl_font-2">Para 3,500 mujeres por
                    medio de la Plataforma
                    Digital o Presencial</p>
            </div>
            <div class="mdc-layout-grid__cell box box2">
                <h1  class="lbl_font">2</h1>
                <p class="lbl_font-2">SERVICIOS DE DESARROLLO SEGUIMIENTO</p>
                <p class="lbl_font-2">
                    Para 810 Mujeres que cumplen
            los requisitos del proyecto,
            brindados por especialistas
            certificadas/os.
                </p>
            </div>
            <div class="mdc-layout-grid__cell box box3">
                <h1  class="lbl_font">3</h1>
                <p class="lbl_font-2">CAPACITACIÓN INICIAL </p>
                <p class="lbl_font-2">
                    Modulo de autonomia
            economica ciudad
            mujer
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-color-on-primary">
    <div class="mdc-layout-grid container-size-s">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet 
                        mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle">
                        <div class=""  style="font-size: 2em;">

                        
                            <br>
                            
                            <h4 class="mdc-typography--headline4 " style="color: #666666;font-weight: bold;">
                                SOCIOS PRINCIPALES
                            </h4>
                            <br>
                            <br>
                            <br>
                        </div>
                <div  >
                    <img class="resize-image-2fit-70"  src="../static/images/SOCIOS.svg" alt="Logo BID" />
                    <br>
                    <br>
                </div>
          
              
            </div>
            
        
        </div>
      
    </div>
</div>
</section>

<section>
    <center>
       
    </center>
    <br><br>
</section>
<section>
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet 
                    mdc-layout-grid__cell--span-12-phone mdc-layout-grid__cell--align-middle">
            <center>
            <iframe style="width: 70%;" height="450" src="https://www.youtube.com/embed/qUrJN0KNbU4?si=YjThnSpfm7IJqKGF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </center>    <br><br>    <br><br>
        </div>
    </div>
</section>

<main class="s-main-content">

     
    

    <!--
  
    <div class="container-color-background">
        <div class="mdc-layout-grid container-size-m">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-5-desktop mdc-layout-grid__cell--span-4-tablet 
                            mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle">
                    <h4 class="mdc-typography--headline4 s-font-color-secondary" style="margin: 0px;">
                        Innova Mujer Honduras integra distintas áreas de atención.
                    </h4>
                    <p class="mdc-typography--headline5 s-font-color-secondary">
                        Rompiendo las barreras digitales de las empresarias hondureñas, con acciones puntuales en: 
                    </p>
          
                    <div class="info-innova">
                        <ul>     
                            <li>Capacitaciones presenciales y virtuales</li>       
                            <li>Diagnostico Empresarial</li>
                            <li>Asistencia técnica</li>
                            <li>Vinculación</li>
                            <li>Servicios del Programa Presidencial Ciudad Mujer</li>
                        </ul> 
                    </div>
          
                    <div class="mdc-typography--body1">
                           
                    </div>
                    <div class="mdc-typography--body1">
                          
                    </div>
                    <div class="mdc-typography--body1">
                          
                    </div>

                    


 

  

                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7-desktop mdc-layout-grid__cell--span-4-tablet 
                            mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle">
                    <div class="container-justify-center--hor-ver">
                        <img class="resize-image-2fit-70 container-elevation-s" src="../static/images/assets/placeholders/learning.jpg" alt="Aprende Innova" />
                    </div>
                </div>
            </div>
        </div>
    </div>
-->

    <div class="container-color-indicador">

                <div class="mdc-layout-grid container-size-xs">
                    <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet
                                    mdc-layout-grid__cell--span-12-phone mdc-layout-grid__cell--align-middle">
                            <h4 class="mdc-typography--headline4 s-font-color-on-primary" style="color: #666666;font-weight: bold;">
                                LOGROS
                            </h4>

                        </div>

             <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet
                        mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle mdc-layout-grid--align">
                <div class="indicador-panel">
                    <img class="resize-image-2fit-70"  src="{{ url_for('static', filename='images/elegibles.png') }}">
                    <h4 class="indicadores-innova">
                        2,318
                    </h4>

                    <button class="mdc-button mdc-button--raised" aria-label="Ver Folleto" alt="Ver Folleto" data-action-type="redirect" 
                        data-action-val="#onduras.pdf">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label">Elegibles</span>
                    </button>
                </div>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet
                        mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle mdc-layout-grid--align">
                <div class="indicador-panel">
                    <img  class="resize-image-2fit-70"  src="{{ url_for('static', filename='images/capacitadas.png') }}">
                    <h4 class="indicadores-innova">
                        973
                    </h4>

                    <button class="mdc-button mdc-button--raised" aria-label="Ver Folleto" alt="Ver Folleto" data-action-type="redirect" 
                        data-action-val="#onduras.pdf">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label">CAPACITADAS</span>
                    </button>
                </div>
            </div>

            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet
            mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle mdc-layout-grid--align">
            <div class="indicador-panel">
                <img  class="resize-image-2fit-70"  src="{{ url_for('static', filename='images/sde.png') }}">
                <h4 class="indicadores-innova">
                    747
                </h4>
        
                <button class="mdc-button mdc-button--raised" aria-label="Ver Folleto" alt="Ver Folleto" data-action-type="redirect" 
                        data-action-val="#onduras.pdf">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label">RECIBIENDO SDE</span>
                </button>
                </div>
            </div>  

                       
                    </div>
                </div>

    </div>


    <section>
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet 
                        mdc-layout-grid__cell--span-12-phone mdc-layout-grid__cell--align-middle">
                <img style="width: 100%;" src="{{ url_for('static', filename='images/banners/4r.png') }}">
            </div>
        </div>
    </section>
    <div class="container-color-background">
        <div class="mdc-layout-grid container-size-m">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet 
                            mdc-layout-grid__cell--span-12-phone">
                    
                            <iframe src="https://www.google.com/maps/d/embed?mid=1jHQnPhRkqp2iGLbxx_sT40XGEtYof8o&ehbc=2E312F" width="100%" height="560"></iframe>
                </div>
            </div>
        </div>
    </div>
   
</main>
{% endblock %}
{% block bottombar %}
<button id="floatingButton" class="mdc-fab mdc-fab--fixed mdc-fab--whatsapp"
        aria-label="WhatsApp Contact Center" onclick="window.open('https://wa.me/50499993293');">
    <div class="mdc-fab__ripple"></div>
    <span class="mdc-fab__icon fa fa-whatsapp"></span>
</button>
{% endblock %}
{% block body_script_section %}
<script>

function slideShowAutoLast2() {
    let hor = 1;
    Array.from(document.querySelectorAll('.container-carousel')).forEach((slidesContainer) => {
 

        let activeSlide = slidesContainer.querySelector('.container-carousel--item-active');

        var nodes = document.querySelectorAll('.container-carousel--item');
        var nextSlide
        if (activeSlide.getAttribute('order')==0){
            nextSlide = document.querySelector('.container-carousel--item:last-child');
        }else{
            nextSlide = nodes[activeSlide.getAttribute('order')-1];
        }

        if (!nextSlide) {
            nextSlide = slidesContainer.querySelector('.container-carousel--item:first-child');
        }

        activeSlide.classList.remove('container-carousel--item-active', 'animate__animated', 'animate__fadeIn');
        activeSlide.classList.add('container--hidden');
        nextSlide.classList.add('container-carousel--item-active', 'animate__animated', 'animate__fadeIn');
        nextSlide.classList.remove('container--hidden');
    });
    
}


var i = 0;

var inv = setInterval(function() {     
    if(i < 100)
        document.getElementById("counter").innerHTML = ++i;
    else
        clearInterval(inv);
}, 3000 / 100);

</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script>
    $(document).ready(function(){
        $('.owl-carousel').owlCarousel({
            items: 1,
            loop: true,
            autoplay: true,
            autoplayTimeout: 5000, // Cambia la velocidad del carrusel (en milisegundos)
            nav: true, // Muestra las flechas de navegación
        });
    });
</script>

{% endblock %}