{% extends 'layout_main_drawer_table.html' %}
{% block page_description %}Innova Mujer Home, Casa, Dashboard, Home{% endblock %}
{% block page_title %}Innova Mujer Home{% endblock %}
{% block css_script_section %}
<meta http-equiv="Cache-Control" content="no-store">
<style>
    .alignleft {
	float: left;
}
.alignright {
	float: right;
}

  .content {
  display: none;
}

.content--active {
  display: block;
}

.mdc-button--small {
        font-size: 10px; /* Ajusta el tamaño de la fuente según tus necesidades */
    }

    .mdc-button--fullwidth{
        width: 100%;
    }

</style>
<style>
     /* Estilos para filas verdes (menos de 180 días) */
     .green-row {
        background-color: #DFF0D8; /* Verde suave */
    }

    /* Estilos para filas naranjas (entre 180 y 365 días) */
    .orange-row {
        background-color: #FFD699; /* Naranja suave */
    }

    /* Estilos para filas rojas (más de 365 días) */
    .red-row {
        background-color: #FFB2B2; /* Rojo suave */
    }
</style>
{% endblock %}
{% block body %}
<main class="s-main-content">
    <div class="container-color-background">
        <div class="mdc-layout-grid container">
            <div class="mdc-layout-grid__inner">

                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-4-tablet">
                    <div class="container-dashboard--messages">
                        <div class="mdc-card mdc-card--color-on-primary">
                          <div id="profiles" class="mdc-tab-bar" role="tablist" data-assigned-var>
                            <div class="mdc-tab-scroller">
                            <div class="mdc-tab-scroller__scroll-area">
                                <div class="mdc-tab-scroller__scroll-content">
                                <button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
                                    <span class="mdc-tab__content">
                                    <span class="mdc-tab__text-label">ETAPA 1</span>
                                    </span>
                                    <span class="mdc-tab-indicator mdc-tab-indicator--active">
                                    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                    </span>
                                    <span class="mdc-tab__ripple"></span>
                                </button>
                                <button class="mdc-tab mdc-tab" role="tab" aria-selected="true" tabindex="0">
                                    <span class="mdc-tab__content">
                                    <span class="mdc-tab__text-label">ETAPA 2</span>
                                    </span>
                                    <span class="mdc-tab-indicator mdc-tab-indicator">
                                    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                    </span>
                                    <span class="mdc-tab__ripple"></span>
                                </button>
                                <button class="mdc-tab mdc-tab" role="tab" aria-selected="true" tabindex="0">
                                    <span class="mdc-tab__content">
                                    <span class="mdc-tab__text-label">ETAPA 3</span>
                                    </span>
                                    <span class="mdc-tab-indicator mdc-tab-indicator">
                                    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                    </span>
                                    <span class="mdc-tab__ripple"></span>
                                </button>

                         

                                </div>
                            </div>
                            </div>
                        </div>
                            <!-- Inicio  -->
                            <div class="content content--active">
                            
                              <div class="mdc-layout-grid">
                                  <div class="mdc-layout-grid__inner">
                                      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet">
                                        <div class="mdc-data-table" style="background-color: white;width: 100%;" >
                                          <div class="mdc-data-table__table-container">
                                        <table id="etapa_1" class="mdl-data-table_normal data_table_buttons" width="100%" cellspacing="0" style="white-space: normal;">
                                          <thead>
                                          <tr class="mdc-data-table__header-row">
                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">#</th>
                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">#</th>
                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">dni</th>
                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">name </th>
                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">company_name</th>
                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">departamento</th>
                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">municipio</th>
                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">cohorte</th>
                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">estado</th>
                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">course_name</th>
                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">course_manager_name</th>
                                      
                               
                                          </tr>
                                          </thead>
                                          
                                          <tbody id="tableBody" class="mdc-data-table__content">
                                  
                                          </tbody>

                                          </table>
                                          </div>
                                          <div class="mdc-data-table__progress-indicator">
                                          <div class="mdc-data-table__scrim"></div>
                                          <div class="mdc-linear-progress mdc-linear-progress--indeterminate mdc-data-table__linear-progress" role="progressbar" aria-label="Data is being loaded...">
                                          <div class="mdc-linear-progress__buffer">
                                          <div class="mdc-linear-progress__buffer-bar"></div>
                                          <div class="mdc-linear-progress__buffer-dots"></div>
                                          </div>
                                          <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
                                          <span class="mdc-linear-progress__bar-inner"></span>
                                          </div>
                                          <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                                          <span class="mdc-linear-progress__bar-inner"></span>
                                          </div>
                                          </div>
                                          </div>
                                          </div>
                                          
                                      </div>

                                  </div>                            
                              </div>
                  
                          </div>
                          <!-- Lista de usuarios  -->
                          <div class="content content">
                          
                            <div class="mdc-layout-grid">
                                <div class="mdc-layout-grid__inner">
                                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet">
                                      <div class="mdc-data-table" style="background-color: white;width: 100%;" >
                                        <div class="mdc-data-table__table-container">
                                        <table class="mdl-data-table_normal data_table" width="100%" cellspacing="0" style="white-space: normal;">
                                        <thead>
                                        <tr class="mdc-data-table__header-row">
                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">#</th>
                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Opciones</th>
                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">DNI </th>
                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Empresa</th>
                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Empresaria</th>
                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Departamento</th>
                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Municipio</th>
                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Telefono</th>
                                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Creada por</th>
                                          
                                        </tr>
                                        </thead>
                                        
                                        <tbody class="mdc-data-table__content">

                                        </tbody>
                                        </table>
                                        </div>
                                        <div class="mdc-data-table__progress-indicator">
                                        <div class="mdc-data-table__scrim"></div>
                                        <div class="mdc-linear-progress mdc-linear-progress--indeterminate mdc-data-table__linear-progress" role="progressbar" aria-label="Data is being loaded...">
                                        <div class="mdc-linear-progress__buffer">
                                        <div class="mdc-linear-progress__buffer-bar"></div>
                                        <div class="mdc-linear-progress__buffer-dots"></div>
                                        </div>
                                        <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
                                        <span class="mdc-linear-progress__bar-inner"></span>
                                        </div>
                                        <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                                        <span class="mdc-linear-progress__bar-inner"></span>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        
                                    </div>

                                </div>                            
                            </div>
                  
                          </div>
              
                            <!-- Inicio  -->
                        <div class="content content">
    
                        <div class="mdc-layout-grid">
                            <div class="mdc-layout-grid__inner">
                                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet">
                                    <div class="mdc-data-table" style="background-color: white;width: 100%;" >
                                    <div class="mdc-data-table__table-container">
                                      
                                    <table class="mdl-data-table_normal data_table_buttons" width="100%" cellspacing="0" style="white-space: normal;">
                                    <thead>
                                    <tr class="mdc-data-table__header-row">
                                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">#</th>
                                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Opciones</th>
                                        <th>Nombre</th>
                                        <th>Empresa</th>
                                        <th>Fecha de inicio</th>
                                        <th>Avance</th>
                                        <td>Dias</td>  <!-- Agregar days_since_action_plan -->
                                        <td>Asignada</td>  <!-- Agregar days_since_action_plan -->
                                
                                    </tr>
                                    </thead>
                                    
                                    <tbody class="mdc-data-table__content">


                            
                                    </tbody>
                                    <tfoot>
                                        <tr class="mdc-data-table__header-row">
                                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">#</th>
                                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Opciones</th>
                                        <th>Nombre</th>
                                        <th>Empresa</th>
                                        <th>Fecha de inicio</th>
                                        <th>Avance</th>
                                        <td>Dias</td>  <!-- Agregar days_since_action_plan -->
                                        <td>Asignada</td>  <!-- Agregar days_since_action_plan -->
                                        </tr>
                                    </tfoot>
                                    </table>
                                    </div>
                                    <div class="mdc-data-table__progress-indicator">
                                    <div class="mdc-data-table__scrim"></div>
                                    <div class="mdc-linear-progress mdc-linear-progress--indeterminate mdc-data-table__linear-progress" role="progressbar" aria-label="Data is being loaded...">
                                    <div class="mdc-linear-progress__buffer">
                                    <div class="mdc-linear-progress__buffer-bar"></div>
                                    <div class="mdc-linear-progress__buffer-dots"></div>
                                    </div>
                                    <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
                                    <span class="mdc-linear-progress__bar-inner"></span>
                                    </div>
                                    <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                                    <span class="mdc-linear-progress__bar-inner"></span>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    
                                </div>

                            </div>                            
                        </div>
            
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
{% endblock %}
{% block body_script_section %}
<script src="{{ url_for('static', filename='js/dc.js') }}"></script>


<script>
    function setJson(data){
        jsonData =data
    }
    window.addEventListener('load', function() {

    int()
    })

    function int(){
        let apiUrl = `/api/combined_data`;
        let headers = new Headers();
        let requestOptions = {
            method: 'GET',
            headers: headers,
            redirect: 'follow'
        };

        swcms.getFetch(apiUrl, 'loadCompany', requestOptions).then((data) => {

        });
    }
    function loadCompany(data){
        $('#etapa_1').DataTable().clear();;
        $('#etapa_1').DataTable().destroy();
        setJson(data)
        console.log(jsonData)
        const tableBody = document.getElementById("tableBody");
        let secuencia = 1
        jsonData.forEach(record => { 
        const row = document.createElement("tr");
        
            let ids = document.createElement("td");
            ids.textContent = secuencia;
            row.appendChild(ids);
            secuencia = secuencia + 1
        // Create and append table cells

        const fields = ["id", "dni", "name", "company_name", "departamento", "municipio","cohorte","estado","course_name","course_manager_name"];
        


        fields.forEach(field => {
            const cell = document.createElement("td");
            cell.textContent = record[field];
            row.appendChild(cell);
        });

        tableBody.appendChild(row);
        }) ;

        console.log('s1')

    var table = $('#etapa_1').DataTable(
        
            {
                
            autoWidth: false,
            dom: 'PBflrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        ,
            columnDefs: [
                {
                    targets: ['_all'],
                    className: 'mdc-data-table__cell',
                },
            ],
            language: {
            url: "{{ url_for('static', filename='js/vendor/datatable/es-ES.json') }}",
        },

        initComplete: function () {
            this.api()
                .columns()
                .every(function () {
                    var column = this;
                    var select = $('<select><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex($(this).val());
 
                            column.search(val ? '^' + val + '$' : '', true, false).draw();
                        });
 
                    column
                        .data()
                        .unique()
                        .sort()
                        .each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>');
                        });
                });
        }
        });







    
    }
</script>
{% endblock %}