{% extends 'layout_main_drawer_table.html' %}
{% block page_description %}Innova Mujer Home, Casa, Dashboard, Home{% endblock %}
{% block page_title %}Innova Mujer Home{% endblock %}
{% block css_script_section %}
<style>
    .alignleft {
	float: left;
}
.alignright {
	float: right;
}
</style>
{% endblock %}
{% block body %}
<main class="s-main-content">

    <div class="container-color-background">
        <div class="mdc-layout-grid container-size-s">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                    <div class="mdc-layout-grid container-stats">
                        <div class="mdc-layout-grid__inner">
                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet
                                        mdc-layout-grid__cell--span-12-phone mdc-layout-grid__cell--align-top container-justify-center">
                                <p class="mdc-typography--subtitle1 s-font-color-primary">
                                    Filtra por fecha:
                                </p>
                                <div>
                                    <label class="mdc-text-field mdc-text-field--filled mdc-text-field--label-floating" id="filter-date" data-assigned-var>
                                        <span class="mdc-text-field__ripple"></span>
                                        <input id="f-filter-date-input" class="mdc-text-field__input" type="text"
                                                aria-labelledby="f-filter-date-label" tabindex="0" value="mm/dd/yyyy">
                                        <span class="mdc-floating-label mdc-floating-label--float-above" id="f-filter-date-label">Filtra por fecha</span>
                                        <span class="mdc-line-ripple"></span>
                                    </label>
                                </div>
               
                                <div class="container-stats-export">
                                    <button id="exportExcelButton" class="mdc-button mdc-button--raised button-stats-export--excel"
                                            aria-label="Export to Excel" alt="Export to Excel">
                                        <div class="mdc-button__ripple"></div>
                                        <i class="mdc-button__icon far fa-file-excel" aria-hidden="true"></i>
                                        <span class="mdc-button__label">Buscar</span>
                                    </button>
                           
                                </div>
                            </div>
 
                        </div>
                    </div>
                </div>

          
        
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                    <div class="container-dashboard--card-info">
                        <div class="mdc-card mdc-card--color-on-primary">
                            <div class="mdc-card__content">
                                <div class="mdc-data-table">
                                    <div class="mdc-data-table__table-container">
                                        <table class="mdl-data-table_normal data_table_buttons" width="100%" cellspacing="0" style="white-space: normal;">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Nombre</th>
                                                    <th>Especilidad</th>
                                                    <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric">Empresas atendidas</th>
                                                    <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric">Empresas referidas atendidas</th>
                                                    <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric">Diagnósticos</th>
                                                    <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric">Planes de acción</th>
                                                    <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" >Servicios</th>
                                                </tr>
                                            </thead>
                                            
                                            <tfoot>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Nombre</th>
                                                    <th>Especilidad</th>
                                                    <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric">Empresas atendidas</th>
                                                    <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric">Empresas referidas atendidas</th>
                                                    <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric">Diagnósticos</th>
                                                    <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric">Planes de acción</th>
                                                    <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" >Servicios</th>
                                                </tr>
                                            </tfoot>
                                            
                                            <tbody>
                                                {% for dato in datos %}
    
                                                <tr>
                                             
                                                    <td>{{loop.index}}</td>
                                                    <th>{{ dato['nombre'] }}</th>
                                                    <th>{{ dato['profesion'] }}</th>
                        
                                                    <th class="mdc-data-table__cell mdc-data-table__cell--numeric">{{ dato['company'] }}</th>
                                                    <th class="mdc-data-table__cell mdc-data-table__cell--numeric">{{ dato['company_references'] }}</th>
                                                    <th class="mdc-data-table__cell mdc-data-table__cell--numeric">{{ dato['diagnosticos'] }}</th>
                                                    <th class="mdc-data-table__cell mdc-data-table__cell--numeric">{{ dato['planes'] }}</th>
                                                    <th class="mdc-data-table__cell mdc-data-table__cell--numeric">0</th>
                    
                                              
                                                </tr>
                                                {% endfor %}
    
                                            </tbody>
                                        </table>
                                    </div>
                                  
                               
                                  </div>
                            </div>
                            <div class="mdc-card__actions">
                                <div class="mdc-card__actions-buttons"></div>
                                <div class="mdc-card__action-icons">
                                    <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon">
                                        <div class="mdc-icon-button__ripple"></div>
                                        more_vert
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

{% endblock %}
{% block body_script_section %}
<script src="{{ url_for('static', filename='js/bundle/stats.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bundle/home-dashboard.min.js') }}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['AREA', 'IDEALES', 'RESULTADOS'],
      ['Dirección Estratégica',  10,      {{resultado_direccion_estrategica}}],
      ['Mercadeo y ventas',  25,      {{resultado_mercadeo_ventas}}],
      ['Madurez Digital',  10,       {{resultado_madurez_digital}}],
      ['Gestión Financiera',  25,      {{resultado_gestion_financiera}}],
      ['Gestión de la producción',  20,       {{resultado_gestion_produccion}}],
      ['Organización y Gestión del talento humano',  10,      {{resultado_organizacion_gestion}}],
    ]);
  
    var options = {
      title: 'RESULTADOS POR CATEGORIA',
      curveType: 'function',
      legend: { position: 'bottom' }
    };

    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

    chart.draw(data, options);
  }
</script>

<script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['AREA', 'RESULTADOS'],
            ['Dirección Estratégica',     {{resultado_direccion_estrategica}}],
            ['Mercadeo y ventas',        {{resultado_mercadeo_ventas}}],
            ['Madurez Digital',        {{resultado_madurez_digital}}],
            ['Gestión Financiera',       {{resultado_gestion_financiera}}],
            ['Gestión de la producción',      {{resultado_gestion_produccion}}],
            ['Organización y Gestión del talento humano',  {{resultado_organizacion_gestion}}],
        ]);

        var options = {
          title: 'RESULTADOS POR CATEGORIA',
          pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }

  </script>


{% endblock %}