{% extends 'layout_main_drawer_table.html' %}
{% block page_description %}Innova Mujer Home, Casa, Dashboard, Home{% endblock %}
{% block page_title %}Innova Mujer Home{% endblock %}
{% block css_script_section %}
<style>
    .alignleft {
	float: left;
}
.alignright {
	float: right;
}
</style>
{% endblock %}
{% block body %}

<main class="s-main-content">
    <div class="container-color-background">
        <div class="mdc-layout-grid container-size-s">
            <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
                <div class="container-dashboard--messages">
                    <div class="mdc-card mdc-card--color-on-primary">
                        <div class="mdc-tab-bar" role="tablist" data-action-fn="showMessagesContracts">
                            <div class="mdc-tab-scroller">
                                <div class="mdc-tab-scroller__scroll-area">
                                    <div class="mdc-tab-scroller__scroll-content">
                                        <button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
                                            <span class="mdc-tab__content">
                                                <span class="mdc-tab__text-label">Inscritas</span>
                                            </span>
                                            <span class="mdc-tab-indicator mdc-tab-indicator--active">
                                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                            </span>
                                            <span class="mdc-tab__ripple"></span>
                                        </button>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mdc-card__content container-dashboard--messages-msg">
                            <div class="mdc-layout-grid__inner"> 
                                <div class="mdc-layout-grid__cell--span-12-desktop  mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
                                    <table class="mdl-data-table data_table_buttons" >
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>ELEGIBLE</th>
                                                
                                                <th>¿Conoce los servicios que ofrece INNOVA?</th>
                                                <th>¿Qué servicios requiere de INNOVA?</th>
                                                <th>¿Por qué considera que requiere esos servicios?</th>
                                                <th><b>1.1</b> Nombre Completo</th>
                                                <th><b>1.2</b> N. Identidad:</th>
                                                <th><b>1.3</b> Teléfono de contacto:</th>
                                                <th><b>1.4</b> Departamento</th>
                                                <th><b>1.5</b> Municipio</th>
                                                <th><b>1.6</b> Edad</th>
                                                <th><b>1.7</b> ¿A quién más de la empresa se pueda contactar?</th>
                                                <th><b>1.8</b> Correo</th>
                                                <th><b>1.9</b> Cuenta de facebook</th>
                                                <th><b>1.10</b> Otra red social</th>
                                                <th><b>1.11</b> ¿Por qué medio prefiere recibir información de su aplicación al proyecto INNOVAMUJER? </th>
                                                <th>
                                                    <b>2.1</b> Último nivel educativo aprobado:
                                                </th>
                                                <th>
                                                    <b>2.2</b> Qué dispositivos utiliza para conexión a internet:
                                                </th>
                                                <th>
                                                    <b>2.3</b> Calidad del Internet:
                                                </th>
                                                <th>
                                                    <b>2.4</b> Pertenece a un grupo poblacional étnico: 
                                                </th>
                                                <th>
                                                    <b>2.5</b> Origen étnico 
                                                </th>
                                                <th>
                                                    <b>2.6</b> Cargo que Ud. desempeña
                                                </th>
                                                <th>
                                                    <b>2.7</b> Actualmente usted participa de algún programa o proyecto de apoyo a la MIPYME:
                                                </th>
                                                <th>
                                                    <b>2.8</b> ¿Me podría por favor indicar cuáles de los siguientes cargos en su empresa son ocupados por un hombre o una mujer?
                                                </th>
                                                <th>
                                                    <b>3.1</b> Nombre de la empresa: 
                                                </th>
                                                <th>
                                                    <b>3.2</b> Cuenta con local propio o es alquilado: 
                                                </th>
                                                <th>
                                                    <b>3.3</b> Su empresa está formalizada: 
                                                </th>
                                                <th>
                                                    <b>3.4</b> Teléfono de contacto:
                                                </th>
                                                <th>
                                                    <b>3.5</b> Departamento
                                                </th>
                                                <th>
                                                    <b>3.6</b> Municipio
                                                </th>
                                                <th>
                                                    <b>3.7</b> Ciudad 
                                                </th>
                                                <th>
                                                    <b>3.8</b> Dirección
                                                </th>
                                                <th>
                                                    <b>3.9</b> Correo de la empresa
                                                </th>
                                                <th>
                                                    <b>3.10</b> Su página web o red social empresarial
                                                </th>
                                                <th>
                                                    <b>3.11</b> Años de fundación de la empresa 
                                                </th>

                                                <th>
                                                    <b>3.12</b> Actividad principal de la empresa 
                                                </th>
                                                <th>
                                                    <b>3.13</b> ¿Qué porcentaje de accionistas mujeres esta conformada la empresa?
                                                </th>
                                                <th>
                                                    <b>3.14</b> Su organización o cooperativa ¿Cuentan con una junta directiva?
                                                </th>
                                                <th>
                                                    <b>3.15</b> ¿Cuántos son los miembros de la junta directiva de la empresa?
                                                </th>
                                                <th>
                                                    <b>3.16</b> ¿Cuántas son mujeres?
                                                </th>
                                                <th>
                                                    <b>3.17</b> Incluyendo a usted, ¿Cuántos empleados a tiempo completo tuvo su empresa en el último año? 
                                                </th>
                                                <th>
                                                    <b>3.18</b>  ¿Cuántos empleados temporales tuvo su empresa en el último año? 
                                                </th>
                                                <th>
                                                    <b> 3.19 </b> Incluyendo a usted,  ¿Cuántos empleados a tiempo completo tuvo su empresa el año antepasado? 
                                                </th>
                                                <th>
                                                    <b> 3.20 </b> ¿Cuántos empleados temporales tuvo su empresa en el año antepasado? *
                                                </th>
                                                <th>
                                                    <b>3.21</b> El mercado de su producto o servicio es (marque todas las opciones que apliquen):<span class="required">*</span>
                                                </th>
                                                <th>
                                                    <b>3.22</b> ¿Cuál fue el volumen de ventas de su empresa en el último año? 
                                                </th>
                                                <th>
                                                    <b>3.23</b> ¿Cuál fue el valor total de las utilidades de su empresa, en el último año? * 
                                                </th>
                                                <th>
                                                    <b>3.24</b> En el último año, ¿su empresa tuvo acceso a crédito de alguna institución del sistema financiero (banco, cooperativa, micro financiera, caja de ahorros, etc.)? *
                                                </th>
                                                <th>
                                                    <b>3.25</b> ¿Cuál fue el rango de activos de su empresa en su último año? * 
                                                </th>
                                                <th>
                                                    <b>3.26</b> Si dijo que sí a la pregunta 3.24, ¿en el último año cuál es el monto de crédito que su empresa recibió?:* 
                                                </th>
                                                <th>
                                                    <b>3.27</b> En qué tipo de institución financiera ha obtenido su crédito * 
                                                </th>
                                                <th>
                                                    <b>3.28</b> ¿Cuáles de los siguientes aspectos describe mejor su objetivo principal con la participación en INNOVAMUJER HONDURAS? (seleccione por orden de prioridad los 3 más importantes, siendo 1 el más importante, 2 importante y 3 menos importante): * 
                                                </th>
                                                <th>
                                                    <b>3.29</b>¿A cuánto ascienden los activos con que cuenta tu empresa? 
                                                </th>
                                                <th>
                                                    <b>4.1</b> Estatus
                                                </th>
                                                <th>
                                                    <b>4.2</b> Tipo de formalización
                                                </th>
                                                <th>
                                                    <b>4.3</b> Registros pendientes
                                                </th>
                                                <th>
                                                    <b>4.4</b> ¿Como se enteró de Innova? 
                                                </th>
                                               
                                            </tr>
                                        </thead>
             
                                        
                                        <tbody>
                                            {% for inscripcion in respuesta %}

                                            <tr>
                                         
                                                <th>{{loop.index}}</th>

                                                
                                               {% for inscrip in inscripcion %}

                                               
                                               {% if inscrip['id'] == 'PVA' %}
                                               <th>
                                                   {{ inscrip['respuesta'] }}
                                               </th>
                                               {% endif %}
                                                    {% if inscrip['id'] == 'A' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                               
                                               
                                                    {% if inscrip['id'] == 'B' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                               
                                               
                                                    {% if inscrip['id'] == 'C' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                                

                                                    
                                                    {% if inscrip['id'] == '1_1' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                                
                                                    
                                                    {% if inscrip['id'] == '1_2' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                                
                                                    
                                                    {% if inscrip['id'] == '1_3' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                                
                                                    
                                                    {% if inscrip['id'] == '1_4' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                                
                                                    
                                                    {% if inscrip['id'] == '1_5' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                                
                                                   
                                                    {% if inscrip['id'] == '1_6' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                                
                                                    
                                                    {% if inscrip['id'] == '1_7' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                               
                                                    
                                                    {% if inscrip['id'] == '1_8' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                               
                                                    
                                                    {% if inscrip['id'] == '1_9' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                               
                                                   
                                                    {% if inscrip['id'] == '1_10' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                               
                                                    
                                                    {% if inscrip['id'] == '1_11' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                               
                                                    
                                                    {% if inscrip['id'] == '2_1' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                                
                                                  
                                                    {% if inscrip['id'] == '2_2' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                               
                                                   
                                                    {% if inscrip['id'] == '2_3' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                               
                                                    
                                                    {% if inscrip['id'] == '2_4' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                                
                                                    
                                                    {% if inscrip['id'] == '2_5' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                                
                                                    
                                                    {% if inscrip['id'] == '2_6' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                                    
                                                    {% if inscrip['id'] == '2_7' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                               
                                                    
                                                    {% if inscrip['id'] == '2_8' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                                
                                                    
                                                    {% if inscrip['id'] == '3_1' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                                
                                                    {% if inscrip['id'] == '3_2' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                                    
                                                    {% if inscrip['id'] == '3_3' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                               
                                                    
                                                    {% if inscrip['id'] == '3_4' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                                
                                                    
                                                    {% if inscrip['id'] == '3_5' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                               
                                                    
                                                    {% if inscrip['id'] == '3_6' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                               
                                                    
                                                    {% if inscrip['id'] == '3_7' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                              
                                                    
                                                    {% if inscrip['id'] == '3_8' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                                
                                                    
                                                    {% if inscrip['id'] == '3_9' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                                
                                                    
                                                    {% if inscrip['id'] == '3_10' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                                
                                                    
                                                    {% if inscrip['id'] == '3_11' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                            
                                                   
                                                    {% if inscrip['id'] == '3_12' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                                
                                                   
                                                    {% if inscrip['id'] == '3_13' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                                    </th>
                                                    {% if inscrip['id'] == '3_14' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                                  
                                                    {% if inscrip['id'] == '3_15' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                                    
                                                   
                                                    {% if inscrip['id'] == '3_16' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                                    
                                                   
                                                    {% if inscrip['id'] == '3_17' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                                   
                                                    
                                                    {% if inscrip['id'] == '3_18' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                                   
                                                    {% if inscrip['id'] == '3_19' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                                    
                                                    
                                                   
                                                    
                                                    {% if inscrip['id'] == '3_20' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                                    
                                                    
                                                   
                                        
                                                    {% if inscrip['id'] == '3_21' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                                    
                                                    
                                                    
                                                    
                                                    {% if inscrip['id'] == '3_22' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                                    
                                                    
                                                    {% if inscrip['id'] == '3_23' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                                    
                                                    
                                                    
                                                    
                                                    {% if inscrip['id'] == '3_24' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                           
                                                    
                                                    {% if inscrip['id'] == '3_25' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                                    
                                                    
                                                    
                                                    
                                                    {% if inscrip['id'] == '3_26' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                                   
                                                    {% if inscrip['id'] == '3_27' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                                   
                                                    
                                                    {% if inscrip['id'] == '3_28' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                                    
                                                    {% if inscrip['id'] == '3_29' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                                    
                                                   
                                                    {% if inscrip['id'] == '4_1' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                                   
                                                    
                                                    {% if inscrip['id'] == '4_2' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                            
                                                   
                                                    {% if inscrip['id'] == '4_3' %}
                                                    <th>
                                                        {{ inscrip['respuesta'] }}
                                                    </th>
                                                    {% endif %}
                                                   
                                                    
                                                        {% if inscrip['id'] == '4_4' %}
                                                            <th>
                                                        {{ inscrip['respuesta'] }}
                                                            </th>
                                                        {% endif %}
                                                    
                                                 
                                                   
                                                   

                                                
                                                {% endfor %}
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <br>
                        
                                </div>
  
                                
                              </div>
 
                        </div>
          
                            
                         


                        <div class="mdc-card__actions">
                            <div class="mdc-card__actions-buttons">
                            </div>
                            <div class="mdc-card__action-icons">
                                <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon">
                                    <div class="mdc-icon-button__ripple"></div>
                                    more_vert
                                </button>
                            </div>
                        </div>
                    
                    
                </div>
                </div>
            </div>
 
            </div>
        </div>
    </div>
 
</main>
{% endblock %}
