{% extends 'layout_main-drawer--dismissible_footer_topbar.html' %}
{% block page_description %}Innova Mujer Home, Casa, Dashboard, Home{% endblock %}
{% block page_title %}Innova Mujer Home{% endblock %}
{% block css_script_section %}
<style>
    .alignleft {
	float: left;
}
.alignright {
	float: right;
}
<style>
.accordion {
  background-color: #6BC4D0;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion:hover {
  color: #952d98;
}
.active, .accordion:hover {
  background-color: white; 
  color: #952d98;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  color: #665;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.section-questions{
  padding-bottom: 20px;
  width: 89%;
  text-align: justify;
  margin: 0 auto;
}
.mdc-typography-questions{
  font-size: 1.3em;
  margin: 0px
}

 .active .s-font-color-questions{
  color:#952d98 !important
}

.s-font-color-questions {
  color:white
}

.s-font-color-questions:hover {
  color:#952d98
}
.s-font-color-questions .active{
  color:white
}

</style>
{% endblock %}
{% block body %}
<main class="s-main-content">
    <div class="container-color-background">
        <div class="mdc-layout-grid ">
            <div class="mdc-layout-grid__inner">

                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet">
                    <div class="container-dashboard--messages">
                        <div class="mdc-card mdc-card--color-on-primary">
                            <div class="mdc-tab-bar" role="tablist" data-action-fn="showMessagesContracts">
                                <div class="mdc-tab-scroller">
                                    <div class="mdc-tab-scroller__scroll-area">
                                        <div class="mdc-tab-scroller__scroll-content">
                                            <button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
                                                <span class="mdc-tab__content">
                                                    <span class="mdc-tab__text-label">TALLERES </span>
                                                </span>
                                                <span class="mdc-tab-indicator mdc-tab-indicator--active">
                                                    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                                </span>
                                                <span class="mdc-tab__ripple"></span>
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mdc-card__content container-dashboard--messages-msg">

                                
                                <div class="container-dashboard--messages-list-empty ">
                                    <div class="mdc-layout-grid">
                                        <div class="mdc-layout-grid__inner">
                                          <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-phone">
                                            <div class="mdc-typography--body1">
                                                Datos del la jornada
                                            </div>
  
                                          </div>
                                          
                                          <input type="hidden" aria-labelledby="my-label-id" id="txt_id" value="">

                                          <div class="mdc-layout-grid__cell--span-12-desktop  mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
                                            <div class="mdc-typography--body1">
                                                Lugar
                                            </div>
                                            <label class="mdc-text-field mdc-text-field--filled" id="txt_lugar" data-assigned-var>
                                                <span class="mdc-text-field__ripple"></span>
                                                <span class="mdc-floating-label" id="lbl_name" hiddenlabel="Lugar"  >Lugar</span>
                                                <input required class="mdc-text-field__input"  type="text" aria-labelledby="lbl_name" value="" >
                                                <span lass="mdc-line-ripple"></span>
                                            </label>
                                        </div>
                                        <div class="mdc-layout-grid__cell--span-12-desktop  mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
                                            <div class="mdc-typography--body1">
                                                Fecha inicio
                                            </div>
                                            <label class="mdc-text-field mdc-text-field--filled" id="txt_fecha_inicio" data-assigned-var>
                                                <span class="mdc-text-field__ripple"></span>
                                                <span class="mdc-floating-label" id="lbl_name" hiddenlabel="Fecha inicio"  >Fecha inicio</span>
                                                <input required class="mdc-text-field__input"  type="date" aria-labelledby="Fecha inicio" value="" >
                                                <span lass="mdc-line-ripple"></span>
                                            </label>
                                        </div>
                                        <div class="mdc-layout-grid__cell--span-12-desktop  mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
                                            <div class="mdc-typography--body1">
                                                Fecha final
                                            </div>
                                            <label class="mdc-text-field mdc-text-field--filled" id="txt_fecha_final" data-assigned-var>
                                                <span class="mdc-text-field__ripple"></span>
                                                <span class="mdc-floating-label" id="lbl_name" hiddenlabel="Fecha final"  >Fecha final</span>
                                                <input required class="mdc-text-field__input"  type="date" aria-labelledby="lbl_name" value="" >
                                                <span lass="mdc-line-ripple"></span>
                                            </label>
                                        </div>
                                        <div class="mdc-layout-grid__cell--span-12-desktop  mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
                                            <div class="mdc-typography--body1">
                                                Descripción
                                            </div>
                                            <label class="mdc-text-field mdc-text-field--filled" id="txt_descripcion" data-assigned-var>
                                                <span class="mdc-text-field__ripple"></span>
                                                <span class="mdc-floating-label" id="lbl_name" hiddenlabel="Descripción"  >Descripción</span>
                                                <input required class="mdc-text-field__input"  type="text" aria-labelledby="lbl_name" value="" >
                                                <span lass="mdc-line-ripple"></span>
                                            </label>
                                        </div>

                             

                                          <br>
                                          <br>
    

                                        </div>
                                        <div class="mdc-card__actions" style="justify-content:center;" >
                                            <div class="mdc-card__actions-buttons"></div>
                                            <a class="mdc-button mdc-button--raised mdc-button--leading" style="background-color: #0e76a8">
                                                <span class="mdc-button__ripple"></span>
                                                <i class="material-icons mdc-button__icon" aria-hidden="true"
                                                  >bookmark</i
                                                >
                                                <span class="mdc-button__label">Cancelar</span>
                                            </a>
                                            <button id="submitSaveButton" onclick="generarFicha1()" class="mdc-button mdc-button--raised mdc-button--leading" style="margin-left: 10px;">
                                                <span class="mdc-button__ripple"></span>
                                                <i class="material-icons mdc-button__icon" aria-hidden="true"
                                                  >touch_app</i
                                                >
                                                <span class="mdc-button__label">Guardar</span>
                                            </button>
                                        </div>
                                    </div>

                               
                                </div>
                            </div>
              
                                
                             


                            <div class="mdc-card__actions">
                                <div class="mdc-card__actions-buttons">
                                </div>
                                <div class="mdc-card__action-icons">
                                    <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon">
                                        <div class="mdc-icon-button__ripple"></div>
                                        more_vert
                                    </button>
                                </div>
                            </div>
                        
                        
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</main>
{% endblock %}
{% block body_script_section %}
<script>
  const mdcAssignedVars = {};

window.addEventListener('load', function() {

  swcms.mdcSelects.forEach((sel) => {
    if (sel.assignedVar)
        mdcAssignedVars[sel.assignedVar] = sel;
    });
  swcms.mdcTextInputs.forEach((txt) => {
      if (txt.assignedVar)
          mdcAssignedVars[txt.assignedVar] = txt;
  });

  swcms.mdcCheckbox.forEach((sel) => {
      if (sel.assignedVar)
          mdcAssignedVars[sel.assignedVar] = sel;
  })
  

})
</script>

<script>

  
    function generarFicha1(){

      const Swal = swcms.returnSwal()
  
      let curso = '{{courses.id}}'      
      let postData = {
          
          "curso":curso,
          "txt_lugar" :mdcAssignedVars['txt_lugar'].value,
          "txt_fecha_inicio"  :mdcAssignedVars['txt_fecha_inicio'].value, 
          "txt_fecha_final":mdcAssignedVars['txt_fecha_final'].value,
          "txt_descripcion":mdcAssignedVars['txt_descripcion'].value,
      };

        console.log(postData)

      let apiUrl = '/api/mae/save/workshops/create';


      swcms.postFetch(apiUrl, postData).then((data) => {
          Swal.fire(
          'Éxito',
          'Jornada creada!',
          'success'
          )
          window.setTimeout(() => { window.location.href = '/mae/home'+"" }, 1500);

      }).catch((error) => {
          Swal.fire(
          'Error de conexión',
          'Por favor revisar tu conexión a internet, si el problema persiste contacta al administrador del sistema',
          'error'
          )
          document.getElementById('btn_generar_ficha').disabled = false;
      });

}
</script>
</script>
{% endblock %}